/* Page Layout for MLA */
@page { 
  margin: 72pt 72pt 72pt 72pt;
  font-family: Times New Roman;

  @top {
    text-align: right;
  }
}

/* Double Spaced */
body { line-height: 2em; }
div#title { text-align: center; }
p { 
  text-indent: 0.5in; 
  margin:0;
}

li {
  line-height: 1.5em;
  margin-bottom: .5em;
}

span.small {
  margin-left: 1em;
  font-style: italic;
}


/* MLA Style Works-Cited */
#works-cited {
  page-break-before: always;
}

#works-cited .title {
  text-align: center;
  padding-bottom: 1em;
}

#works-cited .citation {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
