!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      January 20, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title "Do Arifacts Have Politics?"
    %p Langdon Winner shows in his prolific work <i>Do Artifacts Have Politics?</i>, two ways in which artifacts <i>may</i> hold political properties. Irregardless however, he refuses to provide an explicit answer to his question: namely, whether artifacts <i>do</i> or <i>do not</i> have politics.  Winner in not answering this question, separates his <i>theory of technological politics</i> from theories of technological and social determinism.  A wise move, I will explain how he skirts the determinism debates by invoking a phenomenological construel and suggest in conclusion that Winner might opt to rename his work.

    %h2 I. Intro to Winner's Theory of Technological Politics
    %p Winner argues in "Do Artifacts Have Politics?" not that 'artifacts have politics', but rather merely that '(some) artifacts <i>may</i> have politics'. The theory he provides, the <i>theory of technological politics</i>, explains how artifacts may hold political properties in two way manners, as: situationally and inherently.  Before he makes this distinction however, he mentions he is referring to artifacts as being "political phenomena in their own right" in Husserl's sense of "to the things themselves". As such he classifies his mission not as a descriptive project, but rather in a phenomonological (think <i>worlds</i>) and world-based sense. To get a better sense of this, consider the manners in which Winner classifies artifacts as political:

    %p First, he argues that artifacts may have <i>situationally political</i> properties. These artifacts are explicitly designed to settle "an issue in the affairs of a particular community" (Winner, 291). In design, the artifacts are embedded with particular political properties and values. He provides the famous example of the architect, Moses, who designed bridges to Jones Beach too low for buses to pass underneath. In the era Moses built these bridges, blacks had to ride on buses. The net effect was that Moses' design decision prevented blacks from reaching Jones Beach.  The bridges as such have embedded into them political properties of ill intention Moses put into the bridges.  As such, the bridges are <i>situationally</i> political because they exhibit power in a specific context.  On the roads, they blocked the blacks from entering Jones Beach. If placed in the middle of a vast ocean, out of context, the bridges would loose their political property.

    %p Second, he argues that artifacts may have <i>inherentlly political</i> properties. The most fitting antidote he provides in this category is the atom bomb. He argues an atom bomb requires a particular social organizations that is centralized, hierarchical, and authoritarian.  He does concede that these artifacts are not "<i>inherently</i> political in a strong sense of inherent, by hold a political property out of "practical necessity". This means roughly that: yes, there could be a decentralized effort to build a bomb, however it would not resemble in any way the bomb orchestrated by a government (centralized hierarchal, authorian) in function or scale. 

    %h2 II. Winner's Naming Suggests Technological Determinism
    %p What happens if we view the question of Langdon Winner's <i>Do Artifacts Have Politics?</i> literally? I believe quickly you are inclined to quickly invoke the disjunction that: either,

    %ol
      %li (all) artifacts have politics. OR 
      %li (all) artifacts do not have politics.

    %p Winner by omitting (all) or any-other quantifier to scope his question, his title suggests he wishes to provide an established rule. He answer for us us: do artifacts have politics or don't they? As explained earlier, since Winner's project is not descriptive, but is of a phenomenological and perspective affair, Winner would likely scoff at demands for a deliberate answer to this question.  In fact I would like to point out that providing a yes-or-no answer to the question "Do Artifacts Have Politics?" (1 v 2) is analgous to choosing between hard <i>social determinism of technology</i> and hard <i>technological determinism</i>. 
    
    %p Where briefly, theories of the <i>social determination of technology</i> (2) argue that technological artifacts do not hold politics at all. Artifacts being just instrumental, technology cannot have a will of its own. We can trace back technologies' politics back to the social actors and groups who embedded their own politics into artifacts originally.  While, theories of <i>technological determinism</i> (1) argue that technology is itself its own driving force which spurs social and economic change.  Technology in this view, is just "the result of an internal dynamic" and since have gotten rolling, has been shaping and melding society to fit it's patterns" ever since(Winner, 290). 

    %p Understanding the similarity of these disjunctions is critical.  If you choose (1) render hard technological determinism sound and hard social determination of technology unsound. If you choose (2), the logic is inversed.  The problem now becomes: Winner can be taken as arguing in support of (1) merely by providing sufficient conditions for artifacts being political (I). Taken jointly with his title, Winner appears hat-in-hand as a devout technological determinist.
   
    %h2 III. Beyond the Divide of Social &amp; Technological Determinism 

    To support this postulation, Winner suggests that his theory of <i>technological politics</i> has its <i>starting point</i> in making the decision "to take artifacts seriously" (Winner, 290).  Although, Winner may not after all <i>prove</i> that all artifacts have politics, he shows some artifacts may have political and we should attend to these artifacts. That some artifacts have politics is good enough evidence for placing his theory aside theories of technological determinism in light of Winner's suggestive title.



    %p Is (II) correct, is there truley sufficient evidence for suggesting that Winner's theory of technological politics bills itself as a theory of <i>technological determinism</i>?  Winner himself never explicitly tell us that his theory of <i>technological politics</i> is a theory of technological determinism after all. Rather, he merely suggests that his theory is a "necessary complement to, rather than a replacement for,theories of social determination of technology". In analyzing this claim it seems difficult to categorize Winner's theory as an account of technological determinism because theories of the social determinism of technology have contrary goals to theories of technological determinism.  As such, what we must infer is that Winner's theory trascends the division between theories of technological determinism and social determinism.

    %p This makes view makes more sense (than II) because it understands Winner's theory neither as a theory of technological determism nor a theory of the social determinism of technology. Rather his Winner's theory of technological politics values separately components from each camp, disproving or proving neither and focuses more on the phenomenological world surrounding each particular technical artifact. To this extent, Winner does claim that he does not plan to "settle any of the issues here once and for all, but to indicate their general dimensions and significance" (Winner, 290).
    
    %p In defending the notion of "inherently political" technoogies, Winner mentions an example of a ship at sea employed by both Enegls and Plato. Winner asserts a ship at sea stays afloat due to a strong captain and obedient crew.  He suggests as such a ship has the requirement needing a strong captain and an obidient crew. However, he suggests there is some wiggle room in which he sketches out several variants of what could be viewed as weak to strong senses of technological determinism. THe point he makes is that "inherently" political technologies are definied in construal of "practical necessity".  He claims there is wiggle room in interpreting the relationship between people and their technological artifacts.  He ponders: "Are the social conditions predicated said to be required by, or strongly compatible with, the workings of a given technical system? Are those conditions interal to that system or external to it (or both)?" 
    
    %p In his conclusion, by not categorizing his theory as a theory of technological determinism or a theory of the social determination of technology, he suggests he has argued a "both/and" position. He emphasizes we should not be assigning political weight to neither technologies nor their creators because each can embody political positions in different manners. What is important is for us to 

    %h2 IV. In Conclusion
    %p It could be that Winner named his article "Do Artifacts Have Politics?" in irony or as satirical way of our thinking that artifacts either have or do not have politics. Or it could be that he was just trying to be pithy and create an attractive name for what went on to be a classic in the field. 
    %p Regardless, I think his naming was poor in choice. Winner could have only assume with putting forth a question in the name of his article and advancing that aritifacts <i>may</i> have politics he would be subsequently rendered as advancing the camp of technological determinism.  In fact an author in reply to Winner's "Do Artifacts have Politics?" published in the Social Studies of Science indicates that "Winner answer the question as to weather material techical artifacts are intrinsically political with a resounding 'Yes they are!'". Such interpretations of Winner's project wholly miss the cruicial strength of Winner's theory of <i>technological politics</i>. As such, if only to be more explicit, direct, and straightforward in thinking about technical artifacts "How can artifacts have politics?" would have served as a better name for Winner's magnum opus.


    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
