!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Bridging the Gap between Programming and Computiner
   
    
    %p I cringe when I hear someone claim in earnest,  "I am not programmer". My distaste does not stem from my own self-identification as a programmer (among other things), but rather a larger cultural mis-understanding of the gap in the analgoy between computing and programming. What I refer to an overly narrow understanding of the capabilities of us all in an age in which we are immersed in a world of computing. A maxim of my argument would not be understood as "we should all be programmers", but rather "we already all are programmers".  Why I say we already all are programmers is that I see a substantially smaller distance between the analagous of programming and computing 
    
    I simply wish to demystify and provide conceptual ground for understanding programming  in relation to computing. A normative claim, I believe we place far too much boundary between computing and programming. I hope to show a sense of close analogy between programming and computing to my readers such that either one could be seen as interchangable.


    %h2 Forms of Life: Understanding, Making, and Using Technologies: 
    %p We ought understand technology, the larger construct computing is subsumed beneath, in order to grasp the relation between computing and programming. So, what is technology? A common sense approach would suggest that technology is a set of <i>tools</i> or <i>means</i> which assist us in accomplishing some <i>goals</i> or <i>ends</i>. For example, if I have the goal of opening a bottle of beer, I might accomplish this goal by utilizing the technology, or means, of a bottle opener to remove the cap from the bottle. It should be noted though that technology viewed in the manner of as a <i>tool</i> or <i>means</i> is to be taken in the broadest sense possible.  Rendering technology as tools should encompass not only physical tools, but additionally tools of social or mental construct. Joseph Pitt, in his book <i>Thinking About Technology</i> elaborates on this notion by asseriting that historically technology "has been characterized only as mechanical tools", going on to state that this is a flawed conception of technlogy, as technology is also inclusive of "social phenonmena". Pitt's intent is to highlight that in a similar way in which we use physical tools to accomplish physical ends, we may use social tools to accomplish social ends. For instance, "governments, organizations, and hierarchies" are tools and technology much in the same way physical tools are technologies. 

    %p Understanding technology as tools is a start, however, our cenception need be widened from being simply technology being synonmous with "tools". The reason for extending technonology in scope is that technology encompasses not only technical artifacts (social and physical tools) that make up the "means" of our world, but also includes the social contexts, or worlds, in which those artifacts are designed and employed. As such, we find to philosophically pose the question "what is technology?" is to conflate two issues: 1) "what 'things' are technology?" and 2) "how do we make and use these 'things' of technology?". To address the second question, really we are seeking to determine how the word "technology" functions as a <i>verb</i>, or alternativly, what is the nature of technological progresses?  Approaching the second question, a pivot from the descriptive project of asking "how" to seeking to understand: what is the <i>realtionship</i> between making and the use of technologies?  Prima facie, it appears, the relation between the making and use of technology is minimal or non-existant. For example, I don't know how my car was constructed, but I know how to drive it.  I don't know how to chop, cut, and craft a tree into a collection of pencils, but I can write with one.  In abstracto, the "making" and "use" of technologies are seemingly separate social processes with unrelated social contexts.  
    
    %p Langdon Winner in "Technologies as Forms of Life", elaborates on this phenomena of "use" being separate from "making" in explicating that humans in "mode of use" view technologies simplistically; having "little interest in or need to know about the materials, principles, or procedures" needed to create the technology in question. Extending on the isolation of "use", he claims viewing technology-as-a-tool understands technologies with ambivalence in regards to "ethical" qualities. He mentions he can use a knife to "slice a loaf of bread or to stab the next person that walks by" and that technologies can be used "well or poorly and for good or bad purposes". His point is that technologies in "use" seem more or less "neutral in regard of their moral standing" (105).  Winner argues the technology-as-a-tool, and the view of "use" isolate from "making", as a overly narrow-minded philosophy that need "be overcome if a critical philosphy of technology is to move ahead" (105).  Winner's "Technologies as Forms of Life" in many ways parallels his infamous "Do Artifacts Have Politics?" in an appeal to pay attention not only to the making of technologies, but to attend to "the kind of world are we making?" (112). Borrowing Wittgenstein's concept of "forms of life", Winner explicates that technologies bring with them "language games" of their own and we ought be concerned with the kinds of languages and worlds we are both participating and creating in. 

    %h2 Feedback Loops and the World of Computing



    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
