!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title "Do Arifacts Have Politics?": A Deceptive Affair
   
    %p A prolific and widely-cited work in the field of the philosophy of technology, Langdon Winner's "Do Artifact Have Politics?" offers an intriguing account of how technologies can embody political values. However, Winner's account, unfortunatly, fails at answering the question posed in its own title: namely, whether artifacts <i>do</i> or <i>do not</i> have politics.  It is perhaps wise that Winner does not answer this question as his <i>theory of technological politics</i> transcends desire for such a simple disjunction. If artifacts did have politics, all theories of technological deterministic (<b>TD</b>) would be correct; and if artifacts did not have politics, then all theories of the social determinism of technology (<b>SD</b>) would be correct. In not answering the question "Do Artifacts Have Politics",  Winner's <i>theory of technological politics</i> avoids the debate between <b>TD</b> and <b>SD</b> theories and instead refocuses on the power shared in the world between artifacts and humans. Given this position, Winner choosing "Do Artifacts Have Politcs?" for a title misrepresents his argument. Forthwith I will show why this is the case and illustrate why "Do Artifacts Have Politics?" should have been more fittingly enitled "How Can Artifacts Have Politics?".

    %h2 I. Winner's Theory of Technological Politics

    %p Winner argues in "Do Artifacts Have Politics?" not that 'artifacts have politics', but rather merely that '(some) artifacts <i>may</i> have politics'.  Winner's theory of <i>technological politics</i> (<b>TP</b>) makes this clear in seeking to show artifacts as "political phenomena in their own right" (290. However, Winner calls for us not to just point political finger at just artifacts and their technical design decisions, but to consider more broadly the interaction, or world, shared between humans and technologies.  Pointing to Husselr's proverbial "to the things themselves",  Winner sets out to show artifacts as capable of posessing political properties in two different manners.
    
    %p The first manner in which artifacts may be political he argues is that of <i>situationally political</i> artifacts. These artifacts are designed to settle "an issue in the affairs of a particular community" by having embedded in their design particular politcal properties (291). He provides the famous example of an architect, Moses, who designed bridges to Jones Beach too low for buses to pass underneath. During the era in which Moses built his bridges, blacks had to ride on buses. As such, the effect of Moses' design decision was that it prevented blacks from reaching Jones Beach.  Moses, is portrayed with ill intentions embedding into his artifact through design, the low bridges, his ill will. The bridges are <i>situationally</i> politial because they are only political given the context, world, the social organization in which they are situated. They blocked the blacks from entering Jones Beach, howver if we were to consider the bridges placed in the middle of a vast ocean, designed without ill will out of contet, the bridges loose their political property.
    
    %p The second manner in which artifacts may be political is in that of <i>inherently political</i> technologies. The most fitting example Winner cites is the atom bomb. Particular social infrastructures surrounding the development of the atom bomb allowed for its development. It was authoritarian, and had rigid hierarchal structure.   He mentions these artifacts are never truly "<i>inherently political</i>" in the strong sense, but rather their <i>inherently</i> political status is derived out of essence of "practical necessity". It is the world of the large R&amp;D deparment with authoritarian and hierarchial governement that allowed the atom bomb to be made possible.  To this effect, yes, you might attempt to build a bomb in your back yard, but the multi-man operation of designing the atom-bomb necessarily requires a unique infrastructure and world.

    %h2 II. Theories of Social and Technological Determinism 
    %p Theories of the <i>social determination of technology</i> (social-determinism) argue that technological artifacts do not have a course of their own. Placing values in society, it is social actors who create new technological artifacts in progressing technology.  As such, SD suggests that we ought attend to the both the environment the artifact is situated and the social actors (and their intentions). Technological phenomena and change as such simply is simply explained by backtracking to each technology's "social origins" (290) 
    %p Running contrary and incompatible with  theories of <i>SD</i>, theories of <i>technological determinism</i> (TD) argue that the that technology itself is the driving force behind social and economic change. Placing the power of progress in the technology, theories of this sort argue that the <i>path</i> of technological development is a pre-set and determined state. Social actors merely help actualize and progress the path of technology toward this state. Technology develops merely "as the result of an internal dynamic" and subsequently continuously shapes society to it's patterns. 

    %p Winner's theory should be taken as neither a theory of TD nor a theory of SD. While, he states the TP's "<i>starting point</i> is a decision to take artifacts seriously", he also adds TP is a "necessary complement to, rather than a replacement for, [SD]" to which he adds his approach "identifies certain technologies as political phenomena in their own right". By making this distinction Winner indicates that his theory is not a theory of TD, not in opposition to SD, but simply serve as a complement to SD. 

    %h2 III. Our Naming Quandry
    %p If you read an article entitled "Do Artifacts Have Politics?", you expect a proper answer to the question. You can only suppose, reading an article entitled "Do Artifcacts Have Politics?" should tell you whether:

    %ol
      %li (all) artifacts are political   OR 
      %li (all) aritfacts are not political

    %p You are inclined to accept (1) after reading Winners article. However, the problem with this is that the reader has very merit from the article itself to say <i>all</i> artifacts are political.  In fact, all that Winner illustrates with his theory of technological politics is <i>2 ways</i> that artifacts <i>may be</i> political (I).  We can conclude as such the scope and applicability of <i>Do Artifacts Have Politics?</i> is more modest than its title suggests.  
    
    %p Alternatively, suppose we assume (1) is not accepted. We may still wonder if "Do Artifacts Have Politics?" is a wise question to be posed in the first place? In fact, distinguishing between (1) and (2) is essentially analogous to picking between theories of TD and SD afterall which <i>technical-politcs</i> skirts.  However, if (1) were to be true then theories of TD would necessarily be true and theories of SD would necessarily be false. Inversely if (2) were true then theories of SD would necessarily be true and theories of TD would necessarily be false. 
    
    %p As such, Winner by posing the question "Do Artifacts Have Politics?" Winner hinder's his own prevents his own theory of technological politics from advancing. The disjunction causes the reader to chose between a mindeset in line with theories of TD and SD, while he classifies his theory in neither camps.

    %p Nevertheless, my critism could be viewed as pendantry. It could be argued that Winner intended for the title of his article to be ironical. This would make sense, given the nature of his theory of technological politics to offer a <i>descriptive criterion</i> for distinguishing wheter any given artifact had or did not have political properties. Rather, Winner simply illustrates how in particular situations

    That would make sense because considering 
    about how technologies embody political properties in the phenomonlogical sense, as <i>in worlds</i>, 

    %h2 IV. Final Remarks
    %p My reader might suggest in earnest that Winner's title is <i>not</i> to be taken literally and I have straw-manned Winner's argument. I have not done so because 
    Winner suggest that we ought attend closely to technical artifacts and the contexts they are situated themselves. Attending to Winner's article, studying the literature respondant have represented Winner as answering the question affirmativly. Joerges


    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
