!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title 
 
    %h2 I. "Technology" as Tools
    %p Technology is a set of <i>tools</i> or <i>means</i> which assist us in accomplishing some <i>goals</i> or <i>ends</i>. For example, if I have the goal of opening a bottle of beer, I might accomplish said goal by utilizing the technological tool of a bottle opener to remove the cap from its bottle.  In additon to physical tools, social constructs with a tool essence may also be understood as technology.  Joseph Pitt in <i>Thinking About Technology</i> elaborates on this notion in suggesting that while historically technology "has been characterized only as mechanical tools", this conception is flawed because technology also includes "social phenonmena". He goes on to suggest that "governments, organizations, and hierarchies" are tools of technology much in the same way physical objects such as hammers are tools of technology.  As such we ought construe technology widely, as "tools" of both social and physical construct. 

    %h2 II. Our Relationship with Technology
    %p Moving forward, we may ask what is our (humanity's) relationship with these "tools" of technology?  An intuitive reply might be to suggest that our "relationship" with technology is two-fold, we both: <i>produce or make (new) technologies</i> and conversely <i>consume or use (existing) technologies</i>.  Indulging this intuition, we liken our relationship with technology to essentially a marketplace. In this marketplace there are buyers (consumers) and sellers (producers).  We utilize the marketplace, ostensibly technology, to trade products or tools.  As such, technology itself reveals itself to us as a <i>tool</i> for <i>trading tools</i>.

    %p The benefit of our relationship with technology viewed as a marketplace is that consumers do not have to <i>know how every tool was created</i> but may still <i>use</i> purchased tools from the marketplace. For example, I don't know how my car was produced, however I can still drive it. Inversely, producers don't necessarily know <i>how</i> potential users will use their tools but that does not prevent them from creating and selling their tools. Technology accordingly acts as a buffer between the production, or making, and consuming, or the using of tools. Seeing our relationship with technology as a marketplace consequently stratifies two separate modes of interaction in our relationship with technology.

    %p The downside to viewing our relationship with technology as a marketplace is that it understands technology as necessarily <i>external</i> to and <i>lesser</i> than humanity. When we participate in the marketplace, we choose to do so, we produce, consume, create, use tools. Tools cannot consume, create, or produce use us.  Working backwards to the title of this section, we find the root of this quandary. In seeking out <i>our</i> relationship with technology, we are already viewing humanity as greater than, and subsuming technology; technology is represented as a mere one component, we have a "relationship" with it. We choose to participate in it, creating and using technologies.  Technology is both external and voluntary to us (humanity).  
   
    %p Perhaps rather than asking 'what is our relationship with technology?' we should be asking 'what is technology's relationship with us' or simpler: 'how are humanity and technology related'? Asking this latter question sees technology not only as an external affair we participate in (technology-as-a-marketplace) but rather as an essential part of humanity with which we associate.

    %h2 III. Worlds of Technology and Feedback Loops
    %p In <i>Technologies as Forms of Life</i> Winner suggests that rather than think about technology as relationship (with humanity playing roles of production and consumptin), as in our previous endeavour, we should understand "technology" to play a transcendental role in humanity. Accordingly technologies are in fact themselves <i>worlds</i> in which we are inhabited to, and as such "forms of life".  We become are often involved in technology unconciosully as the patterns are "woven" into the "texture of everday life". He adds, we don't think about the steps, and the process involved in taking a shower in formalized language, however such a language could exist. Many of the processes we are involved in he claims, borrowing from Wittengenstein's Philosophical Investigatins, are in fact "language games" analogous to "giving orders, speculating about events, guessing riddles, making up stories, forming and testing bypotheses and so forth".

    %p This concept of technology as forms of life which Winner suggests I wish to buttress and extend to meditate on two key technologies which humans are involved with. To us, humanity, the technologies I mention we may not see ourselves as having a large voluntary relationship with which is why it is so criticial I bring them to our undewrstanding.

    %p Before I proceed in diagnosis the two technologies in question, I wish to 

    claiming them united. Understanding our association with technology as interactiong with a world, he cites Marx as claiming we are involved in the world's "recreation, production and repoduction" on a daily basis.  By Winner's account we both live in a world of technology, and we are continously recreating technologies. 

    
    %p Citing support from both Wittengenstein's concept of "Language Games" and Marx's concept of "production", Winner claims argues we should understand 
    
    %p Winner's project runs parallel to my own

















 
    %p Winner in his works represents that he wants to "attend more closely to the technology objects themselves... [and] ... the contexts in which those objects are situated", however he counter-intuitivly works against himself in limiting the contexts and manners in which we can attend to tehcnology by minimizes the role of production of tehcnology which can be indpenet of "social" dimension" (301)








    %pa driving and necessary component of humanity. It understand technology, in a sense, as larger than humanity.











    %p When your computer acts up, you do not exclaim "stupid humanity", but rather you exclaim "stupid technology".  The latter claim is cogent because technology is merely one aspect of humanity. There are undeveloped nations, which are 'less' technologically advanced than the United States, as such their relationship with technology is of less weight than our relationship with technology.

    %p This oversimplified view of technology dismisses how our relationship with technology crosses-over in acts of consumption and creation.  
    
    %p is that it necessarily implies overlap between production and consumption to be trivial.  The car driver, has a simple use-relationship with his car, he buys it, and then he drives it. The car designer has a simple makes-relationship with the car (tool) that he makes, he creates, and then he sells. 

    %P The key point to note is that 
    
    %p developed' nations, do not use computers, and so on and so forth. 
    
    %p As such, rather than technology being an <i>extension</i> of humanity or <i>encompassing</i> humanity, technology is viewed as <i>distinct</i> from humanity. The reason considering why this matters is that 
    
    %p Langdon Winner, in his seminal work <i>Do Artifacts Have Politics</i> utilizes this production-consumption "marketplace" view of technology to argue that technologies can be "good" or "bad" in claiming that artifacts have politics.
    
    %p In his seminal work, <i>Do Aritfacts Have Politics?</i>, Winner extends his intuition suggesting that artifacts <i>rather</i> than having moral ambivalence, have explicit politics. Although, he never actually states "artifacts have politics".. he affirmatively <i>implies</i> such both from his title and leaving his readers with wide eyes of optimism in his article's closing.  Joerges replies to his article stating that Winner "answers the question as to whether... artefacts are politics with a resounding: 'Yes they are'". One might argue contrarily here, however.. determining Winner's intentions is not of our relevant concern.  Rather, what is of relevant concern is wondering if posing the question "do artifacts have poltics?" was wise in the first place? Posing this question requires its interlocutor to incept the disjunction "artifacts either have or do not have politics" into their logical reasoning.  Furthermore, investigating whether "either artifacts have or do not have politics" is not, a sound or relevant disjunction for us to consider because it discounts any sense in which artifacts might stand <i>independent</i> of politics.   Namely, the relationship 
    
    %p Winner finds the view harmful because it causes technologies to adopt ambivalent moral property.  He says that he can use a knife to "slice a loaf of bread or to stab the next person that walks by". The technology of the knife, being separate from Winner, holds no moral quality.  
    %p has a much richer relationship with his car. The designer can tell you about the components of the engine, how the machine was put together, why the lock handle is curved at a 45 degree, and other intricate details of the car. The producer does not only sell the car, but the experience of producing is much deeper than simply using the car.  Inventors, musicians, creators, or simpliciter artists view their works of art (technologies) in essence as extensions of themselves; explications of who they are which become manifested in the process of production (creation). Their actions gives birth to "technology".  Viewing the relation we posess with technology merely as a marketplace dissmes the relationship we have in "giving birth" to technology.  
    
    %p Unlike my critism of technology-as-a-marketplace as determinal in its minimzation of k
    %p Langdon Winner  in <i>Technologies as Forms of Life</i> feels this nominal disconnect and accordingly acuses the notion of humanity role-playing producer/consumer to be detrimental.  



    
    %p Why does Winner and his concerns with politics matter to us? His view illustrates a fault we ought avoid forthworth: viewing technology as a technology itself (as a market) with seperate contexts or categories of production and consumption.  Posing "either artifacts have or do not have politics" analogous asserts "artifacts are always 'social'".  

    %p The recurring theme that is revealing itself is that viewing technology as a market (with the constiuents of proudciton and consumption) necessarily limits our understanding of technology. So let us take a step back and re-consider how we might construe our relationship with technology. Winnearian 


    %p Inventors may be politicians Winner asserts by posing his disjunction "either artifacts do or do not have politics", necessarily makes invetors politics. This matters to Winner's project namely because it is of utmost concern to him to  This notion being strong throughout Winner's work,his <i>Technologies as Forms of Life</i>
    
    %p The way in which artifacts may stand independent of politics is embodied in act of creation or production.
    
    %p When I publish this paper, my action of stamping with my seal of approval the final copy sealing in social and physical history an amplification of who I am, what I stand for, so on and so forth.  Both historical archivist records (social) and psychee (personal) dimensions become affected by pushing an artifact into the physical world.  My mindset, considering this, as a producer understands technology not as an extension of my humanity; but rather the ultimate essence, or materialization of my involvement in humanity. Contrarily, consumeristic mindset simply understands technology as separate from humanity. Technologies are things to be used in this light, external and detached from the self. For consumers of technology, humanity is simply a user.




    %p only exert power over.. himself. Not politics, posing that either artifacts do or do not have politics (adding the political dimension to technology) necssearily view's humanity also as a user, consumer of technology. It places technology as 



    %p it suggest in addition to the marketplace of technology, people in their "personal" world, or relationship, with the production of technology are always political. Asking "do artifacts have politics" is to ask "does humanity have politics?".

    %p perpindicular to the goal of determining whether artifacts have politics. The reason is that 
    

    %p Outside of consumeristic "user-mode", or understanding technology as humanity rather than technology as one part of humanity runs 
    
    
    
    %p The reason why this is not a wise move is that it views technology again the consumeristic mindset Winner is concurrently critical of. It views technology as external to the self


    %p Is this healthy for humanity to be a user of technology? After all, markets know no love.
    %p This should absurd, because while the "user" has moral property, an arifact itself additionally necessarily possess moral quality.  Running Winner's example with a cheap plastic butter knife versus a plastic knife wills two distinct moral possibilities. In the later case, Winner can stab the next person that walks by; but in the former case this is an impossibility.  


    %p Prior to indluging Winner in overlaying politics on technology,the question ending (I) concerned the relation between consuming and producing technology.  Not all Winnerian reasoning being flawed, Winner shines great insight into association in (technological) consmpution with production in suggesting simply that we ought "attend more closely to technical objects... [and] ... the contexts in which those objects are situated" (301). 

    %p The "worlds" of technology which Winner refers primarily in <i>Technologies as Forms of Life</i> offer quintessential insight into the projet at hand., Borrowing Wittegenstein's terminology, Winner represents that technologies as "forms of life" which are "woven into the texture of everday existence, the devices, techniques, and systems we adopt shed their tool-like qualities to become part of our very humanity".

    %h2 The Worlds of Computing

    %p With the idea of technologies being "worlds",  I can now overlay computing into our exploration of technology.
    
    
    %p What he suggests is rather than "technologies" being produced and consumed and illustrated earlier, this is an ongoing and continous process. We are living in technology while we are simultaneously birthing technology, applying vivaciously abstractly to concretely continuously.


    %p Technologies are not only the physical tools we product and consume, but rather the bi-partite and self-so to speak surrounding production and consumption
    
    
    %p What Winner is suggesting is not only that we use technology as means as previously explored, but rather that we are living <i>in</i> technology and <i>creating</i> technology. Analaglies to this philosophical investigation into technology can be seen exhibited in numerous other authors in the philosophy of technology, previosouly mentioned author Pitt describes such phenomena by defining technology as "humanity at work". Heidigger as well, if you can see past his terminology in the Question Concerning Technology, laregly argues for a call to consider the "worlds" technologies embodies. 

    %p The notion of technology as tools and the worlds in assocition with those tools is what I am getting at here. For our purposes worth

    %h2 III. Interfaces and The World of Computing
    %p Computers can be understood physically, as stacks of interfaces connected to one another. The software whiyour computer is just a bunch of interfaces that hook into one another (often called <i>software</i>) with the base level of all of the interfaces representing simple on/off switches, 0s and 1s. Our software, or stacks of interfaces, allow us to translate a certain set of 0s or 1s into different sets of 0s and 1s. This process is repreated over and over again, and that is the world which is computing.

    %p However, the interfaces 
    
    %p through the means of our abstracted stacks of interfaces to translate into different sets of 0s and 1s.

    %p Computing is often viewed as a large construct which subsumes programming. Many people in modern age <i>use</i> computers, but a very small sub-set of computer users would call themselves "programmers". The reason why this is because most computer-users do not use what could be interpreted as "programming interfaces". To unpack this claim, let us first consider what an "interface" is.

    %p believe primarily to be at the helm of the widespread adoption of graphical user interfaces (GUIs). 


    %p With our understanding of technologies as encompassing the interplay of both tools and their worlds established in (II), I now wish offer some novel insight into the worlds surrounding both programing and computing. Without explicatly defining programming, we can ask: what is programming opposite to? To this question the answer
    %p With what was established prior, grokking what I am about to say 



    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
