!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title "Do Arifacts Have Politics?": A Deceptive Affair
    
    %p A prolific and innumerably-cited work in the field of the philosophy of technology, Langdon Winner's "Do Artifact Have Politics?" offers an intriguing account into the nature of technology's capabilities of embodying political values which unfortunately fails at answering the question posed in its own title: namely, whether artifacts <i>do</i> or <i>do not</i> have politics. A work with a rhetorical title, Winner's article does however provide us two sufficient conditions for classifying artifacts as politically as: inherently and situationally. Winner's theory of <i>technological politics</i>, thus proves itself to provide two solid conditions for construing artifacts as political, however, I argue his title only serves to confuse its reader, astraying from his <i>theory of technological politics</i>, in posing that the disjunction "artifacts either have or do not have politics" is a sound premise in logic to investigate. I will show forthcoming why such disjunction is not a sound premise in logic to investiage and further why "Can Aritfacts Have Politics?" would have been a more fitting title for Winner's work.
    
    %h2 I. Winner's Theory of Technological Politics
    %p In "Do Artifacts Have Politics?" Winner sets out to develop a theory of <i>technological politics</i>.  He explains he refers to 'politics' in the sense of organization in relations of power and authority of humans and further that 'artifacts' refer to all modern human edifice. Winner's <i>theory of technological politics</i> suggests we ought consider the worlds artifacts create to consider the ways in which artifacts may take on political properties. He argues that there is "good reason to believe that technology is <i>politically significant on its own right</i>" in detesting that theories of the social determination technology that be believes assign too much politically weight to social actors and the interplay of their social forces. His theory he argues accounts for technologies as "<i>political phenomena</i> in their own right" (290). As such, the challenge for Winner in his article is to show how artifacts may take on <i>their own</i> political properties.  He shows this to be the case by specifying two contingent conditions in which artifacts may be considered political in their own right. 

    %p The first manner in which artifacts may be political he argues is that of <i>situationally political</i> artifacts. These artifacts are designed to explicitly embody political values or to settle "an issue in the affairs of a particular community" (291). In his section <i>Technical Arrangements and Social Orders</i> he shows how social actor can embed or transfer their own politics to an arifact in this sense. He provides the example of an architecht, Moses, who designed bridges to Jones Beach too low for buses to pass through. During the era when Moses built these bridges, blacks had to ride on buses. As such, the effect of Moses' design decision prevented blacks from reaching Jones Beach.  Moses, is portrayed with ill intentions, his artifact, the low bridges, becoming embedded as <i>situationally political</i> preventing blacks from reaching Jones Beach. Placed into context and enviroment , the design decision of Moses blocked blacks from reaching Jones Beach. The bridges are political because long after Moses died, the bridges remained with Moses' ill intentions.
    
    %p The second condition in which artifacts may be political is in that of <i>inherently political</i> artifacts. The most fitting example Winner cites is the atom bomb. Particular social infrastructure surrounding the development of the atom bomb he claims "must be authoritian" and impose rigid hierarchial structured government in order for such technology to be manifested. He mentions these artifacts are not truly "<i>inherently political</i>" in the strong sense, but rather their <i>inherently</i> political status is derived out of essence of "practical necessity". Atom bombs are inherently political because there needs to be a government to control the development and regulation of the bomb, although pre-theoretically the government does not <i>need</i> to exist to build the bomb... the bomb you build in your back yard, will likely be smaller and of lesser force and vivacity than an atom bomb orchestrated by the government. 

    %h2 II. Winner's Theory of Technological Politics is Well Supported
    %p In understanding Winner's <i>theory of technological politics</i>, it helps to understand where Winner placed his theory in context to existing theories in literary scope. In contrast to theories of the <i>social determiniation of technology</i>, he explains his theories of <i>technological politics</i>, such as his, "draws attention to the momentum of large-scale sociotechnical systems" (290). He believed there to be a problem in theories of the <i>social determination of technology</i> in that they "reduce everything to the interplay of social forces" (290). This was something that Winner wanted to avoid in his theory because his project hoped to bring attention to artifacts as "politically significant in it's own right".  Technology understood as being "politically significant in it's own right" is the maxim of technological determinism, a view standing opposite to aforementioned theories of social determination of technology. 
    
    %p While the social determination of technology views technologies we create as instrumental in human politics, technological determinism believes the technologies themselves to be driving forces of society. To understand what this means, consider the creation of the pencil. Was is humans who dreamed up the pencil, created, and invented it to use it as a means or was it predetermined that humans would create the pencil and humans just served as instrumental in its creation? In the first view, social determination of technology, humans are viewed as the ultimate drivers of political action, while in the latter view, technological determinism, the technology is politcal, predetermined, and drives human's action

    %p However, Winner's theory alas is not a theory of technological determinism because it transcends the divide between technological determinism and social determinism. It suggests that there is a relationship between

    %h2 III. Why Winner's Title is Not Appropriate
    %p With Winner's argument and its support explained, my own argument is that Winner's title for his article is not appropriate. The reason being that Winner's title suggests that weighing the social determination of technology in contrast to theories of technological determinism is a worthy endeavor. However, in Winner's article his project explicitly avoids such weighting, transcending this distinction.

    %p While Winner asserts that there are "good reasons to believe that technology is politically significant in its own right", we should not take this forecast as evidence to make sense of Winner's title "Do Artifacts have Politics?". The reason being is that Winner does not <i>attempt</i> to answer the question his title poses. Or rather, "Do Aritfacts Have Politics?" for Winner is a rhetorical question, because that is not the sense Winner posed his theory of <i>technological politics</i> in the first place. In his article Winner does not provide evidence to support <i>artifacts do have politics</i> or its negation but rather merely offers 2 <i>contigent</i> manners in which arifacts <i>may</i> have politics.

    %p As such we find that Winner's project is more modest than it's title. Posing the question "Do Artifacts Have Politics?", implies that he believes (all) artifacts are either political or not political.  By not quantifying the scope of 'artifacts' in his title, the disjunction must logically assume sound is that: "either all artifacts have politics or all artifacts do not have politics"?  However, the true rhetorical nature of the Winner's theory of <i>technological politics</i> can only answer questions analogous to weaker forms of questions such as : 'do some artifacts have polotics?', 'may artifacts have politics?', or 'how can artifacts have politics?'. These weaker questions are more appropriate to the scope of Winner's project project.  It matters that Winner's project is incapable of answer the strong question of "do artifacts have politics?" because such question renders the reader to unsoundly arrive at the disjunction "either all artifacts are political or not". 

    %p To answer this disjunction, Winner provides little insight other than offering two sufficient conditions in support of artifacts being political. So although perhaps Winner intended his article as rhetorical, a question with no answer, but what if his title is taken literally, at its word?  What would it mean if all artifacts were political? Since humans are the creators of all technological artifice, that make all humans politicians! This is not in line with 
    
    This view is frightening conception that makes sense to have been dreamed up by a ethical philosopher.  While Winner never provides evidence to strictly show that "artifacts have politics", making us all politicians, I can quite simply prove by example the contrary: we are not all be politician by showing atleast one person to not be a politician. All I need to do to illustrate this is to show one person creates an artifact that is not political. Consider if there was one man left on Earth. Assume he crafts up some piece of technology, maybe he carves a stick into a javelin. Can that javelin even have the possibility of being <i>political</i>? No it cannot, because there is no power and authority for him to arrange outside of himeself.  If my interlocutor were to argue that a one man world is an unapplicable example here, consider alternativly in our own vastly populated world, a lone artist isolated and locked in a cabin. Imagine this artist creates her edifice not for political purpose, but merely for her own personal satisfaction. Her private work of art is not of political nature, thus adding contigent support to detest claims one could dervice from Winner aruging : not all artifacts are political.
 
    This is a absurd and unsound disjunction for critical analysis because he only provides us contigent evidence for the former case and dismisses the latter. Winner's ariticle as such does not move us past the disjunction. Rather, in Winner's theory of technological politics he merely add two contigent conditions in which artifacts <i>may be considered</i> political.  Reader may slip in reasoning and infer from the suggestion that artifacts may be considerd poloitical to run the disjunction should rendering "(all) artifacts are political".  


    %h2 III. Closing Remarks

    %p My reader might eagerly suggest that Winner's title is <i>not</i> to be taken literally and I have straw-manned Winner's argument. I believe I have not done so specifically because Winner suggest that we ought attend closely to technical artifacts and the contexts they are situated themselves. Attending to Winner's article, studying the literature respondant have represented Winner as answering the question affirmativly. Joerges


    %h2 III. Interprative Flexibility of the Theory of Technology Politics
    %p Winner in illustrating artifacts as capable of possesining political properties in two seperate manners invites numerous interpretations for a "theory of technological politics". In Winner's first manner of an arifact being designed to "settle an issue in the affairs of a particular community", the <i>artifact is placed into</i> its enviroment. While in the latter case of certain technologies being inherintly politically, requiring some social practical necessity to buttress its existance, the <i>enviroment is placed around</i> the artifact.

    %p It is imporant to make this disntiction because these two manners in which an artifact may comes in contact with its enviroment stand at opposite sides of the spectrum 

    %p In the case of inherently political technologies, design decisions are seemingly irrelevant, what makes artifacts political is the social infastructure which surrounds the given technology. This scenario is to be contrastred with its former in that rather than the artifact being placed into the enviroment, the <i>enviroment is placed around</i> the artifact. Winner makes sense of this by comparing inherntly poltical artifacts as in the same sense "that an automobile requires wheels in order to move". 




    , intention is often crucial in design Winner clarifies that design decisions are more or less ambivalent to the ultimate politics of a given technological artifact. He claims that "consoily or unconsiously, delibraeratley or inadvertenly" technologies are built and influence people through power. Not all design decisions (which translate to political values) are intentional and as such the politics of an artifact can not be determined a priori to its employment.


    %p Winner suggests we ought attend to: "characteristics of technical objects", "the meaning of those characteristics", and the "the contexts in which those objects are situated" (301, Winner). To suggest these three properties, Winner describes throughout his article his theory is a suggestion to understand technological artifacts as bringing with them worlds.  Quoting Edmund Husserl's proverbial "to the things themselves", the sense in which 
    
    Winner suggests that his theory of technological politics complements, rather than a replaces, theories of social determination of technology which generally write off politics as soley driven by their social actors or creators.  Central to Winner's project is distinguishing that artifacts may be understood as political in two divergent manners.





    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
