!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title "Do Arifacts Have Politics": An Arifact with Politics
    
    %p A prolific and innumerably-cited article, Langdon Winner's "Do Artifact Have Politics" offers an intruiging account on the nature of technology's capability of embodying political values.  At stake in the article, Winner argues two manners in which technological artifacts may be viewed as manifesting relations of power and authority in human associations. Winner examplar historical ancetode illustrating his thesis describes a builder, Robert Moses, who delibrartly built bridges low to prevent busses carrying blacks from reaching Jones Beach. The tale goes that years after Moses' death, the bridges remained embodying Moses' racist values.
    %p The story of Moses' bridges turns out to be counter-factual, but still the question remains: what made Winner's article experience such extravagent success and how should we understand Winner's argument as a whole regardless of its factual credibility? Following, I will offer analysis of Winner's theory of technological politics, examine two critical responses to his theory, and finally by building on analysis of Woolgar and Cooper in an article entitled "Do Artefacts Have Ambivalence?" offer original insight into the nature of the article itself as a political artifact.

    %h2 Winner's Theory of Technological Politics
    %p In "Do Artifacts Have Poltics?" Winner sets out to develop a theory of <i>technological politics</i>. This theory suggests that rather than merely paying attention to the intetion and social nature of the construction of technologies, we need attend to "characteristics of technical objects and the meaning of those characteristics". As such, what is at stake here and throughout his entire article, is a suggestion  to understand technological artifacts as being capable of embodying values in and of themselves, quoting Edmund Husserl's proverbial "to the things themselves". Winner suggests that his theory of technological politics complements, rather than a replaces, theories of social determination of technology which generally write off politics as soley driven by their social actors or creators.  Central to Winner's project is distinguishing that artifacts may be understood as political in two divergent manners.
    %p  In the first manner, artifacts may be designed explicitally to embody political values by "settling an issue in the affairs of a particular community" (291). In his section <i>Technical Arrangements and Social Orders</i> he best explifies this such sense by the aformentioned example of the architecht, Moses, who designed bridges low enough that busses could not pass through to prevent blacks from accessing Jones Beach.  Moses, with deliberatly racists intentions of preventing blacks from accessing Jones Beach, built his bridges such to prevent access by busses.  While, intention is often crucial in design Winner clarifies that design decisions are more or less ambivalent to the ultimate politics of a given technological artifact. He claims that "consoily or unconsiously, delibraeratley or inadvertenly" technologies are built and influence people through power. Not all design decisions (which translate to political values) are intentional and as such the politics of an artifact can not be determined a priori to its employment.

    %p The second manner in which Winner argues artifacts embody political values is that of "inherently political technologies". The most fitting example he cites as such is the atom bomb. Particular social infastructure surrounding the development of the atom bomb "must be authoritian" and impose rigid hierarchial structured government in order for such a technology to be manifested. What about building a bomb in your backyard? Winner concedes that "in a world in which human beings make and maintain artifical systems nothing is "required" in an absolute sense". As such  he suggests that "inherently political technologies" exist as a matter of "pratical necessity" and offers several variants of what it means for an artifact have a practical necessity.

    %h2 Interprative Flexibility of the Theory of Technology Politics
    %p Winner in illustrating artifacts as capable of possesining political properties in two seperate manners invites numerous interpretations for a "theory of technological politics". In Winner's first manner of an arifact being designed to "settle an issue in the affairs of a particular community", the <i>artifact is placed into</i> its enviroment. While in the latter case of certain technologies being inherintly politically, requiring some social practical necessity to buttress its existance, the <i>enviroment is placed around</i> the artifact.

    %p It is imporant to make this disntiction because these two manners in which an artifact may comes in contact with its enviroment stand at opposite sides of the spectrum 
    %p In the first manner, of an artifact settling "an  issue in the affairs of a particular community", the artifact's political property is derived by its contigent link to the enviroment in which the . In the Moses example, if the busses had been short enough to pass through the bridges, Moses' decision to design the bridges low would not be politically charged. However, given the height of the busses, such design decision (inadvertent or intention) granted the bridges a political dimension.

    %p In the case of inherently political technologies, design decisions are seemingly irrelevant, what makes artifacts political is the social infastructure which surrounds the given technology. This scenario is to be contrastred with its former in that rather than the artifact being placed into the enviroment, the <i>enviroment is placed around</i> the artifact. Winner makes sense of this by comparing inherntly poltical artifacts as in the same sense "that an automobile requires wheels in order to move". 


    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
