!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title 
 
    %p I. Precursory Assumption: The Scope of "Technology"
    %p What is technology? A common sense approach might suggest that technology is a set of <i>tools</i> or <i>means</i> which assist us in accomplishing <i>goals</i> or <i>ends</i>. For example, if I have the goal of opening a bottle of beer, I might accomplish said goal by utilizing the technological tool of a bottle opener to remove the cap from its bottle.  Additionally, we might understand "social" constructs to be of similar essence or role as "physical" tools in that they epitomoze the human condition of tool-ness.  Joseph Pitt in <i>Thinking About Technology</i> elaborates on such notion suggesting that while historically technology "has been characterized only as mechanical tools", this conception is flawed because technology also includes "social phenonmena". He goes on to suggest that "governments, organizations, and hierarchies" are tools and technologies much in the same way physical objects such as hammers are tools and technology.  As such we ought construe technology widely, as "tools" of social and physical construct. 

    %h2 II. Our Relationships with Technology
    %p What is our (humanity's) "relationship" with these technology "tools"?  A intuitive reply might be to suggest that our relationship with technology is two-fold, we both: <i>produce or make (new) technologies</i> and conversely, we: <i>consume or use (existing) technologies</i>.  Furthermore, since you can't concurrently in time produce and consume a particular technology, our relationship with technology's two halves, consumption and production, are mutually exclusive forms of life.  Additionally we find, breaking our "relationship" with technology into production and consumption likens technology to a marketplace. A metaphysical tool, or technology itself, for trading tools.  A metaphysical marketplace of technology, thinking of technology as technology helps us humans specialize and stratify our individual domain-specific knowledge.  Consumers do not have to posses the <i>know how of everything</i> but may still <i>use</i> tools purchased in the marketplace. I don't know how my car was produced, however I can still embody a relationship with my car -- I can drive it. 

    %p If we view technology as external to ourselves, which is necessarily the case in mode of consumption, we dismiss the relationship "producers" or "makers" posses with technology.  The car designer likely has a much richer relationship with his car, than does a simple consumer who uses his car. The car designer could tell you about the specific internals of the car, it being just as much, or more of a part of himself as than name or his SAT score.  Inventors, musicians, creators, or simpliciter artists often view their works of art (technologies) as paradigmatic extensions of themselves; ultimate explications of their identities.  When I publish this paper, my action of publishing stamps the paper with my identity, sealing in social and physical history who <i>I</i> was,name independent or not.  Both historical archivist records (social) and psychee (personal) dimensions are affected by pushing the artifact into the physical world.  As such, my mindset as a producer understands technology not as an extension of my humanity; but rather the ultimate essence of my involvement in humanity. Contrarily, consumeristic mindset simply understands tehcnology as an extension of humanity. Humanity is a user for consumers of technology.

    %p Langdon Winner  in <i>Technologies as Forms of Life</i> approaches humanity playing the role of user, in consuming technology, with angst.  He argues constructural separation of consumption and production is a <i>primary reason</i> why technologies adopt ambivalent moral property.  He says he can use a knife to "slice a loaf of bread or to stab the next person that walks by". The technology of the knife, being separate from Winner, holds no moral quality.  In his seminal work, <i>Do Aritfacts Have Politics?</i>, Winner challenges such intuition suggesting artifacts <i>rather</i> than having moral ambivalence, have explicit politics. Although, he never actually states "artifacts have politics".. he affirmatively <i>implies</i> it from both his title and leaving his readers with wide eyes of optimism.  Joerges replies to his article stating that Winner "answers the question as to whether... artefacts are politics with a resounding: 'Yes they are'". One might also argue the contrary, however.. determining Winner's ultimate intentions is not of ultimate concern.  Rather, we need shift our inquirty to ask was posing the question "do artifacts have poltics?" wise in the first place?" Posing such question requires its interlocutor to assume the disjunction "artifacts either have or do not have politics" is a sound premise in logic for us to investigate. 

    %p Outside of a marketplace, outside of "user-mode", or understanding technology as humanity rather than technology as one part of humanity runs perpindicular to the goal of determining whether artifacts have politics. The reason being is that it dismisses a "personal" world or relationship each human has with technology. The world I speak is the act of invetion.  While inventors may be politicians, Winner not only asserts by posing his disjunction "either artifacts do or do not have politics", necessarily makes invetors politics. This matters to Winner's project namely because it is of utmost concern to him to "attend more closely to the technology objects themselves... [and] ... the contexts in which those objects are situated" (301). This notion being strong throughout Winner's work,his <i>Technologies as Forms of Life</i>
    
    The reason why this is not a wise move is that it views technology again the consumeristic mindset Winner is concurrently critical of. It views technology as external to the self


    %p Consider a (technological) artifact that one person makes and uses. Or simpler, a world with one man. Can an artifact this man makes, sans human(ity), have politics?  A single man in the single man humanity could only exert power over.. himself. Not politics, posing that either artifacts do or do not have politics (adding the political dimension to technology) necssearily view's humanity also as a user, consumer of technology. It places technology as 



Is this healthy for humanity to be a user of technology? After all, markets know no love.
    

This should absurd, because while the "user" has moral property, an arifact itself additionally necessarily possess moral quality.  Running Winner's example with a cheap plastic butter knife versus a plastic knife wills two distinct moral possibilities. In the later case, Winner can stab the next person that walks by; but in the former case this is an impossibility.  




    %p Prior to indluging Winner in overlaying politics on technology,the question ending (I) concerned the relation between consuming and producing technology.  Not all Winnerian reasoning being flawed, Winner shines great insight into association in (technological) consmpution with production in suggesting simply that we ought "attend more closely to technical objects... [and] ... the contexts in which those objects are situated" (301). 

    %p The "worlds" of technology which Winner refers primarily in <i>Technologies as Forms of Life</i> offer quintessential insight into the projet at hand., Borrowing Wittegenstein's terminology, Winner represents that technologies as "forms of life" which are "woven into the texture of everday existence, the devices, techniques, and systems we adopt shed their tool-like qualities to become part of our very humanity".

    %h2 The Worlds of Computing

    With the idea of technologies being "worlds",  I can now overlay computing into our exploration of technology.
    
    
    What he suggests is rather than "technologies" being produced and consumed and illustrated earlier, this is an ongoing and continous process. We are living in technology while we are simultaneously birthing technology, applying vivaciously abstractly to concretely continuously.

    %p


    %p Technologies are not only the physical tools we product and consume, but rather the bi-partite and self-so to speak surrounding production and consumption
    
    
    What Winner is suggesting is not only that we use technology as means as previously explored, but rather that we are living <i>in</i> technology and <i>creating</i> technology. Analaglies to this philosophical investigation into technology can be seen exhibited in numerous other authors in the philosophy of technology, previosouly mentioned author Pitt describes such phenomena by defining technology as "humanity at work". Heidigger as well, if you can see past his terminology in the Question Concerning Technology, laregly argues for a call to consider the "worlds" technologies embodies. 

    %p The notion of technology as tools and the worlds in assocition with those tools is what I am getting at here. For our purposes worth

    %h2 III. Interfaces and The World of Computing
    %p Computers can be understood physically, as stacks of interfaces connected to one another. The software whiyour computer is just a bunch of interfaces that hook into one another (often called <i>software</i>) with the base level of all of the interfaces representing simple on/off switches, 0s and 1s. Our software, or stacks of interfaces, allow us to translate a certain set of 0s or 1s into different sets of 0s and 1s. This process is repreated over and over again, and that is the world which is computing.

    %p However, the interfaces 
    
    %p through the means of our abstracted stacks of interfaces to translate into different sets of 0s and 1s.

    %p Computing is often viewed as a large construct which subsumes programming. Many people in modern age <i>use</i> computers, but a very small sub-set of computer users would call themselves "programmers". The reason why this is because most computer-users do not use what could be interpreted as "programming interfaces". To unpack this claim, let us first consider what an "interface" is.

    %p believe primarily to be at the helm of the widespread adoption of graphical user interfaces (GUIs). 


    %p With our understanding of technologies as encompassing the interplay of both tools and their worlds established in (II), I now wish offer some novel insight into the worlds surrounding both programing and computing. Without explicatly defining programming, we can ask: what is programming opposite to? To this question the answer
    %p With what was established prior, grokking what I am about to say 



    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
