!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title "Do Arifacts Have Politics?": A Deceptive Affair
   
    %p A prolific and widely-cited work in the field of the philosophy of technology, Langdon Winner's "Do Artifact Have Politics?" offers an intriguing account of how technologies can embody political values. However, Winner's account, unfortunatly, fails at answering the question posed in its own title: namely, whether artifacts <i>do</i> or <i>do not</i> have politics.  It is perhaps wise that Winner does not answer this question as his <i>theory of technological politics</i> transcends desire for such a simple disjunction. If artifacts did have politics, all theories of technological deterministic (<b>TD</b>) would be correct; and if artifacts did not have politics, then all theories of the social determinism of technology (<b>SD</b>) would be correct. In not answering the question "Do Artifacts Have Politics",  Winner's <i>theory of technological politics</i> avoids the debate between <b>TD</b> and <b>SD</b> theories and instead refocuses on the power shared in the world between artifacts and humans. Given this position, Winner choosing "Do Artifacts Have Politcs?" for a title misrepresents his argument. Forthwith I will show why this is the case and illustrate why "Do Artifacts Have Politics?" should have been more fittingly enitled "How Can Artifacts Have Politics?".

    %h2 I. Winner's Theory of Technological Politics

    %p Winner argues in "Do Artifacts Have Politics?" not that 'artifacts have politics', but rather merely that '(some) artifacts <i>may</i> have politics'.  Winner's theory of <i>technological politics</i> (<b>TP</b>) makes this clear in seeking to show artifacts as "political phenomena in their own right" (290. However, Winner calls for us not to just point political finger at just artifacts and their technical design decisions, but to consider more broadly the interaction, or world, shared between humans and technologies.  Pointing to Husselr's proverbial "to the things themselves",  Winner sets out to show artifacts as capable of posessing political properties in two different manners.
    
    %p The first manner in which artifacts may be political he argues is that of <i>situationally political</i> artifacts. These artifacts are designed to settle "an issue in the affairs of a particular community" by having embedded in their design particular politcal properties (291). He provides the famous example of an architect, Moses, who designed bridges to Jones Beach too low for buses to pass underneath. During the era in which Moses built his bridges, blacks had to ride on buses. As such, the effect of Moses' design decision was that it prevented blacks from reaching Jones Beach.  Moses, is portrayed with ill intentions embedding into his artifact through design, the low bridges, his ill will. The bridges are <i>situationally</i> politial because they are only political given the context, world, the social organization in which they are situated. They blocked the blacks from entering Jones Beach, howver if we were to consider the bridges placed in the middle of a vast ocean, designed without ill will out of contet, the bridges loose their political property.
    
    %p The second manner in which artifacts may be political is in that of <i>inherently political</i> technologies. The most fitting example Winner cites is the atom bomb. Particular social infrastructures surrounding the development of the atom bomb allowed for its development. It was authoritarian, and had rigid hierarchal structure.   He mentions these artifacts are never truly "<i>inherently political</i>" in the strong sense, but rather their <i>inherently</i> political status is derived out of essence of "practical necessity". It is the world of the large R&amp;D deparment with authoritarian and hierarchial governement that allowed the atom bomb to be made possible.  To this effect, yes, you might attempt to build a bomb in your back yard, but the multi-man operation of designing the atom-bomb necessarily requires a unique infrastructure and world.

    %h2 II. Theories of Social and Technological Determinism 
    %p Theories of the <i>social determination of technology</i> argue that technological artifacts do not have a course of their own. Placing the power of progress in society, it is social actors who create new technological artifacts in progressing technology.  As such, SD suggests that we ought attend to the both the environment the artifact is situated and the social actors (and their intentions). Technological phenomena and change as such simply is simply explained by backtracking to each technology's "social origins" (290) 

    %p Running contrary and incompatible with  theories of <i>SD</i>, theories of <i>technological determinism</i> (TD) argue that the that technology itself is the driving force behind social and economic change. Placing the power of progress in the technology, theories of this sort argue that the <i>path</i> of technological development is a pre-set and determined state. Social actors merely help actualize and progress the path of technology toward this state. Technology develops merely "as the result of an internal dynamic" and subsequently continuously shapes society to it's patterns. 

    %p Winner's theory should be taken as neither a theory of TD nor a theory of SD. While, he states the TP's "<i>starting point</i> is a decision to take artifacts seriously", he also adds TP is a "necessary complement to, rather than a replacement for, [SD]" to which he adds his approach "identifies certain technologies as political phenomena in their own right". By making this distinction Winner indicates that his theory is not a theory of TD, not in opposition to SD, but simply serve as a complement to SD. 

    %h2 III. Our Naming Quandry
    %p If you read an article entitled "Do Artifacts Have Politics?", you expect an answer to the question. You suppose the article should tell you whether:

    %ol
      %li (all) artifacts are political   OR 
      %li (all) aritfacts are not political

    %p You will accept (1) after reading Winners article, and believe all artifacts are political. However, the problem is that the reader has very little merit to do so.  In fact, all that is illustrates by Winner in his theory of technological politics is <i>2 ways</i> artifacts <i>may be</i> political (I).  We can conclude as such the scope of <i>technological politics</i> is far more modest in its implications than the question posed by it's title.  Alternativly, if we assume (1) is not accepted, we may still ask: is "Do Artifacts Have Politics?" a wise question for us to pose? In fact, is not providing an answer to this question analogous to choosing between TD and SD.  If (1) were to be the case then TD would necessarily be true and SD would necessarily be false. Inversly if (2) were to be the case then SD would necessarily be true and SD would necessarily be false. 
    
    %p As such, Winner by posing the question "Do Artifacts Have Politics?" move his project back all together. Winner does not classify as neither a theory of SD nor a theory of TD.  However, a reader could easily interpret that (1) is the case.

    %h2 IV. Final Remarks
    %p It could very well be that Winner 



    I can quite simply prove by example the contrary: we are not all be politician by showing atleast one person to not be a politician. All I need to do to illustrate this is to show one person creates an artifact that is not political. Consider if there was one man left on Earth. Assume he crafts up some piece of technology, maybe he carves a stick into a javelin. Can that javelin even have the possibility of being <i>political</i>? No it cannot, because there is no power and authority for him to arrange outside of himeself.  If my interlocutor were to argue that a one man world is an unapplicable example here, consider alternativly in our own vastly populated world, a lone artist isolated and locked in a cabin. Imagine this artist creates her edifice not for political purpose, but merely for her own personal satisfaction. Her private work of art is not of political nature, thus adding contigent support to detest claims one could dervice from Winner aruging : not all artifacts are political.
 
    This is a absurd and unsound disjunction for critical analysis because he only provides us contigent evidence for the former case and dismisses the latter. Winner's ariticle as such does not move us past the disjunction. Rather, in Winner' theory of technological politics he merely add two contigent conditions in which artifacts <i>may be considered</i> political.  Reader may slip in reasoning and infer from the suggestion that artifacts may be considerd poloitical to run the disjunction should rendering "(all) artifacts are political".  


    %h2 III. Closing Remarks

    %p My reader might eagerly suggest that Winner's title is <i>not</i> to be taken literally and I have straw-manned Winner's argument. I believe I have not done so specifically because Winner suggest that we ought attend closely to technical artifacts and the contexts they are situated themselves. Attending to Winner's article, studying the literature respondant have represented Winner as answering the question affirmativly. Joerges


    %h2 III. Interprative Flexibility of the Theory of Technology Politics
    %p Winner in illustrating artifacts as capable of possesining political properties in two seperate manners invites numerous interpretations for a "theory of technological politics". In Winner's first manner of an arifact being designed to "settle an issue in the affairs of a particular community", the <i>artifact is placed into</i> its enviroment. While in the latter case of certain technologies being inherintly politically, requiring some social practical necessity to buttress its existance, the <i>enviroment is placed around</i> the artifact.

    %p It is imporant to make this disntiction because these two manners in which an artifact may comes in contact with its enviroment stand at opposite sides of the spectrum 

    %p In the case of inherently political technologies, design decisions are seemingly irrelevant, what makes artifacts political is the social infastructure which surrounds the given technology. This scenario is to be contrastred with its former in that rather than the artifact being placed into the enviroment, the <i>enviroment is placed around</i> the artifact. Winner makes sense of this by comparing inherntly poltical artifacts as in the same sense "that an automobile requires wheels in order to move". 




    , intention is often crucial in design Winner clarifies that design decisions are more or less ambivalent to the ultimate politics of a given technological artifact. He claims that "consoily or unconsiously, delibraeratley or inadvertenly" technologies are built and influence people through power. Not all design decisions (which translate to political values) are intentional and as such the politics of an artifact can not be determined a priori to its employment.


    %p Winner suggests we ought attend to: "characteristics of technical objects", "the meaning of those characteristics", and the "the contexts in which those objects are situated" (301, Winner). To suggest these three properties, Winner describes throughout his article his theory is a suggestion to understand technological artifacts as bringing with them worlds.  Quoting Edmund Husserl's proverbial "to the things themselves", the sense in which 
    
    Winner suggests that his theory of technological politics complements, rather than a replaces, theories of social determination of technology which generally write off politics as soley driven by their social actors or creators.  Central to Winner's project is distinguishing that artifacts may be understood as political in two divergent manners.





    %p To clarify, 'politics' Winner refers to a sense of organization in relations of power and authority of humans. Additionally 'artifacts' are taken to be any human edifice. This makes TP a broad reaching theory because it can be understood to conern almost any enviroment, as our world always 



    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
