!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title 
 
    %p I. Precursory Assumption: The Scope of "Technology"
    %p What is technology? A common sense approach might suggest that technology is a set of <i>tools</i> or <i>means</i> which assist us in accomplishing <i>goals</i> or <i>ends</i>. For example, if I have the goal of opening a bottle of beer, I might accomplish said goal by utilizing the technological tool of a bottle opener to remove the cap from its bottle.  Additionally, we might understand "social" constructs to be of similar essence or role as "physical" tools in that they epitomoze the human condition of tool-ness.  Joseph Pitt in <i>Thinking About Technology</i> elaborates on such notion suggesting that while historically technology "has been characterized only as mechanical tools", this conception is flawed because technology also includes "social phenonmena". He goes on to suggest that "governments, organizations, and hierarchies" are tools and technologies much in the same way physical objects such as hammers are tools and technology.  As such we ought construe technology widely, as set of tools both social and physical. 

    %p 

    %h2 II. Our Relationships with Technology
    %p Now that we broadly understand our technologies we technology, we can philosophical approach the question of: "what are our (human) relationships with tools?".  Our resolve is bipartite: we <i>produce (or make) technologies</i> and we <i>consume (or use) technologies</i>. Two mutually exclusive human mode of thought; in one mindset, you produce, design, create, or make some (new) technology; and in another you consume, purchase, buy, or use some (existing) technology.  We are taught there is minimal overlay between these two modes of human reasoning. For example, I don't know how my car was produced, but I know how to drive it.  Pencil makers don't know what messages pencil consumers en-scribble, however but that doesn't stop them from chopping, cutting, and processing wood to produce pencils.

    %p Are producing and consuming really different social activities though?  Adressing the question with angust, Langdon Winner in <i>Technologies as Forms of Life</i> argues such separation of consumption and production is the primary reason why technologies adopt commonplace seemingly ambivalent moral quality.  He points blame at the stratification of production and consumption stating with a knife he can "slice a loaf of bread or to stab the next person that walks by". The knife doesn't hold the morals, people hold morals.  But what if substitute the knife in Winners example with a cheap plastic butter knife? Unfortunatly, our knife can no longer can be used for stabbing, some aspect of morals are not just in the person, but rather in prior embeedd in the process of production of technology.  In his seminal work, <i>Do Aritfacts Have Politics?</i>, Winner casually suggests that artifacts rather than having moral ambivalence, have explicit politics. However, he never actually states "artifacts have politics".. consequently is only ever affirmativly <i>implied</i> from in the question of his work as he leaves his readers with wide eyes of optimism. It can only be assumed his intention was for us to think <i>he believes</i> that artifacts have politics. Joerges replies to the article stating that Winner "answers the question as to whether... artefacts are politics with a resounding: 'Yes they are'". I could also see how someone might argue the contrary however.. But 

    %p Settling Winner's ultimate disposition is not of my concern, but rather I want to suggest it was a mistake for him to pose the question "Do Artifacts Have Poltics?" in the first place. The reason why is that posing such question assumes the disjunction "artifacts either have or do not have politics" is a sound premise in logic for us to investigate.  Consider a (technological) artifact that one person makes and uses. Or simpler, a world with one man. Can the artifacts this man makes, sans human(ity), have politics?  A single man humanity could only exert power over.. himself, that's not politics. 


    %p Prior to indluging Winner in overlaying politics on technology,the question ending (I) concerned the relation between consuming and producing technology.  Not all Winnerian reasoning being flawed, Winner shines great insight into association in (technological) consmpution with production in suggesting simply that we ought "attend more closely to technical objects... [and] ... the contexts in which those objects are situated" (301). 

    %p The "worlds" of technology which Winner refers primarily in <i>Technologies as Forms of Life</i> offer quintessential insight into the projet at hand., Borrowing Wittegenstein's terminology, Winner represents that technologies as "forms of life" which are "woven into the texture of everday existence, the devices, techniques, and systems we adopt shed their tool-like qualities to become part of our very humanity".

    %h2 The Worlds of Computing

    With the idea of technologies being "worlds",  I can now overlay computing into our exploration of technology.
    
    
    What he suggests is rather than "technologies" being produced and consumed and illustrated earlier, this is an ongoing and continous process. We are living in technology while we are simultaneously birthing technology, applying vivaciously abstractly to concretely continuously.

    %p


    %p Technologies are not only the physical tools we product and consume, but rather the bi-partite and self-so to speak surrounding production and consumption
    
    
    What Winner is suggesting is not only that we use technology as means as previously explored, but rather that we are living <i>in</i> technology and <i>creating</i> technology. Analaglies to this philosophical investigation into technology can be seen exhibited in numerous other authors in the philosophy of technology, previosouly mentioned author Pitt describes such phenomena by defining technology as "humanity at work". Heidigger as well, if you can see past his terminology in the Question Concerning Technology, laregly argues for a call to consider the "worlds" technologies embodies. 

    %p The notion of technology as tools and the worlds in assocition with those tools is what I am getting at here. For our purposes worth

    %h2 III. Interfaces and The World of Computing
    %p Computers can be understood physically, as stacks of interfaces connected to one another. The software whiyour computer is just a bunch of interfaces that hook into one another (often called <i>software</i>) with the base level of all of the interfaces representing simple on/off switches, 0s and 1s. Our software, or stacks of interfaces, allow us to translate a certain set of 0s or 1s into different sets of 0s and 1s. This process is repreated over and over again, and that is the world which is computing.

    %p However, the interfaces 
    
    %p through the means of our abstracted stacks of interfaces to translate into different sets of 0s and 1s.

    %p Computing is often viewed as a large construct which subsumes programming. Many people in modern age <i>use</i> computers, but a very small sub-set of computer users would call themselves "programmers". The reason why this is because most computer-users do not use what could be interpreted as "programming interfaces". To unpack this claim, let us first consider what an "interface" is.

    %p believe primarily to be at the helm of the widespread adoption of graphical user interfaces (GUIs). 


    %p With our understanding of technologies as encompassing the interplay of both tools and their worlds established in (II), I now wish offer some novel insight into the worlds surrounding both programing and computing. Without explicatly defining programming, we can ask: what is programming opposite to? To this question the answer
    %p With what was established prior, grokking what I am about to say 



    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
