!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Technological Artifacts have Politics
    %p Offering a disjunction "Rather than insist that we immediately reduce everything to the interplay of social forces, the theory of technological politics draws attention to certain technological imperatives suggests that we pay attention to the characteristics of techinical and the meaning of those characteristics."

    %p "A necessary complement to, rather than a replacement for, theories of social determination of technology, this back to borrow Edmund Husserl's philosophical injuction, to the things themselves."

    %p Moses example
    %p Manufacturing Plant Example
    %p "The importance of technical arrangements that precede the use of the things in question."
    %p "produces a set of consequences logically and temporarlly piror to any of its professed uses"
    %p "If our moral and political language for evaluating technology includes only categories having to do with tools and uses, if it does not include attention to the meaning of the designs and arrangements of our artifacts, then we will be blinded to much that is intellectually and practically crucial"
      
    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
