!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Bridging the Gap between Programming and Computiner
   
    
    %p I cringe when I hear someone claim in earnest,  "I am not programmer". My distaste does not stem from my own self-identification as a programmer, but rather a larger cultural mis-understanding of the distance between computing and programming. The mis-understanding I refer to is of an overly narrow understanding of the capabilities of us all in an age in which we are immersed in a world of computing. A maxim of my argument would not be understood as "we should all be programmers", but rather "we already all are programmers".  Why I say we already all are programmers is that I see a substantially smaller distance between the analagous of programming and computing 
    
    I simply wish to demystify and provide conceptual ground for understanding programming  in relation to computing. A normative claim, I believe we place far too much boundary between computing and programming. I hope to show a sense of close analogy between programming and computing to my readers such that either one could be seen as interchangable.


    %h2 Technological Functionalism: Technologies as Tools
    %p Technological Functionalism, is a conception of technologies, addressed by a number of authors within the philosophy of technology that view embodies the idea that technologies are synonymous with <i>tools</i>. We carefully set out to design technologies and subsequently use said technologies, as tools, in everyday practical situations of <i>use</i>. At crux and the power of this view is that technological concerns can be separated into two distinct categories: making (of tools) and their use. By this view, our tools appear as impartial technological artifacts.  As Langdon Winner explains, in viewing technologies as tools, "I can use my knife to slice a loaf of bread or to stab the next person that walks by". As such, he goes onto explain on surface, technologies are of "promiscuous utility... fundamentally neutral as regards their moral standings"  (Winner, 105). 
    
    %p Expanding on this claim, in <i>Technologies as Forms of Life</i>, Winner explains that technologiucal functionalism is a "conventional idea" that needs be "overcome if a critical philosophy of technology is to move ahead". Winner's main concern is that he believes "making" and "use" are intricately tied together such that technologies "reshape" human activity and meaning. Technologies transform the way people go about life, what we call "mere technological entities" he says are "broadly.. involved in conditions of social and moral life". 


    
    %h2 Black Boxes and Naivete
    


    

    %p In the response "Do Artefacts Have Ambivalence" to Langdon Winner's "Do Artifacts Have Politics", Woolgar &amp; Cooper
    
    %p People place politics in artifacts
    
    %p A prolific and widely-cited article, Langdon Winner's "Do Artifact Have Politics" offers an account of how technology can embody political values.  In the article, Winner posits two manners in which technological artifacts may be viewed as manifesting relations of power and authority in human associations (politics). Winner provides a number of historical anctedotes in supporting his positive argument for artifacts being capable of possesing political proprties. Winner's examplar historical ancetode posesses has attain an ea

    illustrating his thesis describes a builder, Robert Moses, who delibrartly built bridges low to prevent busses carrying blacks from reaching Jones Beach. The tale goes that years after Moses' death, the bridges remained embodying Moses' racist values.

    %p The story of Moses' bridges turns out to be counter-factual, but still the question remains: what made Winner's article experience such extravagent success and how should we understand Winner's argument as a whole regardless of its factual credibility? Following, I will offer analysis of Winner's theory of technological politics, examine two critical responses to his theory, and finally by building on analysis of Woolgar and Cooper in an article entitled "Do Artefacts Have Ambivalence?" offer original insight into the nature of the article itself as a political artifact.

    The difference between theory and Explanation
     


    %h2 Moses and Chinese Whispers
    %p Woolgar &amp; Cooper in an artifact "Do Artifacts Have Ambivalence?" provide an alternatire 

    %h2 Winner's Theory of Technological Politics
    
    %p For Winner, what is at stake here and throughout his entire article 

    entire article, is a suggestion  to understand technological artifacts as being capable of embodying values in and of themselves, quoting Edmund Husserl's proverbial "to the things themselves". Winner suggests that his theory of technological politics complements, rather than a replaces, theories of social determination of technology which generally write off politics as soley driven by their social actors or creators.  Central to Winner's project is distinguishing that artifacts may be understood as political in two divergent manners.
    %p  In the first manner, artifacts may be designed explicitally to embody political values by "settling an issue in the affairs of a particular community" (291). In his section <i>Technical Arrangements and Social Orders</i> he best explifies this such sense by the aformentioned example of the architecht, Moses, who designed bridges low enough that busses could not pass through to prevent blacks from accessing Jones Beach.  Moses, with deliberatly racists intentions of preventing blacks from accessing Jones Beach, built his bridges such to prevent access by busses.  While, intention is often crucial in design Winner clarifies that design decisions are more or less ambivalent to the ultimate politics of a given technological artifact. He claims that "consoily or unconsiously, delibraeratley or inadvertenly" technologies are built and influence people through power. Not all design decisions (which translate to political values) are intentional and as such the politics of an artifact can not be determined a priori to its employment.

    %p The second manner in which Winner argues artifacts embody political values is that of "inherently political technologies". The most fitting example he cites as such is the atom bomb. Particular social infastructure surrounding the development of the atom bomb "must be authoritian" and impose rigid hierarchial structured government in order for such a technology to be manifested. What about building a bomb in your backyard? Winner concedes that "in a world in which human beings make and maintain artifical systems nothing is "required" in an absolute sense". As such  he suggests that "inherently political technologies" exist as a matter of "pratical necessity" and offers several variants of what it means for an artifact have a practical necessity.

    %h2 Interprative Flexibility of the Theory of Technology Politics
    %p Winner outlines and critically distinguishes between two variants or ways in which technological artifacts may have politics. The first is 

    %p Winner in illustrating artifacts as capable of possesining political properties in two seperate manners invites numerous interpretations for a "theory of technological politics". In Winner's first manner of an arifact being designed to "settle an issue in the affairs of a particular community", the <i>artifact is placed into</i> its enviroment. While in the latter case of certain technologies being inherintly politically, requiring some social practical necessity to buttress its existance, the <i>enviroment is placed around</i> the artifact.

    %p It is imporant to make this disntiction because these two manners in which an artifact may comes in contact with its enviroment stand at opposite sides of the spectrum 
    %p In the first manner, of an artifact settling "an  issue in the affairs of a particular community", the artifact's political property is derived by its contigent link to the enviroment in which the . In the Moses example, if the busses had been short enough to pass through the bridges, Moses' decision to design the bridges low would not be politically charged. However, given the height of the busses, such design decision (inadvertent or intention) granted the bridges a political dimension.

    %p In the case of inherently political technologies, design decisions are seemingly irrelevant, what makes artifacts political is the social infastructure which surrounds the given technology. This scenario is to be contrastred with its former in that rather than the artifact being placed into the enviroment, the <i>enviroment is placed around</i> the artifact. Winner makes sense of this by comparing inherntly poltical artifacts as in the same sense "that an automobile requires wheels in order to move". 


    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
