!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title "Do Arifacts Have Politics?": An Arifact with Politics
    
    %p A prolific and deceptivly fruitful article in the philosohpy of technology, Langdon Winner's "Do Artifact Have Politics" offers an intruiging account into the nature of technology's capabilities of embodying political values.  In his article, Winner categorizes two ways in which artifacts may embody political properties as either: inherently political artifacts or situationally political artifacts. Howver, what is the reader to assume from Winner's categorizations: artifacts are political or artifcats are not political. I will investigate the quandry of determining if Winner's title for his classic is worth merited. Namely, does Winner tells us whether artifacts have or do not have politics? Furthermore, what would it mean for artifacts to <i>have</i> politics. I hope in my project I clear up ambiguities in interpreations of this classic.

    %h2 I. Winner's Theory of Technological Politics
    %p In "Do Artifacts Have Poltics?" Winner sets out to develop a theory of <i>technological politics</i>.  He explains that 'politics' refer to the sense of human organization in relations of power and authority and artifacts can be any human edifice. His theory of technological politics suggests we need to consider the worlds, or the phenomonological sense of our physical and social technologies. By considering these worlds, technologies can be wrought as politics in two manners: as situationally politcal or as inherentlly politcal.
    
    %p Articats may be <i>situationally political</i> in that they may be designed explicitally to embody political values or "settling an issue in the affairs of a particular community" (291). In his section <i>Technical Arrangements and Social Orders</i> he explifies this sense by providing the example of the architecht, Moses, who designed bridges to Jones Beach too low for busses to pass through. During the era of Moses' life, blacks rode on busses, the effect of Moses' design decision as such was to prevent blacks from reaching Jones Beach.  Moses, is portrayed with racists intentions. 

    %p The strength of this example and other examples he classifies as <i>situationally political</i>, is that they portrayed the artifact as political in virtue of the enviroment the artifact is placed within.  For example in the Moses example, if the busses had been short enough to pass through the bridges, Moses' decision to design the bridges low would not be politically charged. However, given the height of the busses, such design decision (inadvertent or intentional) granted the bridges an affirmative political dimension.

    %p The second manner in which Winner argues artifacts embody political values is that of "inherently political technologies". The most fitting example he cites is the atom bomb. Particular social infastructure surrounding the development of the atom bomb "must be authoritian" and impose rigid hierarchial structured government in order for such a technology to be manifested. He mentions these artifacts are not truly "<i>inherently</i>"in the strong sense political, but rather their politics is derived out of nature of "practical necssity". Yes you could build a bomb in your back yard, however it would be of smaller and lesser force and vivacity than an atom bomb organized by a government. He also cites nueclear power as another instance of a inherently political technology.

    %h2 II. Are Artifacts Political?
    %p I believe for Langdon Winner to pose, by entitling his article, "Do Artifacts Have Politics?" was not wise, because he wholly does not provide a full account of such. By asking this question "Do Artifacts Have Politics?", he implies that (all) artifacts are political by not posing the question in forms analgous to: 'do some aritfacts have polotics?', 'may arifacts have politics?', or 'can artifacts have poloitics?'. These weaker versions quantify the scope of Winner's project. However, without quantifying the scope of arifacts, the disjunction in logic readers must assume is that : "either all artifacts have politics or all arifacts do not have politics"?

    %p This is a absurd and unsound disjunction for critical analysis because he only provides us contigent evidence for the former case and dismisses the latter. Winner's ariticle as such does not move us past the disjunction. Rather, in Winner's theory of technological politics he merely add two contigent conditions in which artifacts <i>may be considered</i> political.  Reader may slip in reasoning and infer from the suggestion that artifacts may be considerd poloitical to run the disjunction should rendering "(all) artifacts are political".  
    
    %p What would it mean if all aritfacts were political?! Since humans are the creators of all technological artifice, that would make all humans politicians!  This view is frightening conception that makes sense to have been dreamed up by a ethical philosopher.  While Winner never provides evidence to strictly show that "artifacts have politics", making us all politicians, I can quite simply prove by example the contrary: we are not all be politician by showing atleast one person to not be a politician. All I need to do to illustrate this is to show one person creates an artifact that is not political. Consider if there was one man left on Earth. Assume he crafts up some piece of technology, maybe he carves a stick into a javelin. Can that javelin even have the possibility of being <i>political</i>? No it cannot, because there is no power and authority for him to arrange outside of himeself.  If my interlocutor were to argue that a one man world is an unapplicable example here, consider alternativly in our own vastly populated world, a lone artist isolated and locked in a cabin. Imagine this artist creates her edifice not for political purpose, but merely for her own personal satisfaction. Her private work of art is not of political nature, thus adding contigent support to detest claims one could dervice from Winner aruging : not all artifacts are political.
 
    %h2 III. Literature Support: The Title is Taken Not just as Rhetorical

    %p At this point my reader is likely eager to raise to my awareness that the title is <i>not</i> to be taken literally as I have so rendered it. To this, I indeed could believe Winner was just attempting to be pithy, rhetorical, and not taken literally.. however this is not the case considering the responses in the literature to this classic.

    Joerges
    %p Regardless of my criquete of Winner's title, I think its fault here for Winner to be pithy if that's what he intended to do or not. If he wanted other authors and his readers to decide the answer ot

    Joerges support







    
    
    , inpartial in the manner. Of course, he wouldn't suggest logic suggesting us all to be politicians. 

    
    matter that Winner's title is rhetorical because




    %p 

    %h2 III. Interprative Flexibility of the Theory of Technology Politics
    %p Winner in illustrating artifacts as capable of possesining political properties in two seperate manners invites numerous interpretations for a "theory of technological politics". In Winner's first manner of an arifact being designed to "settle an issue in the affairs of a particular community", the <i>artifact is placed into</i> its enviroment. While in the latter case of certain technologies being inherintly politically, requiring some social practical necessity to buttress its existance, the <i>enviroment is placed around</i> the artifact.

    %p It is imporant to make this disntiction because these two manners in which an artifact may comes in contact with its enviroment stand at opposite sides of the spectrum 

    %p In the case of inherently political technologies, design decisions are seemingly irrelevant, what makes artifacts political is the social infastructure which surrounds the given technology. This scenario is to be contrastred with its former in that rather than the artifact being placed into the enviroment, the <i>enviroment is placed around</i> the artifact. Winner makes sense of this by comparing inherntly poltical artifacts as in the same sense "that an automobile requires wheels in order to move". 




    , intention is often crucial in design Winner clarifies that design decisions are more or less ambivalent to the ultimate politics of a given technological artifact. He claims that "consoily or unconsiously, delibraeratley or inadvertenly" technologies are built and influence people through power. Not all design decisions (which translate to political values) are intentional and as such the politics of an artifact can not be determined a priori to its employment.


    %p Winner suggests we ought attend to: "characteristics of technical objects", "the meaning of those characteristics", and the "the contexts in which those objects are situated" (301, Winner). To suggest these three properties, Winner describes throughout his article his theory is a suggestion to understand technological artifacts as bringing with them worlds.  Quoting Edmund Husserl's proverbial "to the things themselves", the sense in which 
    
    Winner suggests that his theory of technological politics complements, rather than a replaces, theories of social determination of technology which generally write off politics as soley driven by their social actors or creators.  Central to Winner's project is distinguishing that artifacts may be understood as political in two divergent manners.





    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
