!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Technological Artifacts have Politics
    %p In "Do Artifacts Have Politics", Langdon Winner provides a positive argument for technical artifacts posessing political properties.  

    %h2 Technological Determinism
    %p Technological determinism "molds society to fit its patterns"
    
    artifacts posessing political properties means, one has to understand first what qualifies as a technical artifact and secondly, exactly political properties are.

    %p Winner i s refuting our intution

    %p Offering a disjunction "Rather than insist that we immediately reduce everything to the interplay of social forces, the theory of technological politics draws attention to certain technological imperatives suggests that we pay attention to the characteristics of techinical and the meaning of those characteristics."

    %p "A necessary complement to, rather than a replacement for, theories of social determination of technology, this back to borrow Edmund Husserl's philosophical injuction, to the things themselves."

    %p Moses example
    %p Manufacturing Plant Example
    %p "The importance of technical arrangements that precede the use of the things in question."
    %p "produces a set of consequences logically and temporarlly piror to any of its professed uses"
    %p "If our moral and political language for evaluating technology includes only categories having to do with tools and uses, if it does not include attention to the meaning of the designs and arrangements of our artifacts, then we will be blinded to much that is intellectually and practically crucial"
    University denied theses charges, arguing that to accept them "would require elimination of all research with any potentional practical application"
    What we see here instead is an ongoing social process in which scientific knowledge, technological invention, and corporate profit reinforce each other in deeply entrenced patterns, patterns that bear the unmistakable staemp of political and econommic power (293)

    The heavester is not merely the symbol of a social order that rewards some while punishing others it is in a true sense an embodiment of that order. (293)

    Design decisions - "how seemingly innocuous design features in mass transit systems, water projects, industrial machinery, and other technologies actually mask social choices of profound significance.

    The things we call "technologies" are ways of building order in our world. 

    technological innovations are similar to legislative acts or political foundings that establish a framework for public order that will endure over many generations (294)

    issues that divide people... in tangible arrangments of steel and concrete, wires and semiconductors, nuts and bolts.

    to choose them is to choose unalterably a particular form of political life (295)

    Authortity does not dissapear just changes forms (295) engels
    tasks must be coordinated and timing of the work is "fixed by ahtuorhoity of the steam". Automatic machinery of a big factory is much more despotic than the small capitalists who employ workes ever have been (295)

    relations of authority and subordinations arise "independtly of all social organization are impoused upon us together with the material conditions under which we produce and make products circulate" (295)

  after all, does modern technology make possible or necessary in political life? 296)
  
  practical rather than logical necessity (296)

  if you accept nuclear power plants, you also accept a technoo scientific industiral military elite. (295)

  solar energy is decntralizing in both a technical and political sense: technically speaking more reasonable to build solar psystems in disaggregated, widely distributed manner than in large scale centralized plants (297)

  The importance question is :  DOes this sate of affairs derive from an inavoidable social response to intractable proprties in the things themselves, or is it instead a pattern imposed independently by a governing body, ruling class, or some other social or cultural instuation to further its own purposes? (297)

  Interial social systgem of the bomb must be authoritiarian (298)

  In many instances, to say that some tehcnologies are inherently political is to say that certain widely accepted reasons of practical necessity -- espeically the nedd to maintain crutical technological systems as smoothly working entities -- have tended to eclipse other sorts of moral and political reasoning.

  Can the internal politics of technology and the politics of the whole community be so easily sepearted (299)

  what deilmenas such as the energy crisis require is not a redistrubtion of wealth or broader public participation but, rather, stronger, centralized public and private managment.


      
    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
