!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Using Feedback Loops to Critically Asses our Technological Relationships
    %p In <i>Technologies as Forms of Life</i>, Langdon Winner urges us to attend the technology that we use and surrounds us on a daily basis in the context of "forms of life". Humanity shares "worlds" with humanity technology, being continously involved daily facilitation of existing and recreation of new worlds. Building on Winner's conception of technologies as forms of life, I explain feedback loops, a useful mechanism for grasping the nature of the worlds we share with technology.  Providing several examples of how feedback loops are employed in our relationship with technology, my intent is to not to provide an exhaustive account of humanity's relationship with technology, but simply illustrate how feedback loops may be seen as a helpful tool in critically assessing and thinking about our relationship with technology.

    %p Forthcoming, in (I), I will provide a classical understanding of our relationship with technology seperating technological concerns into the domains of making and use. Next in (II), I will show how the classical understanding of technology seperated into making and use motivates Langdon Winner's project to understand technologies as forms of life. Following in (III), I will introduce my own mechanism of the feedback loop to assist in comphrending the technological worlds we live in. Closing in (IV), I will provide additional insights on.
  
    %h2 I. A Classical Understanding of Our Relationship with Technology
    %p If technology is thought about in the traditional sense, technologies a sets of <i>tools</i> or <i>means</i> which assist us in accomplishing some <i>goals</i> or <i>ends</i>. For example, if I have the goal of opening a bottle of beer, I might accomplish said goal by utilizing the technological tool of a bottle opener to remove the cap from its bottle.  In addition to physical tools, social constructs with a tool nature should also be understood as technology.  Joseph Pitt in <i>Thinking About Technology</i> elaborates on this notion in suggesting that while historically technology "has been characterized only as mechanical tools", this conception is flawed because technology also includes "social phenonmena". He goes on to suggest that "governments, organizations, and hierarchies" are tools of technology much in the same way physical objects such as hammers are tools of technology.  As such, we ought construe technology widely, as "tools" of both social and physical construct.  

    %p We may now ask: what is our (humanity's) relationship with these "tools" of technology?  An intuitive reply might be to suggest that our "relationship" with technology is two-fold, we both: <i>produce or make (new) technologies</i> and conversely <i>consume or use (existing) technologies</i>.  The benefit of viewing our relationship as such is that we divide humanity's relationship with technology in two individually addressable spheres: making and use. We can address issues of consumption of technology use separate from issues of technology creation.  I don't know how my car was produced, however I can still drive it and critically asses <i>how</i> the technology impacts me. Conversely, the making or creating of new technologies is viewed seperatly sa "a fasications of certain people in certain occupations... the domain of ivnetors te chnicians, engineers, repairment".

    %h2 II. Technologies as Forms of Life, Worlds
    %p The downside to viewing technology in the traditional separation of making/use, is that such understanding portrays technology as necessarily <i>external</i> to humanity.  Humanity can detach from technology as technology is just something humanity chooses to participate in and is voluntarily aided by. Winner argues that this is far from the truth in that he claims "technologies are not merely aids to human activity, but also powerful forces" (105). Winner believes that technology have the ability to "reshape ... activity and its meaning" (105). He goes on to cite that technologies are not just instrumental tools, but rather embody forms of life. He cites that "introduction of a robot to an industrial workplace" both increases production while also radically "redefining what 'work' means in that setting".
    %p Winner also illustrates technological forms of life, in where we follow a certain language in communicating with technology, are rarely critically addressed. In what Winner calls "technological somnabulism", he suggests that many of our "recurring patterns... become uncosnous processes taken for granted" (105). Winner suggests that we should critically reasses the various social roles we play in our involvement with technology. Arguing that we often become engrained in natural patterns of life, innocous process and involvment with technology is in many realms unconcious.  He provides for instance that we rarely stop to think of the <i>procedure</i> of taking a shower for example. Winner distances himself from providing an account of technological determinism, the view that "technological innovation is the basic cause  of changes in society", in viewing that "determinism" undermines our ability to exert will of choice in progression of the development of technology.
    %p Winner's project, which originates from Wittgenstein's concept of language games and Marx's notion of production, emphasizes that technologies bring with them their own worlds. By his view, we can be understood as in worlds of technology even in the most primitive forms of social interaction.  Walking into a convient store, there are certain social expectations and norms expected of you. Winner explains that in the "technical realm we repeatedly enter into a series of social contracts" to which he adds that sometimes "the terms of which are ony revealed after signing" (107). If I start ripping items off the shelves and causing a ruckus in the store I am violint terms of the social contract regardless of my not signing any explicit paper containg rules before entering the store.  By Winner's view of technologies as forms of life, technologies are worlds in which we are constantly engaging in and responsible for not only the subsitence but we are activtly engaged in the recreation of. Our adherence to social contracts, whether unconsiously or in will, sustains these worlds and we ought attend closely to the worlds of technology which we inhabit.

    %h2 III. What are Feedback Loops?
    %p In Winner's <i>Technologies as Forms of Life</i>, he mentions a form of life I will refer to as the <b>feeback loop</b>. A feeback loop is simply a mode of interaction, or form of life, in which one person asks a question to something and awaits for an answer. Conversation or human-to-human interaction, can be understood as a series of feedback loops. For example, if I am talking with somebody, I might pose to them "nice day out today". They might reply back to me in a number of ways: they could agree with me, disagree with me, shift the discourse, or not reply at all. However, prior to making the assertion "nice day out today", I can hypothesize of categories of possible responses. In this way, conversation human-to-human can always be understood as a question-asking procedure, a series of feedback loops. 
    %p The interesting thing about the feeback loops is that they don't only occur in human interaction but also appear are a critical component of our relationship technologies. Computer interfaces may also, similar to conversation, may be understood as a series of feedback loops. You issue commands, or questions, to the computer and the computer responds back with answers. You might type '2+2= in the calculator application on your computer and it may respond to you in several ways like our conversation example: it may respond with a number accurate or inaccurate, the computer may crash, or it may simply ignore your request. In the same way we have "conversations" with people, we have conversations with technologies.

    %h2 IV. Thinking Critically about Several Feedback Loops
    %p Feedback loops are important to think about because they define many of our basic interactions with technology. Feedback loops provide insight into what it means to live with and in a world of technology.. they shine line on how technologies can embody forms of life. Given this insight I wish to highlight two feeback loops in which we are engaged, largely uncious of, but I believe of worth to question.

    %h2 IV.<sub>I</sub> Clocks and Time
    %p Clocks are a fascinating technology to examine as they provide an instantaneous and direct experience of a feedback loop providing us with knowledge. You look at a clock and it provides you with the time. Walking around a house with no clocks is a very different experience from walking around a house furnished with clocks. In the former case you are <i>aware</i> of the time, and in the latter case while you are <i>unaware</i> of the time.

    %p Awareness of time while viewed in this light as a choice, is rarely taken as a true and viable voluntary option. When was the last time you went in public without clocks, or knew a person not eerily attached to their phone or other device that feeds them their knowledge of the time. While it may sound incredibly basic, we may wonder how ordinary choices such as our knowledege of time affects worlds in the social sphere we live with. We can ask: how would we be different people if we didn't keep track of time?

    %p Answering questions like these unfortunatly is diffucult to impossible to determine simply because we cannot see the <i>effects</i> and <i>causes</i> of technology independently.


    %p When you are rushed to make appointment at a certain time
    The reason why is that in the later case is that simply by virtue of clock existing in the in your vision, you are aware of the time.
    
    directbecause they establish a sense of continuity of time that does not "exist" in unless you choose it to. Having a clock is essentially an extension of the su

    %p Coupling or including clocks in other devices such as handheld phones.
    
    %h2 IV.<sub>II</sub>

    #works-cited 
      .title Works Cited
      .citation Biletzki, Anat, and Matar, "Ludwig Wittgenstein", <i>The Stanford Encyclopedia of Philosophy</i> (Summer 2011 Edition), Edward N. Zalta (ed.), URL = &lt;http://plato.stanford.edu/archives/sum2011/entries/wittgenstein/&gt;.
