!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title All Reasoning Requires Faith
    %p When you the sun will rise tomorrow, 
    %p Reasoning, or deduction, in logical systems is based in assumptions. All assumptions are grounded in faith.

    %h2 The difference between Live and Dead Options
    %p James, in looking to understand the pre-requisite of beliving any given proposition presents us a label he calls an option. An option, precursor to belief is simply a "decision between two hypothesis". In logic, an option could be simply understood as a disjunction between two given propositions (a v b), where the propositions in question are two hypothesis of what we ought believe.

    %p One critical feature of an option which James highlights is that options may be either living or dead. A living option is an option in which. The critical property of a living option is one in which both hypotheses of the disjunction hold "some appeal" to you. The amount of appeal can be minor but you must be able to legitiatmly consider that each hyptohesis have as appeal. James cites the example "Be an agnostic or be a Christian". 

    %h2 Forced Options
    %p Another distinction which James highlights is that in distinguishing between a genuine and a forced option. A genuine option is an option in which you may choose not to take either option. For example if I were to say to you, if you drink, drink gin or vodka. The conditional that, if you drink is the key here. Your option of what to drink is presented, however it is also the case that you can choose not to drink all together.
    %p Placed in contrast genuinue option is a forced option. Unlike a geniue option, a forced option requires its epistemic subject to make a choice in the disjunction. James cites the examples of forced options as: "either love me or hate me" or "either call my theory true or call it false". The distinctive feature of the forced option is that a choice is unavoidable.

    %h2 Language vehicle of living forced options
    %p Wittgenstein's language game is an useful abstraction for understanding the nature of force options in reasoning. 

    %h2 The Problem of Induction
    %p Communicated Reasoning,

    %h2 Faith in Others Reasoning

    %h2 Implications of Accepting James

    %h2 Philosophy is all Normativity
    %p If you accept what I propose than most philosophy should appear to you as having little practical worth. In fact the worth or value of philosophy should be understood in terms of a live option in which you embrace that philosophy can further knowledge. As such, philosophy should never be understood in the descriptive sense. Rather philosophy should be understood as a purely normative activity

    %h2 Argument for Why All Reasoning is Grounded in Faith

    
    
    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 219-234. Print.
