!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Poetry is More Useful in the Path to Wisdom than Philosophy
   
    %p Poetry and philosophy may both be seen as resources for attaining wisdom.  However, which is a more encompassing and useful resource in attaining wisdom: poetry or philosophy?  In what follows, I will offer a positive argument for why poetry is more useful in attaing wisdom than is philosophy. 
    %p Following, In (I), I will make clear the distionction between deontological and teleloglocial theories. Next, in (II), I will defend my assertion that poetry and philosophy have aligned telogoly in that they are both resources in one own path to wisdom. In (III), I will show how philosophy can be understood as a form of poetry. In (IV), I will explain how poetry could not just be understood as a branch of philosophy.  In (V), with supporting argumentation explicated (I-IV) I will offer my positive argument for why poetry is a more useful resource in attaining wisdom than is philosophy.

    %h2 I. A Telelogical and Normative Account
    %p Poetry and philosophy can both be understood as resources for attaining wisdom. Before I defend this claim, first I need specify that the argument I wish to provide forthcoming is strictly telogical. In other words, I am concerned with discerning and comparing between the end-goals of poetry and philosophy or what end-goals one could seek out to accomplish through each.
    %p The telelogical account I wish to provide can be put in stark contrast with a deontological account. A deontological account would aim to provide rules or labels as to what qualifies as poetry and philosophy. While I will cover what I think can be considered as poetry and philosophy later in section (III), I will not explictly define what this means.
    %p Additionally, asides my argument being telelogical in nature, I wish to point out that the argument I wish to provide is strictly normative and not a descriptive. This is to say that I wish to outline the way one ought to think about how philosophy stands in relation to poetry. I acknowledge that this is not the only conception possible, but rather I merely how to provide a useful set of abstraction to place poetry in relation to philosophy. I fully concede that this may not be the only way to view the relation between poetry and philosophy -- however I think my conception should provide a useful guide.

    %h2 II. Understanding Poetry

    %p The word <i>poetry</i> can be understood in several senses. For simplicity's sake, following we will consider <i>poetry</i> strictly <i>noun</i>. We can say that <i>poetry</i> exists within the form of written words and visual presentation. I take poetry in this sense as to not muddle our anlysis with understanding considering what actions count as "doing poetry". From this, only considering the written words and visual presentation of poetry as our reference point, a good way for to attempt to understand what poetry is, is to place poetry in reference to what it is not: prose.

    %p It is often argued in analysis that poetry stand in opposition to prose. Thus, written text is either poetry or it is prose, but not both. How does one category any given piece of text as poetry or prose?  A simple anlysis is that prose is conerned with the natural flow of language, while poetry is concerned with aesthetics of language.

    %p Whilist you read prose, you can consciously observe how deduction, and understand how words build upon one another to facilitate a larger and greater composition or meaning. In prose, there is a coherent and concerete message which the writer inteded for you to derive. Good prose is valid and there may be noted logical deductive reasoning.  Contrary to prose, in poetry, the aesthetics are purposefully played with in such a way that deductivly the text does not exactly follow. You may not be able to consously obser the relation in how the word logic builds into a larger and greater meaning. Rather a poem is more concerned with purposeful language play on aesthetics. 

    %p Furthermore, certain language play in aesthetics are categorized into certain "forms" of poetry. For example, one form of poetry, the haiku dictates that poems consist of 3 lines with up to 17 syllables in which the first and last line have 5 syllables and the middle line has 7 syllables. Another form of poetry called the ghazal, specifies that the poem  

    %p Out of this notion of "forms" of poetry arises the problem with defining poetry. In discerneing between what is poetry and what is prose, one may stumble upon a form of poetry called "prose-poetry". In prose-poetry, there is an underlying prosey feel, in that there is a natural and logical flow of language, however certain poetric attributes or elements are still found throughout.  This defies the stratification that all verse can fall into one of two categories: prose or poetry. Furthermore, there is an even more absurd form of poetry called "free verse" poetry in which there are no specified rules. Unlike the ghazal or sonnet, a free verse poem is literally taken 

    %h2 III. Poetry and Philospohy: Both Verse, Paths to Wisdom
    %p Both poetry and philosophy exist in the form of written text and can both be categorized as falling under the larger construct, <i>verse</i>. Verse is any form of written literature. Verse, when read is thought about. When you verse, you consiouslly run over the words presented to you in your mind. As such, the activity of reading verse <i>makes</i> you think.

    %p I may not be able to specify the exact relation by which thinking and wisdom are related, however, I believe that there to be an intregal tie between thinking and wisdom. such that it is safe to assume that, thinking leads to wisdom.  This assertion, that thinking leads to wisdom, can be defeneded by simply asking one self the question, who is more wise: a new born baby or a 30-year-old? Or alternativly ask, who is more wise: the literate or the illterate?

    %p In both these examples it seems to me that the more wise subject is the one who has <i>thought more</i> (the 30-year-old and the literate).  One might argue the contrary to this and stratify wisdom from thinking by such proverb as "ignorance is bliss". To this intuition I would simply ask my reader please demonstrate to me why illerate are more wise than the literate. By providing such an explaination, my interlocutor would seem to contradict themselves, because if they bothered to raise this objection they should be considered literate and arguing themselves more wise then myself by positing that the literate are more wise than the illiterate.

    %p Given that reading verse makings you thinking and that verse leads to thinking, I may now posit: reading verse leads to wisdom. The nice thing about this deduction is that both philosophy and poetry are forms of verse. As such, philosophy and poetry can be understood to have an aligned telelogy: they both may lead you to wisdom.

    %h2 III. Philosophy as a Form of Poetry
    %p The central basis upon which my argument rests is that: philosophy can be understood as a form of poetry; but poetry cannot be understood merely as a form of philosophy.  My discussion of how poetry forms are fuzzy illustrated in (I) should make the former statement true, however I still need to defened the latter statement.

    %p Why could not poetry be understood merely as a branch or a subset of philosphy? The simple answer is that philosophy is formal. Again, I am not refering to poetry and philosophy as verbs, but rather simply as nouns. If philosophy were to encompass poetry, where would poetry sit in such relation?

    %p My reasoning for why poetry seems to be a better guide to wisdom than philosphy should be becoming fairly self-evident to the reader at this point. Poetry and prose cannot be distinguished between. Or in other words if the poetry-prose distinction is one drawn within the context of  

    %h2 Formalized Argument
    %ol
      %li Reading verse brings you closer to wisdom.
      %li Poetry and Philosophy are both instances of verse.
      %li Philosophy can be understood as a form of Poetry.

      %li Thus: Poetry brings you closer to wisdom than philosophy





      
      There is a "form" of poetry in which there are literally are no defining features. In "free verse" poetry literally anything goes. Free verse poetry is a 
      
      forms of prose, however, given the imprecise and insufficient nature of language to model meaning it would be much easier for one to argue that everything could be understood as poetry rather than everything could be understood as prose. If you pose the question: what is the defining feature of prose? Although this definition may not be exhaustive, you could argue that prose is logical. However, now pose the question: what is the defining feature of poetry?

      %p You'll be hard-pressed to find any one defining feature or "rule" that you could use to distinguish what is poetry from what is not poetry. My interlocutor might argue that all poetry needs to be in a form of poetry, however this only exacerbates the issue given that there is a form of poetry known as free-verse poetry. While other forms of poetry utilize pattern in their meter, rhythm, shape, or other aesthetic qualities -- free verse poetry is literally free verse.

      %p Free verse, as a form of poetry, holds no rules


      Where as prose seeks to make explicit the logical derivations, or logically flow in a sense, poetry does not hold this aim. 

    %h2 II. Both Used to Attain Wisdom: Poetry and Philosophy
    %p Poetry and philosophy as activites have similar goals: both can be used to attain wisdom. In order to say this I need to clarify at least three things: 1) what poetry is, 2) what philosophy is, and 3) what wisdom is.

    %p Firstly, I will start with what philosophy is. Philosophy can be understood most generally as the activity of producing written bodies of text which explore the 
    
    %p Pre-requisite to defnding this claim let me first start by clarifying that I am referring both to poetry and philosophy both in the sense of the words being verbs. In other words, I believe that philosphy and poetry can both be used to attain wisdom through being activities. As such, following I will show how 

    %p Although, poetry and philosophy as activities could be used for a wide variety of activity, I would like to assert that both poetry and philosophy can be used in seeking out the telelogical goal of seeking wisdom.

    %p With those considerations clarified, I believe that poetry and philosophy can both be resources in attaining wisdom. The methodology involved in philosophy makes explicit 

    %p I am refering to end-goals of poetry and philosophy. I am <i>not</i> refering to individual instances of philosophy and poetry

    %p
    What I mean by this is that poetry and philosophy, viewed as activites both can advance one's wisdom. For clarity's sake, cons

    %p What are the goals of poetry and what are the goals of philosophy one might ask. To this question, we can best understand philosophy

    %p a more encompassing guide to wisdom? In the scope of this paper I will show how poetry can be understood as a better guide to wisdom than is philosophy. The reason why I say this is that poetry can be understood to be encompassing philosophy, however philosophy cannot be undestood to encompass poetry. Or in other words it is harder to define what poetry is than it is to define what philosophy is.


    %p If one wanted to understand the releation between poetry and philosophy, one would need to determine the relation between the two constructs. For the purposes the project in question, I will define poetry and philosophy both in the sense that they are activities which lead their participants to truth. To be clear here, I am referring to philosophy and poetry in the scope of this paper merely in the deontological sense.  Starting from interpreting the activities of poetry and philosophy in the deontological sense I will show how the outputs of poetry inspire a more inviting path to wisdom than philosophy. 
    
    
    %p Additionally I will illustrate how poetry can be understood to encompass what philosophy does. In other words, I will offer a positive argument for why philosophy is just a form of poetry.

    %p My project of seeking to understand the scope of poetry set out. Firstly in (I) I will look at the deontological examination of outputs of poetry and philosophy .

    %h2 I. Pre-Requisite: Difference between Teology and Deontology


    %h2 I. Difference Between the Deontological and Telelogical Sense
    %p A useful distictnion I will make before introducing my positive argument for why poetry is a better path to wisdom that philosphy is that of the disiction between 
    deontological and telelogical projects. The Telelogical-dentological can often be noted in ethics primarily. 
    %p In ethics, a telelogical project asserts value judgments concerining what one's ultimate ends goals, or <i>telos</i> should be. For example, Ultilitarianism, can be considered telelogical because utlitiarianism asserts than one's indivual happiness <i>should be</i> maximized and one's individual suffering <i>should be</i> minimized.  A deontological project, in comparison to a telogoloical project asserts value judgments specifying what actions are right and which actions are wrong. For example, your school handbook is a deontological project because it has a bunch of rules you need follow. 

    %h2 II . Paths to Wisdom: Poetry and Philosophy
    %p I would like to arrive at wisdom. That is to say I would like to know the truth, or if I cannot know the truth I would like to get as close to the truth as possible. For the purposes of trying to arrive at wisdom I propose that poetry and philosophy are both suitable vehicles for such thought.































    %p I will not attempt 

    %p Teology is the venue of idealists and deontology is the venue of pragmatists. 

    or telos but rather specifying value assignments to individual actions. For example, rules in school could be considered to represent a deonontological conception of ethics. For example, in school it is often an explicitly stated rule that you should not cheat or copy another's work. If a student is caught cheating on a test, they are considered to be in the wrong. It could be considered froma  teleoglocial stance, perhaps that the student feels that the system or organization's rule that one should not cheat is flawed and as such the student poseeses some justification for why they should cheat, by using their intetions or teloelogical account as a reference point. However, from a deontoogical perspective, the student would still be win the wrong for cheating.


    While, utiliarianism asserts that happiness should be maximized and suffering minimized, individual actions are only judged in virtue of these end goals to maximize happiness and minimize suffering.

    is not considered with indidivual actions as being labeled as "good" or "bad". In other words, there are no "rules" that dictate how to be a utiliarian, rather the only rule or value suggestion is that considering how one might maximize utility and minixmize suffering.


    Telological projects sometimes are also refered to as consequentialist because what is considered is not the initial intetions of the agent, but rather the consequences that result. Telelogical acccounts it would seem value intented over 


    
    in the bodies of text but the act of doing. 
    %p Similiarly one might understand art in the process of doing art, versus merely the produced works of art. 

    %p Taking this kind of poisition in comparing between poetry and philosophy as activities, there may be many similarities draw. For instance, take for example the 

    and determine the relation  between the two constructs, I would need to define what poetry and philosophy both are. I could define poetry as 

    ---

    %h2 III. What is Philosophy? What is Poetry?
    %p Poetry can encompass philosophy 

    
    %h2 I. Telogoical and Deontological Projects

    %h2 II. Normative and Descriptive Projects
    %p Another key distinction I need make before arguing my postive case for why poetry is a freer medium of expression than philosophy is to specify the distiction between normative and descriptive projects.  A key distiction to highlight additionally is the distiction between normative and descriptive projects. 
    
    %p A descriptive project explains the way things actually are. For example, the chemical formulas which appear in molecular biology are considered to be descriptive because the actual composition or proportions of atoms which leads to new molecules with new properties existing. A molecule of water is defined as H<sub>2</sub>O because it is made up of two parts hydrogen and one part oxygen. A molecule that is anything besides two parts hydrogen and one part oxygen is not a water molecule but something else.

    %p A normative project on the other hand does not explain the way things actually are but merely aims to suggest the way things ought to be. So for exmaple you might have a normative project for making a peanut butter and jelly sandwhich. The project might specify that one should use bread cut in 4" squares and then equal proportions of peanutbutter and jelly should be spread on one piece of bread and the one piece of bread should lay ontop of the mixture of peanut butter and jelly. While, these instructions are one way of making a peanut butter and jelly sandwhich they are not the only way. Someone might suggest that rather than having equal properotions of peanutbutter and jelly, one should make the sandwhich with two parts jelly and only one part peanutbutter. Normative projects are not concerned with speifying <i>the</i> way in an objective sense, but rather suggesting one way.


    %h2 V. Placing 

    %h2 III. Poets and Philosophers as Input-Output Devices
    %p In order to understand the difference between the activities of poetry and philosophy, let us consider one indidivual poet and and one indidvual philosopher as distinct instances of input-output devices. The philosopher, understood as an input-output device, takes in some input, processes that input through the activity of philosophizing, and thus produces some output. Similarily, the poet, understood as an input-output device, takes in some input, processes that input through the activity of poetry, and thus produces some output. 
    %p For our comparison sake, let's consider that outputs of our philosopher and poet devices are to only take the forms of written bodies of text.  In the case of the philosopher, we would call the written body of text they output, "philosophy". In the case of the poet, we would call the written body of text they ouput, "poetry". What about the inputs to our philosopher and poet devices? For now, let us simply consider that the poets and philosphers may only take in written bodies of text as their inputs. As such, philosphers and poets are both simply input-output devices which take in some written body of text and output another written body of text.
    %p My reader may now critcize my notion of poets and philosphers as input-output devices simply transforming one "body of text" into another "body of text" as being far too narrow-minded. Viewing poets and philosphers in such a narrow view is to minimize the acedemic, cultural, and communal nature of the activities of poetry or philosphy. My interlocutor might argue, philosophers and poets don't work alone and they are not simply text transformers, there is culture, community, and most of all "experience" input that cannot be accounted for by simply reducing philosphers and poets to merely intaking a "body of text" as their input and producing some other "body of text" as their output.
    %p To this objection, consider the following thought experiment: Imagine every poet and philosopher dies right now at this instant. What can we say about what the great philosphers and poets of the past? The living epistemic agents could only merely look at the written bodies of text of poets and philopshers in extrapolating about philosophy and poetry. Whatever experiences or inputs the philosphers and poets intook, we may never know. However, the poets and philosphers were sent a number of messages from the world, they experienced these messages.
    %p While we could never know just <i>how</i> they experiencing these messages aas the messages' meaning may have transcedned language, the best we can do is understand their inputs as languagem, or a "written body of text". Thus, philosphers and poets can be understood as merely in taking some written body of text and outputting another written body of text.  Now, I am not trying to discount the communal aspects of the acitivities of poetry and philosophy, but understanding poetry and philosophy in this such behaviorist input-output view as I suggest should seem formidable to anyone who was ever been acquainted with solipism, behaviorism, or Wittgenstein's language games. Thus, such approach is wholly defensible.

    %h2 IV. Philosophy's Limited Inputs
    %p With this concept of the philosopher and the poet input-output devices developed, we can begin to understand the difference between poetry and philosophy by specifying the scope of inputs and ouputs that our philosopher and poet devices work with.  Each device, as outlined in the previous section takes in some "written body of text" to produce or ouput another "written body of text".  My primary concern forecoming in this sectoin is to narrow the scope of such written  bodies of text. Or rather I want to ask what kinds of written bodies of text does each device take as input and what kinds of written bodies of text does each device produce as output?

    %p Firstly, what is the input of the philosopher device?  One might suggest that a "written body of text" is a broad category and would motivate the notion that philosopher device may be inspired by anything and produce a wide diversity of philosophy as result. However, if we consider this route, would the product that the philosopher device outputs be considered philosophy? If a "written body of text" was interpreted as being the philosopher devices' true input then it would seem that philospohisers could philosophize about anything to produce philosophy. As such, the philosopher is just analagous to the person in question and there would be no need to delineate between a philosopher device
    
    However, 
    With the concept of the philosopher device being so broad, it is hard to say what exactly the input might be. 
    A paradigmatic or fitting body of text that we might feed into the philosopher device as input would be a question. Philosophy, or the philosophical process, is often cited as starting with a question.  Philosophers like to ask questions such as: "what is life?", "when do you know?" and "is objective knowledge possible?". Such questions are paradigmatic of the pratice of philosophy. As some say, philosophers like to ask questions to which there are no answers.
or 
    The results to the questions we feed into the philosopher device would take the form of a written body of text and we would call such outputs "philosophy". In modern place philosophy, such bodies of text recieved as output often take the form papers and are published in journals.

    %p If the philospher device could take in as input any "body of text", then this would be analagous to saying that: one can philosophize on anything. 

    Can one really philosophize on anything? 

    %p But what about bodies of text fed to the philosopher which are not strictly "questions"? Could the philosopher device potentionally take any body of text as input to process, philosophize on, and ouput <i>philosophy</i>. For exmaple, what would our philosopher device output if we provided the input "brick breath nyan cat light"? Two things could occur: 1) the philosopher device might produce some ouput or 2) the philosopher device might not produce any ouput. Let's assume that the philosopher device does produce some ouput in response to "brick breath nyan cat light". Putting aside, atleast for now the actual content of the body of text recieved as output, would we even be inclined to call what was outputted philsophy? I would argue we would be inclinced prima facie to not label the output as philosophy because there was no substantive material to begin with. Your prompt for writting a philosophy essay in college does not say, "Brick breath nyan cat light", it says "how is rationalism different from empericism".

    %p Put another way, how many philosophical papers have you read that say something like "what about brick breath nyan cat light? here's what I've deduced". I have not read a single philosophy paper of such sort and its good reason. In philosophy you start with assumptions and show explcitily some deduction to arrive at some conclusion.   
    
    Philosophy has its telelogical goal in being descriptive. Specifically in the analytic philosophical tradition, it is assumed that the author wishes to arrive at the truth, and philosophy is simply the vehicle for getting you there.

    %p Philosophical tradition embraces the model that there is a <i>right</i> way of thinking about things because the culturel is completly about making explicit ones deductions. A good philosophy paper builds upon abstractions created within the scope of the paper and as such it appears that the reader has done his good philosophical work. Philosophical is valid when the conclusions follow from the premises. 

    is not kind of prompt you recieve to write about for your essay for philosophy class. It seems easiest to argue that this is not the realm or scope of philosophy. As such, maybe philosopher device for tranforming formal questions into answers called philosophy. If there was no formal question to begin with well, how could the philosopher device produce and output some philosophy?

    
    If the philosopher device went with the latter case it would seem that philosophy has as a more limited set inputs than merely specified as "a body of text". This could likely be the case, but even more intresting than the reuslt in the latter case is what we would be able to infer in the former case.

    %p Suppose the philosopher device produces some output in response to the input "cat brick breath nyan light". What could we expect the ouput to be? It seems absurd to me that whatever this output was we call it philosophy. 


    types of questions seem very fitting to the role of philosphy. So
    
    "What is life?", or "is objective knowledge possible?" into the philospher device. I could imagine many philosphers might argue that the inputs of philosphy ought to be considerd questions.

    %h2 What's Not A Question?

    %p Both our philospher and poet device could be understood to take any written body of text, however it would seem absurd to seem certain written bodies of text into the philosopher device. 
    %p With the concept of a poet and a philospherexisting input-output devices as explained in (III), let us now 

    I think there is value in this line of thought, however for now, please put these critisms aside. T
    %p Understanding poets and philosophers as input-output devices we can quickly draw similarities in the scope or potentional of wpoetry and philosophy. Philosophers and poets can both 

    Our example poet and our example philospher being input-output devices simply means that we can treat the two indidvuals as machines in that we can feed in some input into the machine and receive some output.  Let's set the input to the philosopher and the poet as any arbitrary question. For our example, let's feed the input question "what is a light switch?" into both input-output machines. 

     35     the poet doing poetry and the philosopher doing philosophy?  Poetry and philosophy may be vastly different in the forms they take       on in terms of readings, discussions, analysis, and so on and so forth. For this reason, lets consider a stricter view of what it is to     do poetry and philosophy 
     sense 
    an philosophers being input-output devices means that 
    both philosophers and poets as machines which take some input and produce some output.

    the poet doing poetry and the philosopher doing philosophy?  Poetry and philosophy may be vastly different in the forms they take on in terms of readings, discussions, analysis, and so on and so forth. For this reason, lets consider a stricter view of what it is to do poetry and philosophy 
    
    has only one method of the communication with the world: producing a written body of text.

    %p The philosopher would look at the question "what is a light switch?" and think long and hard about the question, or in other words philosophize on the question. 
    to produce a written body of text 

    , are produce an elaborate philosophical account of what defines a light switch. The philosophical account might include how light switches operate, the cultural place of light switches, and explore further in depth: why light switches? The account might even try to determine the sense in which we might ever know what a light switch is. 
    %p The poet, like the philosopher, would look at the question "what is a light switch?" and go on to produce a written body of text on what a light switch is. The poet producing their writtten body of text, when completed would call their work a poem or a work of poetry.
    However, at this point you are likely wondering and should be wondering just why I could say that a poem could be written in response to answer the question what is a light switch in the same way a philosopher could write some philosophy in attemps to determine what is a light switch. Or rather, the question that should come to mind is: what is poetry?

    One could write philosophy to understand or provide explanation of what a light switch is. Alternativly, one could write a poem about a light switch.
    %P 
    poetry and philosophy ultimatly, telelogiclaly with providing answers to questions. F
    If you are to consider that philosophy and poetry could both be understood as activities with some ultimate goal, what would those ultimate goals be. 

    %h2 III. Similarly Teology; Poetry's Normativity, Philosophy's Descriptivity
    %p With the difference between normativity and descriptivity and teleogoly and deontology outlined in (I) and (II), I can now offer my positive argument 
    %p To begin to understand the difference between poetry and philosophy projects we need determine where poetry and philosophy fall on the normativity-descriptivty and telelogy-deontology spectrums. While we couldn't say or know for sure where exactly they fall on the spectrums because to say that would be to compare poetry and philosophy with everything that they are not; we can however compare poetry and philosphy in relation to each other in the properties of normativity and teleology. For example, it would reasonable and formidable goal to determine that poetry is more normative than philosophy or visa-versa. Also, that poetry is more telelogical than philosophy.

    %p What reasons would there be to argue that poetry is more normative than philosophy?

    %p The central tenant of my argument is that poetry, because of its normativity

    %p Unconventional philosphy, that does not seek to provide descriptive accounts but more normative accounts more in line with works of poetry are usually label as anti-philosphy. For example, Wittgenstein in his Philosophical Investigations offered no hard concrete prooofs of .

    %p The famous picture of the duck-rabbit highlighted in Wittgenstein's philosophy points out this defficiency 

    %h2 III. Central Argument
    %ol
      %li Poetry has no rules.
      %li (From 1): Poetry, specifically, free verse poetry could only be telogolically concerned.
      %li (From 2): Poetry is normative.
      %li Philosophy, especially modern philosophy, takes form in written papers making clear the reasoning or deduction.
      %li (From 3): Philosophy, unlike poetry can be understood from a deontological stance.
      %li Philosphy is more descriptive; while poetry is more normative.



    


    %p If you accept what I propose than most philosophy should appear to you as having little practical worth. In fact the worth or value of philosophy should be understood in terms of a live option in which you embrace that philosophy can further knowledge. As such, philosophy should never be understood in the descriptive sense. Rather philosophy should be understood as a purely normative activity



    %p While 

    %h2 Philosophy is Deontological; Poetry is Telelogical
    %p In order to understand the difference between 

    A telogolocail project is mainly concerned with examaning the ends goals or telos of a particular activity. Contrarily however, a deontological project

    %p Two kinds of philosophical projects can be di
    %p I need to specify the difference between teleological and deontological projects.
    %p The difference between a teleological and deontological project can be best understood 

    
    %h2 Telogocial Goal of Philosophy
    %p The goal or teleological scope of philosophy could be understood as the systematic exploration of problems. For example, the branch of philosophy known as epistemology is concerned with

    %h2 Telelogical Goal of Poetry
















    %p How could argument ever be grounded? Could beliefs ever be justified a priori, standing independent of faith? Could we have descriptive knowledge representing the world as it actually is and not just merely how we believe it ought to be. In the scope of this paper I will attempt to determine if epistemic knowledge can stand indpendent of faith.

    %p Roadmap

    %h2 Equating Language and Reasoning 

    %h2 Before Belief: James' Options
    %p My project being to understand whether argument could ever be grounded in anything other than faith, we must understand what a belief is.

    our argument we have to question what is the origin of beliefs? In other words, what is the pre-requisite to belief?


    %h2 What Comes Before Belief?

    %h2 Language: A Series of Forced Options
    %p The notion of an <i>option</i>, introduced by William James' Will to Believe is useful 
    
    understanding mechanism of reasoning. Reasoning is a simple and familiar concept to understand. The simplest form of reasoning 


    %p In William James' The Will to Believe, James introduces the notion of an option.
    a pre-requisite to a belief which comes in much use in attempting to understand l

    %p Another distinction which James highlights is that in distinguishing between a genuine and a forced option. A genuine option is an option in which you may choose not to take either option. For example if I were to say to you, if you drink, drink gin or vodka. The conditional that, if you drink is the key here. Your option of what to drink is presented, however it is also the case that you can choose not to drink all together.
    %p Placed in contrast genuinue option is a forced option. Unlike a geniue option, a forced option requires its epistemic subject to make a choice in the disjunction. James cites the examples of forced options as: "either love me or hate me" or "either call my theory true or call it false". The distinctive feature of the forced option is that a choice is unavoidable.


    Rather, what is the role of faith in reasoning? Is faith complementary to reasoning or merely a tool of the religious incompotentnt? Are religious phantaics any futher from the truth than well-studied scientists.
    %p Faith is my main topic of concern in the scopes of this paper, or rather I want to determine . Usually when someone says that an argument is grounded in faith this kind of expression is used as a pejorative that 

    or where do assumptions come from. It seems that in an ideal world our philosophical inquiry and commonplace deduction could be inching us closer toward some notion of objective truth. This search for grounding thus validating or justifying 

    %p Where do assumptions come from? This was the question I asked  to start with in my philosophical inquiry in trying to determine 
    %p I believe that the common view of logic and deduction within philosphy is flawed. Or atleast that the capabilities of logical systems is overaccounted for. 

    %p Reasoning, or deduction, in logical systems is based in assumptions. All assumptions are grounded in faith.

    %h2 The difference between Live and Dead Options
    %p James, in looking to understand the pre-requisite of beliving any given proposition presents us a label he calls an option. An option, precursor to belief is simply a "decision between two hypothesis". In logic, an option could be simply understood as a disjunction between two given propositions (a v b), where the propositions in question are two hypothesis of what we ought believe.

    %p One critical feature of an option which James highlights is that options may be either living or dead. A living option is an option in which. The critical property of a living option is one in which both hypotheses of the disjunction hold "some appeal" to you. The amount of appeal can be minor but you must be able to legitiatmly consider that each hyptohesis have as appeal. James cites the example "Be an agnostic or be a Christian". 
    %h2 Language vehicle of living forced options
    %p Wittgenstein's language game is an useful abstraction for understanding the nature of force options in reasoning. 

    %h2 The Problem of Induction
    %p Communicated Reasoning,

    %h2 Faith in Others Reasoning

    %h2 Implications of Accepting James


    %h2 Argument for Why All Reasoning is Grounded in Faith

    
    
    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 219-234. Print.
