!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title Poetry is More Useful in the Path to Wisdom than Philosophy
   
    %p Poetry and philosophy may both be seen as resources for attaining wisdom.  However, which is a useful resource in attaining wisdom: poetry or philosophy?  Forthcoming, I will provide a positive arugment for why poetry is more useful resource for attaining wisdom than is philosophy.

    %p Firstly In (I), I will make clear the distionction between deontological and teleloglocial theories. Next, in (II), I will defend my assertion that poetry and philosophy have aligned telogoly in that they are both resources in one own path to wisdom. In (III), I will show how philosophy can be understood as a form of poetry. In (IV), I will explain how poetry could not just be understood as a branch of philosophy.  In (V), with supporting argumentation explicated (I-IV) I will offer my positive argument for why poetry is a more useful resource in attaining wisdom than is philosophy.
    %h2 II. Understanding Poetry

    %p The word <i>poetry</i> can be understood in several senses. For our purposes let's consider <i>poetry</i> strictly as a <i>noun</i>. Let's assume <i>poetry</i> exists simply as written words on paper.  We undestand poetry in this narrow sense as to not muddle our analysis with analysis the "act" of poetry, but rather the interpretation or reading of poetry as it exists as physical words written on paper.

    %p From this conception of poetry as written words on paper,
    From this, only considering the written words and visual presentation of poetry as our reference point, a good way for to attempt to understand what poetry is, is to place poetry in reference to what it is not: prose.

    %p It is often argued in analysis that poetry stand in opposition to prose. Thus, written text is either poetry or it is prose, but not both. How does one category any given piece of text as poetry or prose?  A simple anlysis is that prose is conerned with the natural flow of language, while poetry is concerned with aesthetics of language.

    %p Whilist you read prose, you can consciously observe how deduction, and understand how words build upon one another to facilitate a larger and greater composition or meaning. In prose, there is a coherent and concerete message which the writer inteded for you to derive. Good prose is valid and there may be noted logical deductive reasoning.  Contrary to prose, in poetry, the aesthetics are purposefully played with in such a way that deductivly the text does not exactly follow. You may not be able to consously obser the relation in how the word logic builds into a larger and greater meaning. Rather a poem is more concerned with purposeful language play on aesthetics. 

    %p Furthermore, certain language play in aesthetics are categorized into certain "forms" of poetry. For example, one form of poetry, the haiku dictates that poems consist of 3 lines with up to 17 syllables in which the first and last line have 5 syllables and the middle line has 7 syllables. Another form of poetry called the ghazal, specifies that the poem  

    %p Out of this notion of "forms" of poetry arises the problem with defining poetry. In discerneing between what is poetry and what is prose, one may stumble upon a form of poetry called "prose-poetry". In prose-poetry, there is an underlying prosey feel, in that there is a natural and logical flow of language, however certain poetric attributes or elements are still found throughout.  This defies the stratification that all verse can fall into one of two categories: prose or poetry. Furthermore, there is an even more absurd form of poetry called "free verse" poetry in which there are no specified rules. Unlike the ghazal or sonnet, a free verse poem is literally taken 

    %h2 III. Poetry and Philospohy: Both Verse, Paths to Wisdom
    %p Both poetry and philosophy exist in the form of written text and can both be categorized as falling under the larger construct, <i>verse</i>. Verse is any form of written literature. Verse, when read is thought about. When you verse, you consiouslly run over the words presented to you in your mind. As such, the activity of reading verse <i>makes</i> you think.

    %p I may not be able to specify the exact relation by which thinking and wisdom are related, however, I believe that there to be an intregal tie between thinking and wisdom. such that it is safe to assume that, thinking leads to wisdom.  This assertion, that thinking leads to wisdom, can be defeneded by simply asking one self the question, who is more wise: a new born baby or a 30-year-old? Or alternativly ask, who is more wise: the literate or the illterate?

    %p In both these examples it seems to me that the more wise subject is the one who has <i>thought more</i> (the 30-year-old and the literate).  One might argue the contrary to this and stratify wisdom from thinking by such proverb as "ignorance is bliss". To this intuition I would simply ask my reader please demonstrate to me why illerate are more wise than the literate. By providing such an explaination, my interlocutor would seem to contradict themselves, because if they bothered to raise this objection they should be considered literate and arguing themselves more wise then myself by positing that the literate are more wise than the illiterate.

    %p Given that reading verse makings you thinking and that verse leads to thinking, I may now posit: reading verse leads to wisdom. The nice thing about this deduction is that both philosophy and poetry are forms of verse. As such, philosophy and poetry can be understood to have an aligned telelogy: they both may lead you to wisdom.

    %h2 III. Philosophy as a Form of Poetry
    %p The central basis upon which my argument rests is that: philosophy can be understood as a form of poetry; but poetry cannot be understood merely as a form of philosophy.  My discussion of how poetry forms are fuzzy illustrated in (I) should make the former statement true, however I still need to defened the latter statement.

    %p Why could not poetry be understood merely as a branch or a subset of philosphy? The simple answer is that philosophy is formal. Again, I am not refering to poetry and philosophy as verbs, but rather simply as nouns. If philosophy were to encompass poetry, where would poetry sit in such relation?

    %p My reasoning for why poetry seems to be a better guide to wisdom than philosphy should be becoming fairly self-evident to the reader at this point. Poetry and prose cannot be distinguished between. Or in other words if the poetry-prose distinction is one drawn within the context of  

    %h2 Formalized Argument
    %ol
      %li Reading verse brings you closer to wisdom.
      %li Poetry and Philosophy are both instances of verse.
      %li Philosophy can be understood as a form of Poetry.

      %li Thus: Poetry brings you closer to wisdom than philosophy






    %h2 I. A Telelogical and Normative Account

    %p Poetry and philosophy can both be understood as resources for attaining wisdom. Before I defend this claim, first I need specify that the argument I wish to provide forthcoming is strictly telogical. In other words, I am concerned with discerning and comparing between the end-goals of poetry and philosophy or what end-goals one could seek out to accomplish through each.
    %p The telelogical account I wish to provide can be put in stark contrast with a deontological account. A deontological account would aim to provide rules or labels as to what qualifies as poetry and philosophy. While I will cover what I think can be considered as poetry and philosophy later in section (III), I will not explictly define what this means.
    %p Additionally, asides my argument being telelogical in nature, I wish to point out that the argument I wish to provide is strictly normative and not a descriptive. This is to say that I wish to outline the way one ought to think about how philosophy stands in relation to poetry. I acknowledge that this is not the only conception possible, but rather I merely how to provide a useful set of abstraction to place poetry in relation to philosophy. I fully concede that this may not be the only way to view the relation between poetry and philosophy -- however I think my conception should provide a useful guide.



      
    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 219-234. Print.
