!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      December 13, 2013
      %br
      Professor Pitt
      %br
      PHIL-3024
    #title How Can Human Reasoning be Grounded?
    
    %p The idea of a problem in argumentation implies that there could be a solution. More so, a problem in deductive argumentation would appeal to the sense that there is a right and a wrong solution. If a child spills his organe juice on the ground, we could say that the child had a problem. Also, this problem, fittingly, has one or more solutions.

    %h2 I. Telogoical and Deontological Projects
    %p A useful distinction to highlight before adding support to my thesis is to discern between telological and deontological philosophical projects. The Telelogical-dentological divide is of a point of consideration primarily in ethical philosphy. A telelogical ethical account considers the ultimate ends, goal, or <i>telos</i> of a project. For example, Ultilitarianism is often cited as a telelogical ethical system because utlitiarianism is concerned with how an indivual's happiness may be maximized and their suffering may be minimized. Telological projects sometimes are also refered to as consequentialist because what is considered is not the initial intetions of the agent, but rather the consequences that result. Telelogical acccounts it would seem value intented over 

    %p A deontological project, on the other hand, in contrast to a telogoloical project is not concerned with the ultimate goal or telos but rather specifying value assignments to individual actions. For example, rules in school could be considered to represent a deonontological conception of ethics. For example, in school it is often an explicitly stated rule that you should not cheat or copy another's work. If a student is caught cheating on a test, they are considered to be in the wrong. It could be considered froma  teleoglocial stance, perhaps that the student feels that the system or organization's rule that one should not cheat is flawed and as such the student poseeses some justification for why they should cheat, by using their intetions or teloelogical account as a reference point. However, from a deontoogical perspective, the student would still be win the wrong for cheating.

    %h2 II. Normative and Descriptive Projects
    %p Another key distinction I need make before arguing my postive case for why poetry is a freer medium of expression than philosophy is to specify the distiction between normative and descriptive projects.  A key distiction to highlight additionally is the distiction between normative and descriptive projects. 
    
    %p A descriptive project explains the way things actually are. For example, the chemical formulas which appear in molecular biological are considered to be descriptive because the actual composition or proportions of atoms which leads to new molecules with new properties existing. A molecule of water is defined as H<sub>2</sub>O because it is made up of two parts hydrogen and one part oxygen. A molecule that is anything besides two parts hydrogen and one part oxygen is not a water molecule but something else.

    %p A normative project on the other hand does not explain the way things actually are but merely aims to suggest the way things ought to be. So for exmaple you might have a normative project for making a peanut butter and jelly sandwhich. The project might specify that one should use bread cut in 4" squares and then equal proportions of peanutbutter and jelly should be spread on one piece of bread and the one piece of bread should lay ontop of the mixture of peanut butter and jelly. While, these instructions are one way of making a peanut butter and jelly sandwhich they are not the only way. Someone might suggest that rather than having equal properotions of peanutbutter and jelly, one should make the sandwhich with two parts jelly and only one part peanutbutter. Normative projects are not concerned with speifying <i>the</i> way in an objective sense, but rather suggesting one way.

    %h2 III. Poets and Philosophers as Input-Output Devices
    %p In order to understand the difference between the activities of poetry and philosophy, let us consider one indidivual poet and and one indidvual philosopher as distinct instances of input-output devices. The philosopher, understood as an input-output device, takes in some input, processes that input through the activity of philosophizing, and thus produces some output. Similarily, the poet, understood as an input-output device, takes in some input, processes that input through the activity of poetry, and thus produces some output. 
    %p For our comparison sake, let's consider that outputs of our philosopher and poet devices to only take the forms of a written body of text.  In the case of the philosopher, we would call the written body of text they output, "philosophy". Alternativly, in the case of the poet, we call the written body of text they ouput, "poetry". What about the inputs to our philosopher and poet devices? For now, let us simply consider that the poets and philosphers may only take in written bodies of text as their inputs. As such, philosphers and poets are both simply input-output devices which take in some written body of text and output another written body of text.
    %p My reader may now critcize my notion of poets and philosphers as input-output devices transforming one "body of text" into another "body of text" as being far too narrow-minded. Viewing poets and philosphers in such a narrow view is to minimize the acedemic, cultural, and communal nature of the activities of poetry or philosphy. My interlocutor might argue, philosophers and poets don't work alone and they are not simply text transformers, there is culture, community, and most of all "experience" that cannot be accounted for as an input by simply reducing philosphers and poets to merely accepting a "body of text" as their input.  

    %p To this objection, consider the following thought experiment: Imagine every poet and philosopher dies right now at this instant. What can we say about what the great philosphers and poets of the past? The living epistemic agents could only merely look at the written bodies of text of poets and philopshers to extrapolate about philosophy and poetry. Whatever experiences or inputs the philosphers and poets intook, we may never know. However, the poets and philosphers were sent a number of messages from the world, they experienced. This all encompassing experience was their input, its mere meaning transcended language. But, the best we could ever do to understand their expereicing input is to transcribe it to language. Thus, philosphers and poets can be understood as merely intaking a written body of text.  Now, I am not trying to discount communal aspects of the acitivities of poetry and philosophy, but understanding poetry and philosophy in such a behaviorist input-output view should be familiar to anyone who ever brushed up against solipism, behaviorism, or Wittgenstein's language games. Thus, such approach is wholly defensible.

    %h2 IV. Philosophy's Limited Inputs
    %p With our philospher and poet devices outlined, we can now start to understand the differences between the poet and philosopher devices by attempting to narrow the scope of inputs and ouputs from the broad category of a "written body of text".  
    
    Comparing between the inputs and ouputs of these two devices. To start with, let's consider: what the inputs of the philospher device are? Or rather, we should question is it really the case that the philosopher device can take in any "body of text" on which to philosophize? Posing such question is analagous to asking: can you philosophize about anything?

    %p It would seem very fitting for the body of text input for us to feed to the philosopher device primarly to take the form of a question.  As such, we might understand the philosopher device as to provide explanations outputs to the questions we input. As such, the body of text which is produced as an output in response to a question we call philosophy.  As such, we can feed into the philosopher device questions like, "what is life?" or "is objective knowledge possible?" and we can reiceive outputs which we call "philosphy". 

    %p But what about bodies of text fed to the philosopher which are not strictly "questions"? Can the philosopher device take any input to produce and ouput philosophy. For exmaple, what philosophy would our philosopher device output if we provided the input "brick breath nyan cat light"? Only two possibilities could occur: 1) the philosopher device would produce some ouput or 2) the philosopher device would not produce any ouput. Let's assume that the philosopher device does produce some ouput in response to "brick breath nyan cat light". 
    In understanding our philosopher device to only ever output philosophy, should we truly call whatever is outputted "philosophy"?

    %p More likely we would get no response. Something like "brick breath nyan cat light" is not kind of prompt you recieve to write about for your essay for philosophy class. It seems easiest to argue that this is not the realm or scope of philosophy. As such, maybe philosopher device for tranforming formal questions into answers called philosophy. If there was no formal question to begin with well, how could the philosopher device produce and output some philosophy?

    
    If the philosopher device went with the latter case it would seem that philosophy has as a more limited set inputs than merely specified as "a body of text". This could likely be the case, but even more intresting than the reuslt in the latter case is what we would be able to infer in the former case.

    %p Suppose the philosopher device produces some output in response to the input "cat brick breath nyan light". What could we expect the ouput to be? It seems absurd to me that whatever this output was we call it philosophy. 


    types of questions seem very fitting to the role of philosphy. So
    
    "What is life?", or "is objective knowledge possible?" into the philospher device. I could imagine many philosphers might argue that the inputs of philosphy ought to be considerd questions.

    %h2 What's Not A Question?

    %p Both our philospher and poet device could be understood to take any written body of text, however it would seem absurd to seem certain written bodies of text into the philosopher device. 
    %p With the concept of a poet and a philospherexisting input-output devices as explained in (III), let us now 

    I think there is value in this line of thought, however for now, please put these critisms aside. T
    %p Understanding poets and philosophers as input-output devices we can quickly draw similarities in the scope or potentional of wpoetry and philosophy. Philosophers and poets can both 

    Our example poet and our example philospher being input-output devices simply means that we can treat the two indidvuals as machines in that we can feed in some input into the machine and receive some output.  Let's set the input to the philosopher and the poet as any arbitrary question. For our example, let's feed the input question "what is a light switch?" into both input-output machines. 

     35     the poet doing poetry and the philosopher doing philosophy?  Poetry and philosophy may be vastly different in the forms they take       on in terms of readings, discussions, analysis, and so on and so forth. For this reason, lets consider a stricter view of what it is to     do poetry and philosophy 
     sense 
    an philosophers being input-output devices means that 
    both philosophers and poets as machines which take some input and produce some output.

    the poet doing poetry and the philosopher doing philosophy?  Poetry and philosophy may be vastly different in the forms they take on in terms of readings, discussions, analysis, and so on and so forth. For this reason, lets consider a stricter view of what it is to do poetry and philosophy 
    
    has only one method of the communication with the world: producing a written body of text.

    %p The philosopher would look at the question "what is a light switch?" and think long and hard about the question, or in other words philosophize on the question. 
    to produce a written body of text 

    , are produce an elaborate philosophical account of what defines a light switch. The philosophical account might include how light switches operate, the cultural place of light switches, and explore further in depth: why light switches? The account might even try to determine the sense in which we might ever know what a light switch is. 
    %p The poet, like the philosopher, would look at the question "what is a light switch?" and go on to produce a written body of text on what a light switch is. The poet producing their writtten body of text, when completed would call their work a poem or a work of poetry.
    However, at this point you are likely wondering and should be wondering just why I could say that a poem could be written in response to answer the question what is a light switch in the same way a philosopher could write some philosophy in attemps to determine what is a light switch. Or rather, the question that should come to mind is: what is poetry?

    One could write philosophy to understand or provide explanation of what a light switch is. Alternativly, one could write a poem about a light switch.
    %P 
    poetry and philosophy ultimatly, telelogiclaly with providing answers to questions. F
    If you are to consider that philosophy and poetry could both be understood as activities with some ultimate goal, what would those ultimate goals be. 

    %h2 III. Similarly Teology; Poetry's Normativity, Philosophy's Descriptivity
    %p With the difference between normativity and descriptivity and teleogoly and deontology outlined in (I) and (II), I can now offer my positive argument 
    %p To begin to understand the difference between poetry and philosophy projects we need determine where poetry and philosophy fall on the normativity-descriptivty and telelogy-deontology spectrums. While we couldn't say or know for sure where exactly they fall on the spectrums because to say that would be to compare poetry and philosophy with everything that they are not; we can however compare poetry and philosphy in relation to each other in the properties of normativity and teleology. For example, it would reasonable and formidable goal to determine that poetry is more normative than philosophy or visa-versa. Also, that poetry is more telelogical than philosophy.

    %p What reasons would there be to argue that poetry is more normative than philosophy?

    %p The central tenant of my argument is that poetry, because of its normativity

    %p Unconventional philosphy, that does not seek to provide descriptive accounts but more normative accounts more in line with works of poetry are usually label as anti-philosphy. For example, Wittgenstein in his Philosophical Investigations offered no hard concrete prooofs of .

    %p The famous picture of the duck-rabbit highlighted in Wittgenstein's philosophy points out this defficiency 

    %h2 III. Central Argument
    %ol
      %li Poetry has no rules.
      %li (From 1): Poetry, specifically, free verse poetry could only be telogolically concerned.
      %li (From 2): Poetry is normative.
      %li Philosophy, especially modern philosophy, takes form in written papers making clear the reasoning or deduction.
      %li (From 3): Philosophy, unlike poetry can be understood from a deontological stance.
      %li Philosphy is more descriptive; while poetry is more normative.



    


    %p If you accept what I propose than most philosophy should appear to you as having little practical worth. In fact the worth or value of philosophy should be understood in terms of a live option in which you embrace that philosophy can further knowledge. As such, philosophy should never be understood in the descriptive sense. Rather philosophy should be understood as a purely normative activity



    %p While 

    %h2 Philosophy is Deontological; Poetry is Telelogical
    %p In order to understand the difference between 

    A telogolocail project is mainly concerned with examaning the ends goals or telos of a particular activity. Contrarily however, a deontological project

    %p Two kinds of philosophical projects can be di
    %p I need to specify the difference between teleological and deontological projects.
    %p The difference between a teleological and deontological project can be best understood 

    
    %h2 Telogocial Goal of Philosophy
    %p The goal or teleological scope of philosophy could be understood as the systematic exploration of problems. For example, the branch of philosophy known as epistemology is concerned with

    %h2 Telelogical Goal of Poetry
















    %p How could argument ever be grounded? Could beliefs ever be justified a priori, standing independent of faith? Could we have descriptive knowledge representing the world as it actually is and not just merely how we believe it ought to be. In the scope of this paper I will attempt to determine if epistemic knowledge can stand indpendent of faith.

    %p Roadmap

    %h2 Equating Language and Reasoning 

    %h2 Before Belief: James' Options
    %p My project being to understand whether argument could ever be grounded in anything other than faith, we must understand what a belief is.

    our argument we have to question what is the origin of beliefs? In other words, what is the pre-requisite to belief?


    %h2 What Comes Before Belief?

    %h2 Language: A Series of Forced Options
    %p The notion of an <i>option</i>, introduced by William James' Will to Believe is useful 
    
    understanding mechanism of reasoning. Reasoning is a simple and familiar concept to understand. The simplest form of reasoning 


    %p In William James' The Will to Believe, James introduces the notion of an option.
    a pre-requisite to a belief which comes in much use in attempting to understand l

    %p Another distinction which James highlights is that in distinguishing between a genuine and a forced option. A genuine option is an option in which you may choose not to take either option. For example if I were to say to you, if you drink, drink gin or vodka. The conditional that, if you drink is the key here. Your option of what to drink is presented, however it is also the case that you can choose not to drink all together.
    %p Placed in contrast genuinue option is a forced option. Unlike a geniue option, a forced option requires its epistemic subject to make a choice in the disjunction. James cites the examples of forced options as: "either love me or hate me" or "either call my theory true or call it false". The distinctive feature of the forced option is that a choice is unavoidable.


    Rather, what is the role of faith in reasoning? Is faith complementary to reasoning or merely a tool of the religious incompotentnt? Are religious phantaics any futher from the truth than well-studied scientists.
    %p Faith is my main topic of concern in the scopes of this paper, or rather I want to determine . Usually when someone says that an argument is grounded in faith this kind of expression is used as a pejorative that 

    or where do assumptions come from. It seems that in an ideal world our philosophical inquiry and commonplace deduction could be inching us closer toward some notion of objective truth. This search for grounding thus validating or justifying 

    %p Where do assumptions come from? This was the question I asked  to start with in my philosophical inquiry in trying to determine 
    %p I believe that the common view of logic and deduction within philosphy is flawed. Or atleast that the capabilities of logical systems is overaccounted for. 

    %p Reasoning, or deduction, in logical systems is based in assumptions. All assumptions are grounded in faith.

    %h2 The difference between Live and Dead Options
    %p James, in looking to understand the pre-requisite of beliving any given proposition presents us a label he calls an option. An option, precursor to belief is simply a "decision between two hypothesis". In logic, an option could be simply understood as a disjunction between two given propositions (a v b), where the propositions in question are two hypothesis of what we ought believe.

    %p One critical feature of an option which James highlights is that options may be either living or dead. A living option is an option in which. The critical property of a living option is one in which both hypotheses of the disjunction hold "some appeal" to you. The amount of appeal can be minor but you must be able to legitiatmly consider that each hyptohesis have as appeal. James cites the example "Be an agnostic or be a Christian". 
    %h2 Language vehicle of living forced options
    %p Wittgenstein's language game is an useful abstraction for understanding the nature of force options in reasoning. 

    %h2 The Problem of Induction
    %p Communicated Reasoning,

    %h2 Faith in Others Reasoning

    %h2 Implications of Accepting James


    %h2 Argument for Why All Reasoning is Grounded in Faith

    
    
    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 219-234. Print.
