!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      November 22nd, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Technocrats: The Politicians of The Future
    %p Technological artifacts their core are simply ethical agents. Technologies 

    %p Technology who can use
    %p User interface enabling the masses.
    %p Artists and Politicians have a simliiarity in that they both are ethical agents. Backed by value propositions.
    %p Hackers and artists

    post-technology world
    
    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 219-234. Print.
