!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Suffer Injustice or Commit Injustice: Both Fine Choices
    %p In Gorgias, Polus and Socrates argue wether one should prefer to suffer an injustice or to commit an injustice. In the scope of this paper, I will explore in depth Socrates argument for why one should prefer to suffer an injustice rather than commit an injustice and additionally provide two counter-objections to Socrates highlighting critical weakness of his position.  Following, in (I), I will provide a brief overview of Socrates argument for why one ought suffer an injustice rather than commit an injustice. In (II), I will offer counter-argumentation against Socrates' position by critiquing Socrates notion of what one ought prefer. In (III), I will offer a second counter-argument to Socrates position by showing how Polus' conception of what one ought prefer could have been positivly argued for. Finally in (IV), I will offer some closing remarks on the nature of the argument in Gorgias.
    
    %h2 I. Socrates: Prefer Suffering Injustice over Committing Injustice
    %p In Gorgias, Socrates and Polus argue about whether suffering an injustice or commiting an injustice is preferable. Socrates argues that commiting an injustice is preferable to suffering an injustice. Contrarily, Polus argues that commiting an injustice is preferable to suffering an injustice.  Polus ultimatly accepts Socrates' position that one should prefer to suffer an injustice after Socrates convinces Polus to concede that: 1. commiting an injustice is more shameful and evil than suffering an injustice and 2. one should prefer an action that is less shameful and evil over an action that is more shameful and evil. To get a better understanding of the mechanics of Socrates argument, consider the following reconstructed proof of Socrates' argument for why one should prefer to suffer an injustice rather than commit an injustice:
    %ol
      %li Commiting an injustice is more shameful than suffering an injustice.
      %li One action is more shamefull than another action when it surpasses the other in pain, evil, or both.
      %li Commiting an injustice does not surpasses suffering an injustice in pain.
      %li (From 3) Committing an injustice does not surpass suffering an injustice in both pain and evil.
      %li (From 1-4) Doing what's unjust surpasses suffering what's unjust in evil.
      %li One should prefer an action which is less shameful and less evil over an action that is more shameful and more evil.
      %li (From 1 &amp; 5) Suffering an injustice is less shameful and less evil than commiting an injustice.
      %li Thus (From 6 &amp; 7): One should prefer to suffer an injustice rather than to commit an injustice.
 
    %h2 II. Objection 1: Socrates' Criteria for Comparing Shame is Unsound
    %p A strong objection to Socrates argument can be derived from questioning the soundness of the criterion Socrates presents for determining of two actions which is more shameful as presented in (2).  Socrates posits that in order to determine which action is more shamefull than another action, one must determine which action is more painful, evil, or both painful and evil than the other action.  The problem with this criterion is that it is possible to have a set of two actions in which one action is more painful than the other, and the more painful action is less evil than the other.  
    %p Consider for example two actions we might want to compare in shamefullness: slitting your wrists and shooting up heroin.  Slitting your wrists is undoubtedly more painful than shooting up heroin. Slitting your wrists is done in virtue of inflicting the self pain, while shooting up heroin may be initially painful with it's initial prick, pleasure follows.  Although, shooting up heroin is less painful, it is more evil than slitting your wrists. Doing heroin alters the chemical composition of your brain and leads you in evil tendencies to push for a society of drug-infested ideals; while slitting your wrists isn't quite this evil as your brain chemical composition remains stable. So now we've established both: 1. shooting up heroin is more evil than slitting your wrists and 2. slitting your wrists is more painful than shooting up heroin.
    %p So which action is more shameful - slitting your wrists or shooting up heroin?  This dilemma here should be clear. Socrates criteron for determining which action is more shameful than another action hinges on two sufficient criteria which may diverge in evil and pain. If we try to apply Socrates' criteria for comparing shamefulness in the aformentioned example, slitting your wrists is more shameful than shooting up heroin. But also, shooting up heroin is more shameful than slitting your wrists.
    %p At this point, the reader could argue such objection is baseless by positing that shooting up heroin is more painful than slitting one's wrists (or conversly - that shooting up heroin is more painful than slitting one's wrists). However, this counter-objection only would condem my argument if the subject accepts that it is impossible that there could not be a set of two actions in which one action is more evil than the other action and the less evil action is more painful than the other. Accepting that such a set of two actions could not exist seems prepostours as in this logic there would be no reason to discern between pain, evil, and shame as Socrates uses as his basis for argumentation in Gorgias. Thus, such an objection I would consider eristically-based rather than concerned with logic and truth.  

    %h2 III. Objection 2: Socrates Assumed Pain was Less than Evil
    %p The counter-argument to Socrates position developed in (II) aside, I will offer another counter-argument to Socrates position by illustrating how Socrates in his argument valued pain as in a different class than evil.  In Gorgias, Socrates posits (and Polus agrees) that one should prefer an action that is less evil and less shameful over an action that is more evil and more shameful (6).  This was a critical mistake for Polus as by accepting (6), Polus' own deductive argumentation was undermined by Socrates valuing that pain was less substantial or in a different class than evil.  Socrates in offering his ethical conception of what one ought do should be based in evil and shame, implicity minimizes the value of pain in the ought equation. To make Socrates' logic trickery more clear, one may simply use (2) and render (6) to read: 

    %blockquote <b>(6&prime;)</b>  One should prefer the action which is (less painful or less evil) and less evil. 

    %p This rerendering of <b>(6)</b> to <b>(6&prime;)</b> reveals to us the reason why Socrates argument seems to work so flawlessly. Socrates argument in <b>(I)</b> is entirely valid, however in its assumptions it values that suffering pain is always <i>preferable</i> to doing evil. Suffering pain being preferable to doing evil sounds strikingly close to suffering injustice being preferable to commiting injustice, the very probelm at hand. Thus, Socrates argument, is ultimatly circular or self-referential to such effect. If you plug in something that's evil versus painful, such as commiting injustice and suffering injustice, into Socrates ought equation <b>(6)</b> it will always tell you that you should prefer pain over evil, because evil is both in the disjunction of shame and stands alone in the overall conjunction.

    %p Thus, Polus accepting Socrates' <b>(6)</b> was a drastic mistake, but Polus accepting <b>(6)</b> only worked because Socrates earlier convinced Polus to embrace a conception of shame <b>(2)</b>, which at the begining of the argument he would not have agreed with. At the begining of the argument, before accepting Socrates (2) and (6), the reason why Polus believed that commiting injustice was preferable to suffering injustice was simply that he had a simply conception of what action one should prefer. Namely, Polus' logic didn't involve shame (or Polus defined shame in a different respect) such that Polus' conception of what one should prefer would look like:
    %blockquote One should prefer the action which is less painful and less evil.
    %p In this more concise ethical view of what one should do, Polus believed there to be substaintally more pain involved in suffering an injustice than commiting one. Additionally, a conception of how evil committing an injustice is variable. As such, Polus believed that the pain in commiting an injustice would outweigh the related evil. As such, Polus intuitivly argued that he would rather commit an injustice over suffering an injustice.

    %p It was only after Socrates made Polus embrace his definition of shame (2), that Polus was destined to be convinced by Socrates. 

    %h2 Conclusion
    %p Exploring the divergent logic and conceptions of shame, evil, and pain between Socrates and Polus reveals why Socrates argument is not convincing. Polus early in Gorgias held a different set of assumptions about the nature of shame, pain, and evil in relation to what one ought to do. Socrates was only able to convince Polus that one should prefer to suffer and injustice over committing an injustice after Socrates restructured the very assumptions Polus held about his own nature of ought.
    %p I will not attempt to argue that Polus was right in that one should prefer to commit an injustice rather than suffer an injustice prior to Socrates argumentation. However, I do believe that Socrates logic was no more inferior to Polus's logic. Polus simply held a different set of base beliefs which allowed him to reason that one ought commit an injustice rather than suffer an injustice.

    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 48-51, 158-159. Print.
