!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      November 22nd, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Weakening Socrates' Argument that One Should Suffer Rather than Commit Injustice 
    %p In Gorgias, Polus and Socrates argue to determine whether one should prefer to suffer an injustice or to commit an injustice. In the scope of this paper, I will explore Socrates' argument for why one should prefer to suffer an injustice and additionally provide two counter-objections against Socrates' argument to weakness his position.  Following, in <b>(I)</b>, I will provide a brief overview of Socrates' argument for why one should prefer to suffer an injustice rather than to commit an injustice. Next in <b>(II)</b>, I will offer counter-argumentation against Socrates' position by positing that his criterion for comparing shamefulness is unsound. Proceeding in <b>(III)</b>, I will offer a second counter-argument to Socrates' argument illustrating how his argument hinges upon accepting the value judgment that one should prefer to suffer pain rather than do evil, and thus his argument begs the question. Finally, concluding in <b>(IV)</b> I will offer closing remarks on the nature of <i>should</i> questions.
    
    %h2 I. Socrates: One Should Prefer to Suffer Injustice 
    %p In Gorgias, Socrates and Polus argue about whether suffering an injustice or committing an injustice is preferable. Socrates argues that suffering an injustice is preferable to committing an injustice. Contrarily, Polus argues that committing an injustice is preferable to suffering an injustice.  Polus ultimately accepts Socrates' position that one should prefer to suffer an injustice after Socrates convinces Polus to concede that: <i>1.</i> committing an injustice is more shameful and more evil than suffering an injustice and <i>2.</i> one should prefer an action that is less shameful and less evil over an action that is more shameful and more evil. To get a better understanding of the mechanics of Socrates' argument, consider the following reconstructed proof of Socrates' argument for why one should prefer to suffer an injustice rather than commit an injustice:
    %ol
      %li Committing an injustice is more shameful than suffering an injustice.
      %li One action is more shameful than another action when it surpasses the other in pain, evil, or both.
      %li Committing an injustice does not surpasses suffering an injustice in pain.
      %li (<i>From 3</i>) Committing an injustice does not surpass suffering an injustice in both pain and evil.
      %li (<i>From 1-4</i>) Doing what's unjust surpasses suffering what's unjust in evil.
      %li One should prefer an action which is less shameful and less evil over an action that is more shameful and more evil.
      %li (<i>From 1 &amp; 5</i>) Suffering an injustice is less shameful and less evil than committing an injustice.
      %li (<i>From 6 &amp; 7</i>) One should prefer to suffer an injustice rather than to commit an injustice.
 
    %h2 II. Objection 1: Socrates' Criterion for Comparing Shame is Unsound
    %p A strong objection to Socrates' argument can be derived from questioning the soundness of the criterion presented for determining which of two actions which is more shameful.  Socrates posits "whenever one of two shameful things is more shameful than the other, it will be so because it surpasses the other either in pain or in evil" (Gorgias, 475a).  The problem with this criterion is that it is possible to have a set of two actions in which one action is more painful than the other action, but the more painful action is less evil than the other action.
    %p Consider for example two actions we might want to compare in shamefulness: slitting your wrists and shooting up heroin.  Slitting your wrists is undoubtedly more painful than shooting up heroin. Slitting your wrists is done in virtue of inflicting yourself pain, while shooting up heroin may be initially painful with it's prick, pleasure follows.  Although, shooting up heroin is less painful than slitting your wrists, it is more evil than slitting your wrists. Doing heroin alters the chemical composition of your brain and leads you in evil tendencies to push for a society of drug-infested ideals; while slitting your wrists isn't quite this evil as your brain chemical composition remains stable. So now we've established both that: <i>1.</i> shooting up heroin is more evil than slitting your wrists and <i>2.</i> slitting your wrists is more painful than shooting up heroin.
    %p So which action is more shameful - slitting your wrists or shooting up heroin?  The dilemma here should be clear. Socrates criterion for determining which action is more shameful than another action hinges upon two sufficient criteria (evil and pain) which may diverge in comparing between actions. If we try to apply Socrates' criterion for comparing shamefulness in the aforementioned example, slitting your wrists is more shameful than shooting up heroin. But also, shooting up heroin is more shameful than slitting your wrists.
    %p At this point, the reader could argue such objection is baseless by claiming that shooting up heroin is more painful than slitting one's wrists (or conversely - that slitting one's wrists is more evil than shooting up heroin). However, this counter-objection only would condemn my argument if the subject accepts that it is impossible for there to be a set of two actions in which one action is more evil than the other action and the less evil action is more painful than the other. Accepting that such a set of two actions could not exist seems preposterous as in this logic there would be no reason to discern between pain, evil, and shame as Socrates intends in his basis for argumentation. Thus, such an objection I would consider a work of eristics rather than being concerned with logic and truth.  

    %h2 III. Objection 2: Socrates' Argument Assumes Suffering Pain is Preferable to Doing Evil
    %p The counter-argument to Socrates position developed in <b>(II)</b> aside, I will now offer another counter-argument to Socrates position illustrating how Socrates' begs the question in assuming that suffering pain is always <i>preferable</i> to doing evil. This value judgment can be wrought out by re-considering two of Socrates assumptions from <b>(I)</b>: <b>(2)</b> One action is more shameful than another action when it surpasses the other in pain, evil, or both and <b>(6)</b> One should prefer an action which is less shameful and less evil over an action that is more shameful and more evil. Using these two assumptions, <b>(6)</b> can be re-written more concisely by substituting shame out for pain and evil as:

    %blockquote <b>(6&prime;)</b>  One should prefer the action which is (less painful or less evil) and less evil. 

    %p This re-rendering of <b>(6)</b> to <b>(6&prime;)</b> reveals to us the reason why Socrates' argument seems to work so flawlessly. Socrates' argument in <b>(I)</b> is entirely valid, however in its assumptions it values that suffering pain is always <i>preferable</i> to doing evil. Suffering pain being preferable to doing evil sounds strikingly close to suffering injustice being <i>preferable</i> to committing injustice, the very dilemma at hand. Thus, Socrates' argument, is ultimately circular or self-referential to such effect. If you plug in two actions, one evil, one painful into <b>(6)</b>, such as committing injustice and suffering injustice, <b>(6)</b> will always tell you that you should prefer pain over evil, because evil is both in the disjunction of shame and stands alone in the proposition's overall conjunction.

    %p The discovery that <b>(6&prime;)</b> clearly highlights that Socrates values suffering pain over doing evil makes Socrates' entire argument superfluous. Socrates' argument as represented in <b>(I)</b> is ultimately a form of begging the question since the entire argument hinges on his one value judgment that suffering pain is preferable to doing evil. Further, of course if you value that suffering pain is preferable to doing evil then you will value that you should suffer an injustice rather than commit one. As such, Socrates and Polus' argument about committing injustice versus suffering injustice was more so about whether one should do good (where good includes suffering pain if needed) or evil. To the extent of this question, Socrates successfully convinces Polus to "do good".  Polus concedes he was wrong that one should commit an injustice rather than suffer an injustice. However, when Polus makes this admittance it almost seems like Socrates pulled a parlor trick over his head, Polus simply conceding "so it appears" (Gorgias, 475e).

    %h2 IV. In Conclusion
    %p So how convincing is Socrates' argument that one should prefer to suffer injustice rather than commit injustice? Not very. As established in <b>(III)</b>, Socrates' entire argument rests upon his assumption that one should prefer to suffer pain rather than to do evil. As such, Socrates' argument is simply a form of begging the question. Additionally, Socrates conception of shame appears unsound for comparing between two actions as established in <b>(II)</b>.
    %p Objections developed in <b>(II)</b> and <b>(III)</b> aside, it is important that I end by noting that any answer developed in response to a question of whether one should prefer to suffer or commit injustice is bound to be open to refutation. Although I pointed out the weaknesses in Socrates' argument that one should prefer suffering injustice over committing injustice, that does not mean that one should prefer to commit injustice rather than to suffer injustice. Rather, one must consider one's own base value system before making such a choice or any other choices of <i>should</i>. 

    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 219-234. Print.
