!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Ancient Philosophy and Asking Questions
    %p Some intro paragrah with intro remarks
    
    %h2 Socrates Argument for Prefering Suffering Injustice thna Committing it in Gorgias
    %p In Gorgias, Socrates and Polus argue whether suffering an injustice or commiting an injustice is more preferable. Socrates argues on the side that commiting an injustice is more preferable to suffering an injustice. Meanwhile, Polus argues that commiting an injustice is more preferable to suffering an injustice.  Although Polus initially argues against Socrates for the conrary (that commiting an injustice is preferable to suffering an injustice), he ultimatly concedes to Socrates' argument by showing Polus that his conception of what's more admirable is rooted in a given substance beign either more useful or pleasureful. The turning point can be noted definitivly in Polus's statment that "Yes, indeed. Yes, Socrates, your present defintion of the admirable in terms of pleasure and good is an admirable one". From this point, Polus' argument that commiting injustice is more preferable to injustice then collapses in favor of Socrates argument for the contrary. To get a full conception of how Socrates argument works, consider this reconstructed proof of Socrates argument for why suffering an injustice is preferable to commiting an injustice:
    %ol
      %li Admirable things may be so defined in virtue of their usefullness or in virtue of some pleasure.
      %li An action is more admirable than another when it surpasses the other action in usefullness, pleasure, or both.
      %li An action is more shamefull than another when it surpasses the other action in pain, evil, or both.
      %li Commiting injustice does not surpasses suffering injustice in pain.
      %li (From 3-4) Committing injustice does not surpass suffering injustice in both pain and evil.
      %li (From 4-5) Doing what's unjust surpasses suffering what's unjust in evil.
      %li People prefer that which is less shameful and evil over that which is more shameful and evil.
      %li The majority of mankid would agree that doing what's unjust is more shameful than suffering it
      %li Thus:
    
    %h2 Objection I: Socrates' Criteria for Comparing Shame in (3) is Unsound
    %p A strong objection to Socrates argument can be derived from questioning the soundness of criterion Socrates presents for determining which action is more shameful as presented in (3).  Socrates posits in order to determine which action is more shamefull, we should determine which action is more painful, evil or both painful and evil than the other action.  
    %p Using (3), in order to understand which action is more shameful, we need to determine which action is more painful, evil, or both than the other.  Slitting your wrists would be undoubtedly be more painful than shooting up, as slitting wrists in virtue of inflicting the self pain, contrarily, while shooting up heroin may be initially painful with it's initial minor prick, pleasure follows.  However, that heroin could be argued as more evil than slitting your wrists because doing heroin alters the chemical composition of your brain. Doing heroin makes your mind waste away, which would lead you in evil tendency to push for a society of drug-infested ideals. Slitting your wrists, however is not nearly as evil as shooting up as the chemical composition of your brain is remains un-altered and you are not doing evil to others as much as being a heroin-folk or druggie affects society. So shooting up heroin is more shameful than slitting your wrists. However, slitting your wrists is more painful than shooting up heroin.
    %p This dilemma here should be clear --  one action is more evil than the other action, and the one action is more painful than the more evil action.  From this it also follows that neither action is both more painful and evil than the other. Which action should be considered more shameful according to the dichotomy presented in (3)? We are unable to deduce which action is more shameful as the dichotomy Socrates presents fails in trying to understand one greater evil action compared to another greater painful action. 
    %p At this point, one could argue against my objection by positing that shooting up is more painful than slittings one's wrists (or inversely that shooting up heroin is more painful than slitting one's wrists). This counter-objection would nullify my argument against (3) if the subject would assume it is impossible that there could be a set of two actions in which one action is more evil than the other and the less evil action is more painful than the other. Denying this assumption would be petty as in this logic there would be no reason to discern between pain and evil, as such Socrates (3) wouldn't remain sound.

    %h2 Objection II: Typical Situations in deciding between Suffering/Commiting Injustices 
    %p Let us, for sake of argument, ignore (I) and accept (3) as Polus does. In Gorgias, Socrates presses Polus: "does doing what's unjust surpass suffering it in pain...?". To this question Polus defiantly objects, "No, Socrates, that's not the case at all!".  Polus concedes to accept (4), that it is more painful to suffer injustice than commit it.  

    %p But should we grant (4)? Is commiting an injustice necesarily less painful than suffering an injustice? Consider a case in which an man decides he will commit an injustice, he will kill thousands of people with homemade anthrax. The man prepares batches of anthrax to send out to the populus at large. While he is preparing his anthrax, the man accidently kills himself by ingesting the anthrax. The dose he recieves is small and the man suffers a slow and painful death. Consider a scenario in a parallel world, in the man has no anthrax or injustice committing inteions, he is just a bachelor, home alone one night. The man opens his door and suffers a great injustice, he gets a single bullet to the head and instantly dies.  
    %p Which situation is more painful for the man: a. The situation in which the man commits an injustice and accidently causes his own slow death or b. the situation in which the man suffers an injustice, he opens his door and takes a bullet to the head? It would seem that a slow death is more painful than a quick death. According to (4) suffering an injustice is always more painful than commiting an injustice. Thus, (4) can be shown as unsound by finding a counter example in which commiting an injustice is more painful than suffering an injustice. 

    %h2 Objection III: Commiting versus Suffering Injustice's Blurry Lines
    %p Now, the reader may quickly point out that my example aformentioned is absurd. The man in my examples didn't have a choice to commit an injustice versus suffer an injustice as it must have been different men in the two scenarios. 
     
    To this, I must now ask: why were Polus and Socrates arguing about whether commiting or sufering an injustice is preferable in any case? In Gorgias, Socrates poses to Polus: "which do you think is more shameful, doing what's unjust or suffering it? Tell me", to which Polus replies "suffering it". Additionally, the question I am responding to in this prompt concerns "how convincing is Socrates' account that we should prefer to suffer injustice than commit it".

    In reference, in order to further ths line of argumentation 

    or sis in reference to, in order to further this line of argumentation we can break the question "could commiting an injustice be more painful than suffering an injustice" can be broken down into two smalle questions. The first question is we proceed with is "could commiting an injustice be more painful to society than suffering an injustice". This first question is likely the manner in which :

    %h2 Concluding Remarks
    %p There is a common tendency weaved through out philosophy, an urge to perform word math. Word math in such that we use terms in reference to other terms in order to arrive at logical conclusions. While we may derive valid arguments and 

    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 48-51, 158-159. Print.
