!!!
%html
  %head
    %title PSYC-4024 Leadership Project
    %meta{:name => "author", :content => "Miles Sandlar"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body

    #header
      Miles Sandlar 
      %br
      December 6, 2013
      %br
      Professor Foti 
      %br
      PSYC-4024

    #title Leadership Style: Person-Oriented

    %p In taking a battery of three leadership questionnaires, I discovered myself to be a person-oriented leader. Being a person-oriented leader means that I place value on the person rather than the task at hand.  

    %p The Least Preferred Co-Worker Measure (LPC) provided the strongest indication of my person-oriented leadership style. The LPC is a test in which its participant is asked to rate the attributes of the model co-worker who they get along with the least. On this test, I was rated to be a relationship-oriented leader rather than a task-oriented leader.

    %p Factors are measured differently on the Leadership Questionnaire.  The Leadership Questionnaire, unlike the LPC, measures concurrently your concern for the person and concern for the task. On the Leadership Questionnaire, I actually scored higher for being task-oriented (0.85). However, I scored high in the person-oriented factor (0.66) as well. Considering the differences in methodologies between the two tests, the Leadership Questionnaire also adds evidence that I am a person-oriented leader.

    %p The Multi-Factor Leadership Questionnaire also adds support to agree with the LPC and Leadership Questionnaire in indicating me as a person-oriented leader.  The Multi-factor Leadership Questionnaire measured a larger number of factors than the LPC and the Leadership Questionnaire. In all factors except for Laissez-faire leadership style, I scored high in the Multi-Factor Leadership Questionnaire.  Several factors among these such as Charisma, Inspirational Motivation, and Individualized Consideration all add positive support to me being a task-oriented leader.

    %p I do agree with the results of the leadership questionnaires I took. In general I a more person-oriented leader. In working in groups projects for class, when I am the leader I get deeply concerned and involved with my team members. Additionally, when I was the president of the Poker Club at Virginia Tech, I was always concerned with the club's overall culture and our members rather than the specific events. 
