@page { 
  margin: 85pt 88pt;
  font-family: Times New Roman;
 /*  font-family: Tymes;*/
  @top-left  { content: "Running Head: HIERARCHIES IN COGNITION AND MEMORY"; }
  @top-right { content: counter(page); }
}

body {
  line-height: 2em;
  margin: 0;
}

.center { text-align: center; }

.title, .abstract, .synopsis {
  page-break-before: always;
  margin-top: -20pt;
}

.title {
  text-align: center;
}
.title .study-name {
  margin-top: 140pt;
}
.title .information {
  margin-top: 85pt;
}

.synopsis .source {
  /* APA Formatted
   * Handing Indent */
  margin-top: -20pt;
  text-indent: -36pt;
  padding-left: 36pt;
}


.synopsis p {
  padding-left: 36pt;
}
