!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Concernging What Exists
    %p A recurrent theme in ancient greek philosophy is the question of existance. The question I speak of concerns the implications when one poses the question, "what exists"? Attempts to <i>answer</i> to this question are recurrent not only to the practice of acnient greek philosophy, but in philosophy as a whole to this day in the field of metaphysics.  Alas, an <i>answer</i> the question of what exists is not easy to pinpoint. As such, in the scope of this paper, I will not attempt to provide an answer to this question, but rather merely illustrate what makes this question so hard to answer from a philosophical perspective and additionally I will provide argumentation for how one can dismiss the question of what exists from a pragmatic standpoint. Following, in (I), I will explain initial intuitions to answer the question "what exists" fail <i>prima facie</i>, next in (II), I will highlight how several ancient greek philosophers (such as Zeno of Ela, Plato, and Aristotle) attempted to handle the question of what exists, finally in (III) I will illustrate why the metaphysical question of what exists hold no weight in pragmatic discourse.
    %p To make the problematic implications of the question of "what exists" clear, to start with I will highlight a quote from the ancient greek philosopher, Zeno of Ela. "Zeno stated that if anyone could make clear to him what the one is, he would be able to speak of the things that are" (Zeno of Ela, 49). From this quote, it seems vague as to what "one" Zeno is referring, however this ambiguity highlights the point Zeno was trying to make:  any given subject could never know what they are because what they are is all they are. Thus the problem stated plainly is: how can one understand existance at any given time from within in existence. Given that we exist, it is diffucult to understand what exists because we cannot know of what does not exists.
    %p Maybe, however, an answer to the question of what exists is simpler than it seems. Hericlitus said that "for many, in fact all that come upon them, do not understand such things, nor when they have noticed them do they know them, but they seem ot themselves".
    How would we construct a criteria for determining what exists (and by implication, what does not exist)?

    groundThus, we find in order to understand what exists: we would be need be able to answer the question of what does not exists.  
    #works-cited 
      .title Works Cited
      .citation Dalrymple, David. "Nemaload." . Davidad. Web. 08 May 2013. &lt;<a href="http://nemaload.davidad.org">http://nemaload.davidad.org</a>&gt;
      .citation Feyerabend, Paul. "How to defend society against science." Trans. Array Knowledge, Science and Relativism. . 1st Edition. Cambridge: Cambridge University Press, 1999. 181-191. Print.
      .citation Klein, Peter. "Human Knowledge and the Infinite Regress of Knowledge." Trans. Array Arguing About Knowledge. . 1st. New York, New York: Routledge, 2009. 249-272. Print.
      .citation Rhinehart, Robert. "How I Stopped Eating Food." Mostly Harmless. N.p., 13 Feb 2013. Web. 08 May. 2013. &lt;<a href="http://robrhinehart.com/?p=298">http://robrhinehart.com/?p=298</a>&gt;.
      .citation Rhinehart, Robert. "Soylent Month Three." Mostly Harmless. N.p., 25 Apr 2013. Web. 08 May. 2013. &laquo;<a href="http://robrhinehart.com/?p=570">http://robrhinehart.com/?p=570</a>&gt;.
