!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Asking Question Was Necessary In the Ancient Philosophical Tradition 
    %p To fully develop a response to the broad question "what is ancient philosophy?" is much too large a project to be undertaken in the provided word limit. As such, rather than attempting to answer the question "what is ancient philosophy?", I will argue for my own thesis <b>AQ</b>: asking questions was the starting point for reasoning in the ancient philosophical tradition. In order to advance <b>AQ</b>, following, firstly in (I), I outline the one assumption AQ rests upon, treating philosophical practice as a philosophical conversation, next in (II),  I will explore Plato's reasoning in <i>The Apology</i> in order to lend support for <b>AQ</b>, following in (III), I will explore text from Zeno of Ela in which he can be seen as support <b>AQ</b>. With my postive argument for AQ laid out in (I), and supporting argumentation presented in (II) and (III), in (IV) I will present one potentional argument to AQ. Finally, concluding in (V), I will offer some closing remarks on the scope of AQ.

    %h2 I. AQ's Bare Assumption
    %p To either, grant or deny <b>AQ</b>, one must accept the assumption that: Philosophical practice is the act of engaging in philosophical conversation (internally in one's own head, by writing down thought, or by conversing with others). Philosophical practice is nothing we cannot transcribe and when we refer to philosophical practice we are merely talking about the conversation of philosophy (from one to oneself, or from one to another).  With this assumption established, in relation to <b>AQ</b>, I will define <b>ancient philosophical tradition</b> as simply the historic philosophical practies of, however not exclusivly: Socrates, Aristotle, Zeno of Ela, Plato.

    %h2 II. Plato's Naivete Sense of Wisdom and AQ
    %p Plato argued that being a philosopher required a naivete-sense of wisdom. This naivete-sense of wisdom suggested that the philosopher be <i>truthful</i> with themselves at all times in what they admit they may admit they know. Consider two drunks. One drunk is in a stupor, and mumbling "I'm not drunk!". The other drunk has a 'clearer mind' and says "I'm know I am drunk". The latter drunk in this example would be wiser simply because he can admit to himself the fact-of-the-matter. To be wise, Plato argued, is to have a sense of honesty with the self. In [[[NEED SSECTIOn]]] Plato recounts an encounter he had with a politician in which he claimed himself to be wiser than the politician not because of what he knew but what he was willing to admit he did not know. Plato admits that "It's likely that neither neither of us knows anything fine and good", but he goes on to state that "I'm wiser than he in...one small way: that what I don't know, I don't think I know". We don't have to peel back the onion very far to see how this ties into <b>AQ</b>.
    %p What enabled Plato to state "what I don't know, I don't think I know" was the asking of the question (implicitly or explicitly) "what do I know?". Without asking the question, "what do I know?", how could you Plato have formed the belief, p: what I don't know, I don't think I know. Or contrarily in the case of the lawyer ~p. As such, Plato's naivete sense of wisdom is brought forth through asking the question "what do I know?". Next in Plato's philosophical practice, he is able to later stated "what I don't know, I don't think I know" beacuse he had wondered, or asked the question, "what do I know?".  Thus, Plato's naivete sense of wisdom is simply one side-effect of accepting philosophy as a conversation and accepting <b>AQ</b>.
    %h2 III. Zeno of Ela, AQ, and Explicit Questions
    %p Zeno of Ela similarly to Plato, required asking questions as the starting point his philosophical practice in which he later on stated that "if anyone could make clear.. what the one is, he would be able to speak of the things that are". Again, here like the example with Plato, if we look to the meta, and determine the question Zeno of Ela needed to have asked in the philosophical conversation we quickly find a question was the start of reasoning. People don't say things for no reason, more than often they have logical well-thought out reasons. Zeno must have asked "what is one?", before he could have reasoned in philosophical conversation to state who he thought would know "what the one is".
    %p In addition to Zeno of Ela implicitlly asking questions in the previous illustration, 
    %h2 IV. Counter-Argument: AQ does not follow in (II) and (III)
    %p There may be potential objection to my positive support of AQ in (II) and (III) suggesting that in since I implied Plato and Zeno of Ela to ask questions I am guilty of falaciously begging the question to support AQ. As such, it is not necessarily the case that questions were asked 
    %p I think counter-argument holds a lot of value, however I ask if questions are not the start of the philosophical conversation, how does philosophical converstion start? If there is a more reasonable way for philosophical conversation to initiation I am open to hearing such criticism and adequetly modifying AQ but it would seem as if it would be difficult if not impossible to give an ancedtoal account of where philosophical conversation starts versus an account of where philosophical conversation ought to start. As such, the situation becomes since it does not seem feasible to offer a descriptive account of where philosophical conversation "starts", only a normative account of where philosophical conversation could start is attainable. Thus, it follows that <b>AQ</b> is just a good a normative account of where philosophical converstation starts as any other account could offer.

    %h2 V. In Conclusion
    %p The prospect of accepting <b>AQ</b> is not as valuable as it seemed when it was first introduced. However, given the limited word limit and overtly broad scope of the prompt requiring us to answer "what philosophy is", such metaphysical issues likely could not be avoided. Further, perhaps setting out to determine a "start" in the linear temporal succession of philosophical convesation may have been a silly goal. In philsophy, if someone ever states p, its simple to post ~p? And thus I inspite of (IV), <b>AQ</b> still should be accepted.
    

    groundThus, we find in order to understand what exists: we would be need be able to answer the question of what does not exists.  
    #works-cited 
      .title Works Cited
      .citation Dalrymple, David. "Nemaload." . Davidad. Web. 08 May 2013. &lt;<a href="http://nemaload.davidad.org">http://nemaload.davidad.org</a>&gt;
      .citation Feyerabend, Paul. "How to defend society against science." Trans. Array Knowledge, Science and Relativism. . 1st Edition. Cambridge: Cambridge University Press, 1999. 181-191. Print.
      .citation Klein, Peter. "Human Knowledge and the Infinite Regress of Knowledge." Trans. Array Arguing About Knowledge. . 1st. New York, New York: Routledge, 2009. 249-272. Print.
      .citation Rhinehart, Robert. "How I Stopped Eating Food." Mostly Harmless. N.p., 13 Feb 2013. Web. 08 May. 2013. &lt;<a href="http://robrhinehart.com/?p=298">http://robrhinehart.com/?p=298</a>&gt;.
      .citation Rhinehart, Robert. "Soylent Month Three." Mostly Harmless. N.p., 25 Apr 2013. Web. 08 May. 2013. &laquo;<a href="http://robrhinehart.com/?p=570">http://robrhinehart.com/?p=570</a>&gt;.
