!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Asking Question is One Necessary Condition for Doing Philosophy
    %p To fully develop a response to the question "what is ancient philosophy" is a much larger project than could be undertaken in the provided word limit. Further, attempting to tackle even merely the question of what is philosophy is still much too large a project to be undertaken given the word limit, as such, in this paper I will aim for the more modest goal to use ancient philosophy texts to argue for one necessary condition of philosophy. The thesis I wish to present I will call <b>AQ</b>: one necessary condition for doing philosophy is asking questions.  Following, in order to support <b>AQ</b>, firstly in (I) I will explain the difference between necessary and sufficient conditions is , next in (II) I will show how several ancient greek philosophers can be identified as supporting <b>AQ</b>, finally in (III) I will refute potential counter-argumentation denying <b>AQ</b>.

    %h2 I. The Difference Between Necessary and Sufficient Conditions
    %p Before I illustrate how several ancient greek philosophers can be seen to supporting <b>AQ</b>, I first must explain the difference between necessary and sufficient conditions in relation to <b>AQ</b>. <b>AQ</b> states that <i>one</i> necessary condition for the practice of philosophy is asking questions. What is means that asking questions is <i>necessary</i> to doing philosophy is that <i>if and only if(iff)</i> questions are asked, may it be said that philosophy was done. Put another way, philosophy <i>requires</i> asking questions. Contary to <i>necessary</i> conditions, if you were to rerender <b>AQ</b> such that asking questions was only a sufficient condition for doing philosophy, then it would not be required to ask questions to do philosophy. Rahter, merely asking questions would be just be one of potentially many alternative criteria that could be fufilled in order for one to say they had done philosophy. However, while <b>AQ</b> argues that asking questions is a necessary condition for philosophy, it is not the <i>only</i> condition. Rather it is <i>one</i> of potentially many necessary conditions for doing philosophy. I will not set out to establish all of the necssary conditions for doing philosphy in the scope of this paper.
    %p With the scope of <b>AQ</b> clairified, I will now proceed to add support for <b>AQ</b> by pulling from texts of ancient greek philosophers.

    %h2 II. Ancient Greek Philosophers Lend Support to <b>AQ</b>
    %p Plato argued that being a philosopher required a certain child-like or naivete-sense of wisdom in which which is best captured in his own words: 
    %blockquote "It's likely that neither of us knows anything fine and good, but he thinks he knows something he doesn't know, whereas I, since I don't in fact know, don't think that I do either. At any rate it seems that I'm wiser than he in just this one small way: that what I don't know, I don't think I know". 
    %p The reason why Plato thought he was wiser was than the politician was not that he had consulted some sort of objective criteria and <i>knew</i> more than the politician, but rather that he either implicitily or explicitaly had asked the question, "what do I know" as a pre-requisite to conclude that "that what I don't know, I don't think I know". 
    The average worker, baker, etc. (quote plato)
    does not regularly think about what they know. Because in order to think about what you know, you find you're self doing philosophy by using AQ, and asking the question: what do I know? 
    The question of what do I know or rerender, what can we know? is one of many questions that AQ can be shown to bring about. Another question asked by an ancient philosopher concerns the other end of the spectrum, "what exists"
    %p <i>AQ</i> can also be seen supported in ancient philosophical texts by simply looking at the nature of inquiry texts.  Zeno of Ela stated "that if anyone could make clear to him what the one is, he would be able to speak of the things that are" (Zeno of Ela, 49). Also further, Zeno of Ela stated that "the solution is sufficient to use against the person who raised the question (f or he qasked whtether it is possible to to traverse or count infintie things in a finite time), but insufficient for the facts of the matter and the truth".
    
    
    
    
    
    From this quote, it seems vague as to what "one" Zeno is referring, however this ambiguity highlights the point Zeno was trying to make:  any given subject could never know what they are because what they are is all they are. Thus the problem stated plainly is: how can one understand existance at any given time from within in existence. Given that we exist, it is diffucult to understand what exists because we cannot know of what does not exists.

    %p Its not that what exists is a rhetorical question, however, rather it is like much of philosophical inquiry. Philosophy is a conversation which seeks to understand the mechanisms of the language we use. In philosophy, all questions are permitted because philosophy is the questioning nature of language. If science for us provided the <i>how</i> of things work, senses provided the <i>what</i>, philsophy's goal would be to understand the <i>why</i> of how things work.
    
    now a personal endaevor. Part of what m
    
    Attempts to <i>answer</i> to this question are recurrent not only to the practice of acnient greek philosophy, but in philosophy as a whole to this day in the field of metaphysics.  Alas, an <i>answer</i> the question of what exists is not easy to pinpoint. As such, in the scope of this paper, I will not attempt to provide an answer to this question, but rather merely illustrate what makes this question so hard to answer from a philosophical perspective and additionally I will provide argumentation for how one can dismiss the question of what exists from a pragmatic standpoint. Following, in (I), I will explain initial intuitions to answer the question "what exists" fail <i>prima facie</i>, next in (II), I will highlight how several ancient greek philosophers (such as Zeno of Ela, Plato, and Aristotle) attempted to handle the question of what exists, finally in (III) I will illustrate why the metaphysical question of what exists hold no weight in pragmatic discourse.
    %p Maybe, however, an answer to the question of what exists is simpler than it seems. Hericlitus said that "for many, in fact all that come upon them, do not understand such things, nor when they have noticed them do they know them, but they seem ot themselves".
    How would we construct a criteria for determining what exists (and by implication, what does not exist)?

    groundThus, we find in order to understand what exists: we would be need be able to answer the question of what does not exists.  
    #works-cited 
      .title Works Cited
      .citation Dalrymple, David. "Nemaload." . Davidad. Web. 08 May 2013. &lt;<a href="http://nemaload.davidad.org">http://nemaload.davidad.org</a>&gt;
      .citation Feyerabend, Paul. "How to defend society against science." Trans. Array Knowledge, Science and Relativism. . 1st Edition. Cambridge: Cambridge University Press, 1999. 181-191. Print.
      .citation Klein, Peter. "Human Knowledge and the Infinite Regress of Knowledge." Trans. Array Arguing About Knowledge. . 1st. New York, New York: Routledge, 2009. 249-272. Print.
      .citation Rhinehart, Robert. "How I Stopped Eating Food." Mostly Harmless. N.p., 13 Feb 2013. Web. 08 May. 2013. &lt;<a href="http://robrhinehart.com/?p=298">http://robrhinehart.com/?p=298</a>&gt;.
      .citation Rhinehart, Robert. "Soylent Month Three." Mostly Harmless. N.p., 25 Apr 2013. Web. 08 May. 2013. &laquo;<a href="http://robrhinehart.com/?p=570">http://robrhinehart.com/?p=570</a>&gt;.
