!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Asking Question Was Necessary In the Ancient Philosophical Tradition     
 
    %p To fully develop a response to the broad question "what is ancient philosophy?" is much too large a project to be undertaken in the provided word limit. As such, rather than attempting to answer the question "what is ancient philosophy?", I will argue in support of my own related thesis: asking questions was the starting point for reasoning in the ancient philosophical tradition (herein refered to as <b>AQ</b>). This thesis is not as broad reaching as would be a thesis attempting to fully answer "what is ancient philosophy", however <b>AQ</b>'s smaller, more modest scope will be able to be fully developed within the word limit.  Following, in order to defend my thesis, firstly in (<b>I</b>), I will explain one assumption my thesis rests upon, treating philosophical practice as a philosophical conversation. Next in (<b>II</b>) and (<b>III</b>),  I will add support for my thesis by examing philosophical reasoning exhibited by Plato and Zeno of Elea. Finally, concluding in (<b>IV</b>), I will present one potentional counter-argument against <b>AQ</b>. 

    %h2 I. AQ's Bare Assumption: Philosophical Practice is a Conversation
    %p To either, grant or deny <b>AQ</b>, one must first accept one assumption that <b>AQ</b> requires: Philosophical practice is the act of engaging in philosophical conversation (whether this is internally in one's own head, by writing down thought, or by conversing with others). As such, philosophical practice is nothing we cannot transcribe into language, as all philosophical conversation necessarily takes place langauge. Thus, when we refer to philosophical practice we are talking about in isolation the formalized conversation of philosophy between one to oneself or between one and another.  
    %p With this assumption established, it is also critical that I specify that the <i>ancient philosophical tradition</i> referenced in <b>AQ</b> refers to the ancient philosophical practices of, however not limtited to: Socrates, Aristotle, Zeno of Elea, and Plato. With these clarifications made, if we accept this assumption that philosophical practice is the act of enganging in philosophical conversation, the philosophical conversation must start somewhere. <b>AQ</b> simply suggests that the starting place for ancient philosophical conversation was asking questions.

    %h2 II. Plato's Naivete Sense of Wisdom Lends Support to AQ
    %p Plato argued that being a philosopher required a naivete-sense of wisdom. This naivete-sense of wisdom suggested that the philosopher be <i>truthful</i> with themselves at all times in admitting what they know and what they don't know. Thus, Plato argued that to be wise is to have a certain sense of honesty with one self. In an encounter with a politician Plato recounts, Plato claims himself to be wiser than the politician not because of what he knew, but because of what he was willing to admit he did not know. Plato admits "It's likely that neither of us knows anything fine and good", however he goes on to state that "I'm wiser than he in...one small way: that what I don't know, I don't think I know" (<i>Apology</i> &para;21D).
    %p What enabled Plato to state here "what I don't know, I don't think I know", was his asking of the question (either implicitly or explicitly): "what do I know?". Without asking the question, "what do I know?", how could Plato have formed the belief, that "what I don't know, I don't think I know" (<i>Apology</i> &para;21D). In other words, how may one reason about what one knows, without asking oneself, what oneself knows? As such, Plato's naivete sense of wisdom is brought forth through asking the question "what do I know?". Later, after this question is asked in Plato's philosophical conversation, Plato may make inferences about what he knows. But as a pre-requestite he must have necessarily asked the question, "what do I know?".  Thus, Plato's naivete sense of wisdom is simply one side-effect of accepting philosophy to be a conversation and accepting asking questions as the starting point to the conversation in adherence with <b>AQ</b>.

again attempt to determine the question Zeno of Elea
proceed similarily in determination to 

    %h2 III. Support from Zeno of Elea for AQ
    %p Zeno of Elea similarly to Plato, used asking questions as the starting point of his philosophical practice and conversation. In Zeno's philosophical conversation he states "if anyone could make clear.. what the one is, he would be able to speak of the things that are" (<i>Zeno of Elea</i> &para;2). Like in the example with Plato, we may again attempt to determine the question Zeno of Elea needed to have asked in philosophical conversation to arrive at reasoning about "who would be able to say what the one is". The pre-requistive question Zeno must have asked is "what is the one?". Backtracking philosophical conversation as I have done here and in the previous example seems to simply and logically follow. Further, it would be hard to understand how else philosophical conversation could come about without such reasoning.
    %p In addition to this kind of backtracking approach to understanding the starting point for philosophical conversation I have taken in the previous two examples to show <b>AQ</b>, Zeno of Elea can also be seen explicitly asking questions as the start of the philosophical process. Zeno explicitly asks the question, "if place exists, where is it?" (<i>Zeno of Elea</i> &para;12). Later, Zeno expands this philosophical conversation to derive "for everything that exists is in a place. Therefore, place exists, then place is in a place." (<i>Zeno of Elea</i> &para;12). Examples of these more explicit questions supportive of <b>AQ</b> can be seen sprinkled throughout many both ancient and modern philosophical texts. Implicitally or explicitally, the start of the philosophical conversation always seems to be asking questions. At a more meta-level, even this philosophy paper, which is an example of philosophical practice and thus a philosophical conversation can be seen adhering to <b>AQ</b> in asking questions as the start of the philosophical conversation. In order for me to have argued favorable for <b>AQ</b>, first I needed to ask the quesiton: what was the starting point for asking philosophical questions in the ancient philosophical tradition?



    %h2 IV. Counter-Argument: AQ is not supported by implicit examples in (II) and (III)
    %p There may be a potential objection to my positive support of <b>AQ</b> in (II) and (III) suggesting that since I implied Plato and Zeno of Elea to ask questions in starting the philosophical conversation where I did not actually provide textual reference, I am guilty of falaciously begging the question to support <b>AQ</b>. As such, it is not necessarily the case that questions were asked to start the philosophical conversation and thus the conversation may have begun elsewhere; not by asking questions as <b>AQ</b> suggests. 
    %p I think this counter-argument holds weight, however, I pose the question: if questions are not the start of the philosophical conversation, how does philosophical converstion start? If there is a more reasonable way for philosophical conversation to initiate I am open to hearing a suggestion and adequately modifying <b>AQ</b>. However, it would seem difficult still, if not impossible, to give a descriptive account of where philosophical conversation starts separate from a normative account of where philosophical conversation <i>ought</i> to start. As such, in light of this counter-argument, <b>AQ</b> still holds weight, although I will concede that <b>AQ</b> is not a descriptive account but merely a normative account of where philosophical conversation starts. 

    #works-cited 
      .title Works Cited
      .citation Cohen, S. Marc, Patricia Curd, and C.D.C Reeve. <i>Ancient Greek Philosophy</i>. Fourth Edition. Indianapolis: Hackett Publishing Company, Inc., 2011. 48-51, 158-159. Print.
