!!!
%html
  %head
    %title PHIL-2115: First Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "14-09-13"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      September 20th, 2013
      %br
      Professor Shuster
      %br
      PHIL-2115

    #title Asking Question is One Necessary Condition for Doing Philosophy
    %p To fully develop a response to the broad question "what is ancient philosophy?" is much too large a project to be undertaken in the provided word limit. As such, rather than attempting to answer the question "what is ancient philosophy?", I will argue for my own thesis <b>AQ</b>: the deontological practice of philosophy may be defined by one necessary condition: a subject (s) engaging in the activity of asking questions (q).  Following, I will give my account in defense of AQ. In (I), I will explain the difference between necessary and sufficient conditions in order to shine light on what it means for AQ to define philosophy in terms of a necessary condition, next in (II) I will show how several ancient greek philosophers attempted to differentiate themselves from other discplines and how <b>AQ</b> can provide clarity of that what Plato, Zeno, and the likes were doing would be called philosophy, finally in (III) I will refute potential counter-argumentation denying <b>AQ</b>.

    %h2 I. Pre-Requisite to AQ: The Difference Between Necessary and Sufficient Conditions
    %p Before I illustrate how several ancient greek philosophers identified themselves as doing philosophy by way of adhering to <b>AQ</b>, I first must explain what it means for <b>AQ</b> to specify a <i>necessary</i> condition for the practice of philosophy.  Asking questions beting <i>necessary</i> to doing philosophy means that <i>if and only if</i> questions were asked, was the practice of philosophy engaged in.  <b>AQ</b> necessary specification of asking questions for practice to be defined as philosophy may be put in contrast with hypothetically if <b>AQ</b> were to merely specify sufficient for doing philosophy. In this latter case, if a subject asked questions we <i>would be permitted</i> to say that the subject did philosophy. However in this latter case, there could also be other ways to do philosophy which were not asking questions and also asking questions would not always be considered doing philosophy (as is the case with <b>AQ</b>). 

    %h2 II. Ancient Greek Philosophers Lend Support to <b>AQ</b>
    %p Plato argued that being a philosopher required a certain child-like or naivete-sense of wisdom in which which is best captured in his own words: 
    %blockquote "It's likely that neither of us knows anything fine and good, but he thinks he knows something he doesn't know, whereas I, since I don't in fact know, don't think that I do either. At any rate it seems that I'm wiser than he in just this one small way: that what I don't know, I don't think I know". 
    %p The reason why Plato thought he was wiser was than the politician was not that he had consulted some sort of objective criteria to conclude he <i>knew</i> more than the politician, but rather that he either implicitily or explicitaly had asked the question, "what do I know?". Once this question was asked, Plato was able to reason about what he did not know in stating: "that what I don't know, I don't think I know". 
    The average worker, baker, etc. (quote plato)
    does not regularly think about what they know. Because in order to think about what you know, you find you're self doing philosophy by using AQ, and asking the question: what do I know? 
    The question of what do I know or rerender, what can we know? is one of many questions that AQ can be shown to bring about. Another question asked by an ancient philosopher concerns the other end of the spectrum, "what exists"
    %p <i>AQ</i> can also be seen supported in ancient philosophical texts by simply looking at the nature of inquiry texts.  Zeno of Ela stated "that if anyone could make clear to him what the one is, he would be able to speak of the things that are" (Zeno of Ela, 49). Also further, Zeno of Ela stated that "the solution is sufficient to use against the person who raised the question (f or he qasked whtether it is possible to to traverse or count infintie things in a finite time), but insufficient for the facts of the matter and the truth".
    
    
    
    
    
    From this quote, it seems vague as to what "one" Zeno is referring, however this ambiguity highlights the point Zeno was trying to make:  any given subject could never know what they are because what they are is all they are. Thus the problem stated plainly is: how can one understand existance at any given time from within in existence. Given that we exist, it is diffucult to understand what exists because we cannot know of what does not exists.

    %p Its not that what exists is a rhetorical question, however, rather it is like much of philosophical inquiry. Philosophy is a conversation which seeks to understand the mechanisms of the language we use. In philosophy, all questions are permitted because philosophy is the questioning nature of language. If science for us provided the <i>how</i> of things work, senses provided the <i>what</i>, philsophy's goal would be to understand the <i>why</i> of how things work.
    
    now a personal endaevor. Part of what m
    
    Attempts to <i>answer</i> to this question are recurrent not only to the practice of acnient greek philosophy, but in philosophy as a whole to this day in the field of metaphysics.  Alas, an <i>answer</i> the question of what exists is not easy to pinpoint. As such, in the scope of this paper, I will not attempt to provide an answer to this question, but rather merely illustrate what makes this question so hard to answer from a philosophical perspective and additionally I will provide argumentation for how one can dismiss the question of what exists from a pragmatic standpoint. Following, in (I), I will explain initial intuitions to answer the question "what exists" fail <i>prima facie</i>, next in (II), I will highlight how several ancient greek philosophers (such as Zeno of Ela, Plato, and Aristotle) attempted to handle the question of what exists, finally in (III) I will illustrate why the metaphysical question of what exists hold no weight in pragmatic discourse.
    %p Maybe, however, an answer to the question of what exists is simpler than it seems. Hericlitus said that "for many, in fact all that come upon them, do not understand such things, nor when they have noticed them do they know them, but they seem ot themselves".
    How would we construct a criteria for determining what exists (and by implication, what does not exist)?

    groundThus, we find in order to understand what exists: we would be need be able to answer the question of what does not exists.  
    #works-cited 
      .title Works Cited
      .citation Dalrymple, David. "Nemaload." . Davidad. Web. 08 May 2013. &lt;<a href="http://nemaload.davidad.org">http://nemaload.davidad.org</a>&gt;
      .citation Feyerabend, Paul. "How to defend society against science." Trans. Array Knowledge, Science and Relativism. . 1st Edition. Cambridge: Cambridge University Press, 1999. 181-191. Print.
      .citation Klein, Peter. "Human Knowledge and the Infinite Regress of Knowledge." Trans. Array Arguing About Knowledge. . 1st. New York, New York: Routledge, 2009. 249-272. Print.
      .citation Rhinehart, Robert. "How I Stopped Eating Food." Mostly Harmless. N.p., 13 Feb 2013. Web. 08 May. 2013. &lt;<a href="http://robrhinehart.com/?p=298">http://robrhinehart.com/?p=298</a>&gt;.
      .citation Rhinehart, Robert. "Soylent Month Three." Mostly Harmless. N.p., 25 Apr 2013. Web. 08 May. 2013. &laquo;<a href="http://robrhinehart.com/?p=570">http://robrhinehart.com/?p=570</a>&gt;.
