!!!
%html
  %head
    %title PHIL-3024: Final Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "30-04-12"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      May 4th, 2013
      %br
      David Faraci
      %br
      PHIL-3024

    #title The Internet: Enabling Epistemological Transparency More than Science
    %p What is science and epistemologically does it provide superior knowledge to non-science?  Perhaps simply creating a descriptive analysis of science with necessary and sufficient conditions would seem ideal. If you had such an analysis, showing scientific knowledge as "superior" to non-scientific knowledge would likely be trivial. However, taking a look into the history of science, it becomes clear that providing such necessary and sufficient conditions is not so easy to define. This problem within the philosophy of science is called the <i>demarcation problem</i>. One critical distinction to take note of is that science is radically different when viewed <i>as a practice</i> in comparison with being viewed <i>as an ideology</i>. Science, as a vague term, is often used in both contexts interchangeably, however this leniency can be credited with massively distorting the our conception of epistemological progress. Feyerabend's notion of epistemological anarchy reveals to us that this distortion has caused science to gain an undeserved position in society. however turn to the Internet, a unregulated communication actualizing the epistemological anarchist dream. 

    %p Building on top of Feyerbend's notion of epistemological anarchism, I will set out to argue that the Internet serves as an epistemological anarchist's playground; enabling a broader notion of "science" than is afforded by traditional standards.  With Feyerabend's epistemological anarchy and my own conception of the Internet presented, I will now proceed to argue that the Internet provides a wider context than science for epsitemological progress by providing a full realization of the potential of epistemological anarchy.

    %h2 I. Epistemological Problems
    %p My central argument is that the Internet provides a wider context for epistemological progress than science. 

    In order to ground this assumption I will provide supporting argumentation from Paul Feyerabend who argues that the growth of knowledge is anarchistic and Peter Klein who argues that the strcuture of justifcation results in an infinite regress and our epistemic knowledge is

    %h2 I.I The Priveldged Status of Science
    %p In a short article entitled <i>How to Defend Society Against Science</i>, Paul Feyerabend shows mistaken an argument asserting that the knowledge we receive from science is of higher quality than non-scientific knowledge. Consider the my following reconstruction of the argument against which Feyerabend argues <i>How to Defend Society Aagainst Science</i>:
    %ol
      %li Science has finally found the correct method for achieving results.
      %li There are many results to prove the excellence of the method.
      %li Thus: The knowledge we receive from science is of higher quality merit than non-scientific knowledge.
    %p Feyerabend first attacks (1) by questioning that there is in fact a specific correct method of science by which results are achieved. Feyerabend hints that the problem of induction remains a barrier for any epistemological progress of proposed scientific methods. Because of the problem of induction, scientific theories always remain unsatisfactory in terms of describing in any strict logical sense "how the world is", rather scientific theories merely can only ever answer the question of "how the world has been so far". In other words, our science cannot produce laws such as "all ravens are black" while supporting the occurence of a grey raven.  It follows that science can only provide us with theories and the success of any particular theory is simply in reference to building upon previously established theories. Practically speaking this results in realizing that our science is not grounded nor can provide us with "facts" but rather may only provide us with knowledge contingent on mere observation.
    %p Feyerabend also attacks (2) by arguing that science's produced results cannot be said to prove the excellence of the scientific method because (2) may only be granted if it is the case that "nothing else has ever produced results". If methodology that was unconventional or obviously seemed non-scientific produced results, then the unconventional or non-scientific method would prove the excellence of this method as well. For example, consider a pepole of an unidustrialized village performing a rain dance who have specific cultural rules and ceremony surrounding the rain dance. Mystisic, religious, and cultural ceremony and process can produce results just as science does however it does not prove the excellence of the methodology just as science's results does not speak of any importance in reference to science's methodology.
    %p Additionally, Feyerabend notes that even if (2) were to be assumed to be true, results would only prove the excellence of methodology in so far as <i>only</i> the methodology were responsible for the results. Isolating specific just sciengtific methodology seems like a diffucult endeavor and further pulling upon the history of science, antecedotal does not support this ideology. A rigid scientific method by which scientists follow "set" methods without incorporating "non-scientific" thought is an ideal of hardheaded scientific idealists. Feyerabend references the example from the history of Science that when Copernius introduced his view of the universe he did not reference previous scientific theories alone. Rahter, Copernicus consulted "a crazy Pythagoreon such as Philoalaos".
    %p After attacking and showing that (3) does not follow from (1) &amp; (2), Feyerabend asserts that science should be liked to an ideology in lines with mythology or religion. Since there is no determined method for which science strictly prescribes to, it is not science that is responsible for results independntly but science is merely an ideology rather than an methodology for epistemological disovery. Understanding the science is just an ideology (an ideolpoy <i>of</i> methodology), science is not in sole repsonsible for epistemology progress. Rather, a number of different thoughts and ideologies may feed into the epistemological results and knowledge thought to be produced by science. What we conclude froms this is that science, epistemologically speaking, is an anarchistic practice.

    %h2 I.<sub>II</sub> Epistemological Justification and the Regress Problem
    %p A theory within epistemology known as Infinitism offers us interesting fodder for exploring the knowledge science creates in regards to other kinds of knowledge. Before turning to explore Infinitism in (I.III), I will briefly explain the problem to which infinitism addresses: the regress problem in epistemological justification. 
    %p Within epistemology, traditional descriptive accounts of knowledge assert that in order for some subject S to know some proposition P, two criterion must be fulfilled:
    %ol
      %li S is justified in believing that P is true
      %li S's belief in P is true
    %p This account of knowledge is known as the Justified True Belief account of knowledge (JTB).  If JTB is asserted to be a correct descriptive account of knowledge, we can quickly see the regress problem emerge from premise (1). 
    %p The regress problem which involves (1) is that for any given knwoledge claim, A, A must be justified by some justificatory evidence B. In order for B to as well be justified, B should be a justified true belief as well and thus need be justified by another JTB, C. Now C must as well be justified by a more fundamental JTB, D. This regress in justification continues on ad infinitum and has created a signifigant problem for epistemologists typically answered by two central thoughtcamps: foundationalism and coherentism.
    %p Foundationalists solve the regress problem by arguing that all epistemological knowledge is grounded in "basic" or "foundational" beliefs. These "basic" beliefs are a priori justified and thus the JTB criteria for knowledge does not apply at the "bedrock" of our knowledge.  A foundatlist might assert that if you were in a room with a red door and formed the belief "the door is red", it would seem absurd to provide further justification to such belief. Beliefs that are "cognitivly given", need no further meta-justification as as such "foundatinal beliefs" ground all of our knowledge.
    %p Contary to the foundationalists, coherentists solve the regress problem by asserting that all JTBs exist within a coherent system of beliefs.

    %h2 I.<sub>III</sub> An Anti-Solution to the Regress Problem: Inifinitism
    %p Inifinitism is an interesting solution to the regress problem within epistemology proposed by Peter Klein. Through inifinitism, Klein argues that the regress problem is not a problem at all but rather simply points at a unique feature of human reasoning and epistemology. Infinitism asserts that there is indeed a conception regress which applies to all of our epistemological knowledge, yet nontheless, this is not a problem for epistemology. Rather, 
    %p The first principle of Infinitism is the Principle of Avoiding Circularity (PAC), which states that for any justified beliefs need not be self justified. In other words if x is justified by y, no where in y's justifactory ancestry may x appear. The second principle is the Principle of Avoiding Arbitrariness which states that for any justification x there must be reason for that justification.
    %p Infinitism is fully comptible with the JTB account of knowledge however it purposfully does not solve the regress problem. Klein's Infinitism asserts that the regress of knowledge is infinite and this is not an epistemological problem.
    %p In an article entitled <i>Human Knowledge and the Infinite Regress of Reason</i>, Peter Klein argues that structure of justification in a epistemological descriptive account of knowledge takes the form of an infinite non-repeating regress. This assertion is important to supporting a notion of epistemological anarchy in that it shows that epistemological knowledge is not solidly grounded on "scientific laws" but rather in a chain of infinite justification which remains malleable in terms of methodology.

    %h2 II. Epistemeological Anarchism and The Internet
    %p I will now give a philosophical definition of what I will refer to as the Internet.  In so far as this paper is concerned I will not delve into a detailed technical analysis seeking to understand the operation or engineering of the Internet. Rather, I will merely present a <i>concept</i> of what the Internet as a whole enables for epistemology. The Internet a communication channel enabling global data transfer (inclusive of text, images, video, and other media that can be regularly structured) that is both: 1. free from governmental regulation and 2. widely accessible by the majority of the population. 
    %p This concept of the Internet that there are not restriction on <i>what</i>. As such, there is essentially no defined "method" or ideology that governs the Internet. This is in rash comparison with the methodology argued favorably by the ideology of science. 
    %h2 III. Science in the Internet


    %h2 III. Argument: The Internet is a More Transparent Epistemological Medium than Science
    %p With Feyerabend's epistemological anarchy and my own conception of the Internet presented, I will now proceed to argue that the Internet provides a wider context than science for epistemological progress by providing a full realization of the potential of epistemological anarchy.
    %ol
      %li Science, as an empirical practice, is a fundamentally epistemologically anarchistic enterprise.
      %li Science as a institution and ideology is governed by methodology and process.
      %li From 1-2: The communication of emperical scientific practice is limited by science as an ideology.
      %li The Internet provides an methodlogical and process free enviroment for epistemological anarchy. 
      %li Thus: The Internet provides a wider context for epistemological progress by providing a full realization of the potentional of epistemological anarchy.
    %h2 The Internet Subsumes 

    %h2 IV. Potential Counter-Arguments
    %p Proceeding, I will introduce a number of potential refutations that may be argued in response to my argument

    %h2 IV.<sub>I</sub> Denial of (1): Science empirically is not a anarchistic enterprise
    %p At face value, an intuitive point that might be made is that science is empirically not an anarchistic practice. 


    #works-cited
      .citation Lycan, William. "Sartwell's Minimalist Analysis of Knowledge." <i>Philosophical Studies</i>. 73. (1994): 1-3. Print.
      .citation Lycan, William. "Sartwell's Minimalist Analysis of Knowledge." <i>Philosophical Studies</i>. 73. (1994): 1-3. Print.
      .citation Lycan, William. "Sartwell's Minimalist Analysis of Knowledge." <i>Philosophical Studies</i>. 73. (1994): 1-3. Print.
