!!!
%html
  %head
    %title PHIL-3024: Final Paper
    %meta{:name => "author", :content => "Miles Sandlar"}
    %meta{:name => "date", :content => "30-04-12"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "format.css"}
  %body
    #header
      Miles Sandlar 
      %br
      May 4th, 2013
      %br
      David Faraci
      %br
      PHIL-3024

    #title Programming in Defence of Epistemological Anarchism
    %h2 I. An Introduction to Epistemological Anarchism
    %p Epistemological Anarchism is the theory within the philosohpy of science that asserts that there are no established specific methodological rules that in a superior manner progress our epistemic knowledge. The phrase "anything goes", as offered by epistemological anarchism's biggest proponent, Paul Feyerabend, captures this essence.  Epistemological anararchism does not assert that science's methodology is flawed, but rather that traditonal scientific methodology is limited in view and need not be strictly adhered to. Adherence to specific methodology or sets of principles in epistemic activity ultimatly serves to inhibit progress.

    %p Feyerabend's notion that "anything goes" stands for the idea that all methodologies should be consider and employed in scientific work. As such, epistemological anarchism can be understood as a kind of "methodological pluralism" in constract to the stark and defined metholodigies "science" typically adheres to. The methodologies which Feyerabend views as harmful to "science" are notions such as falsification and reapability. 

    %h2 II. Motivations for Epistemological Anarchism: Science and Epistemology
    %p What would motivate the acceptance of an epistemological anarchist stance? The answer to this question can be understood in context to two big problems which a traditional view of knowledge may induce. The first problem is that the structure of epistemic justification is fundamentally ungrounded resulting in a regress. The second problem is that the tradition narrow view that science accords with established methodology is simply flawed in context to the evidential history of science. Following I will explore in depth why these problems emerge and how epistemological anarchism can be seen as an answer to both.

    %h2 I.<sub>I</sub> Regress in Knowledge and Epistemic Relativism
    %p What is the grounding for our epistemic knowledge and when can any specific piece of knowledge be said to be properly <i>justified</i>? If science knowledge claims, generated via strict and set methodology, were to ground our knowledge then scientific knowledge claims should be properly justifiable. Further, if any general knowledge claims were to be considered as "grounding" then there must exist method to ground such knowledge. To explore this line of inquiry, first we must understand how epistemology understands knowledge at its most base level. The commonly asserted descriptive analysis of knowledge within epistemology is known as the Justified True Belief (JTB) analysis of knowledge. JTB asserts that in order for some subject S to know some proposition P, two criterion must be fulfilled:
    %ol
      %li S is justified in believing that P is true
      %li S's belief in P is true
    %p The Regress problem within epistemology arises from the JTB analsysis of knowledge. Basically, the regress problem is the problem that the JTB results in an ad-infinitum regress of justified true beliefs. Consider the following proof illustrating simply the regress problem.
    %ol
      %li A, B, C, and D are justified true beliefs 
      %li A is justified by B
      %li B is justified by C
      %li C is justified by D
      %li ...A regress of justified true beleifs continues on ad-infinitum
    %p So how do you solve the regress problem? A number of "solutions" have been proposed by epidemiologists most of which fall within two camps: foundationalism and coherentism.  Foundationalists assert that all epistemological knowledge is grounded in "basic" or "foundational" beliefs. These "basic" beliefs are a priori justified and thus the JTB criteria for knowledge does not apply at the "bedrock" of our knowledge. In the above example the foundationalist might argue that the regress halts at D perhaps on grounds that "D" is cognitivly given. Coginitive giveness is one example of a criteria argued by foundationalists as self-justifing the bedrock of beliefs. An exmaple might be if a subject observed a red door and formed the belief "the door is red", it would seem absurd to provide further justification to such belief. Beliefs that are "cognitivly given" need no further justification and as such can be understood as foundational in grounding our knowledge.
    %p An alternative to the foundationalism, conheritism solves the regress problem by asserting that all JTBs exist within a coherent system of beliefs.
    %p Now why is this debate of foundationalism versus coherentism important to talking about epistemological anarchy? The answer is simple: it is motivation for the view of epistemological anarchy. If we seek to understand why "scientific" knowledge might be more grounded than "non-scientific" knowledge we need inquire into why this might be the case. Looking the more general question of how knowledge is grounded we arrive at a certain sense of <i>relativism</i> ensued by the regress problem. While answers exist on how to avoid the relativism of the regress problems, these are differing methodological considerations with no more grounding than any JTB.
    %p An interesting solution to the regress problem in furthering our notion of epistemological anarchy is that of Peter Klein's Infinitism.
    Infinitism asserts that the regress problem is not a problem at all but rather simply insists that the regress illustrates a unique feature of human reasoning and epistemology. Infinitism asserts that there is indeed a conception regress which applies to all of our epistemological knowledge, yet nontheless, this is not a problem for epistemology. Rather, %p The first principle of Infinitism is the Principle of Avoiding Circularity (PAC), which states that for any justified beliefs need not be self justified. In other words if x is justified by y, no where in y's justifactory ancestry may x appear. The second principle is the Principle of Avoiding Arbitrariness which states that for any justification x there must be reason for that justification.
    %p Infinitism is fully comptible with the JTB account of knowledge however it purposfully does not solve the regress problem. Klein's Infinitism asserts that the regress of knowledge is infinite and this is not an epistemological problem.
    %p In an article entitled <i>Human Knowledge and the Infinite Regress of Reason</i>, Peter Klein argues that structure of justification in a epistemological descriptive account of knowledge takes the form of an infinite non-repeating regress. This assertion is important to supporting a notion of epistemological anarchy in that it shows that epistemological knowledge is not solidly grounded on "scientific laws" but rather in a chain of infinite justification which remains malleable in terms of methodology.

    %h2 I.<sub>II</sub> The Traditional Narrow View of Science
    %p Science is often viewed as a compartmentalized knowledge-generating institution upon which society's epistemology is grounded. This view of science is overly narrow as it severly limits what <i>could</i> be categorized as "scientific" thought. In this section I will given an analysis of Paul Feyerabend's <i>How to Defend Society Against Science</i>, in which Feyerabend shows mistaken the argument that the knowledge we receive from science is of higher quality than non-scientific knowledge. The implications of Feyerabend's argument calls for a wider and more inclusive view of what is "science" thus lessining the border between "science" and "non-science". 
    %p Consider my following reconstruction of the argument against which Feyerabend argues against in <i>How to Defend Society Aagainst Science</i>:
    %ol
      %li Science has finally found the correct method for achieving results.
      %li There are many results to prove the excellence of the method.
      %li Thus: The knowledge we receive from science is of higher quality merit than non-scientific knowledge.
    %p Feyerabend first attacks (1) by questioning that there is in fact a specific correct method of science by which results are achieved. Feyerabend hints that the problem of induction remains a barrier for any epistemological progress of proposed scientific methods. Because of the problem of induction, scientific theories always remain unsatisfactory in terms of describing in any strict logical sense "how the world is", rather scientific theories merely can only ever answer the question of "how the world has been so far". In other words, our science cannot produce laws such as "all ravens are black" while supporting the occurence of a grey raven.  It follows that science can only provide us with theories and the success of any particular theory is simply in reference to building upon previously established theories. Practically speaking this results in realizing that our science is not grounded nor can provide us with "facts" but rather may only provide us with knowledge contingent on mere observation.
    %p Feyerabend also attacks (2) by arguing that science's produced results cannot be said to prove the excellence of the scientific method because (2) may only be granted if it is the case that "nothing else has ever produced results". If methodology that was unconventional or obviously seemed non-scientific produced results, then the unconventional or non-scientific method would prove the excellence of this method as well. For example, consider a pepole of an unidustrialized village performing a rain dance who have specific cultural rules and ceremony surrounding the rain dance. Mystisic, religious, and cultural ceremony and process can produce results just as science does however it does not prove the excellence of the methodology just as science's results does not speak of any importance in reference to science's methodology.
    %p Additionally, Feyerabend notes that even if (2) were to be assumed to be true, results would only prove the excellence of methodology in so far as <i>only</i> the methodology were responsible for the results. Isolating specific just sciengtific methodology seems like a diffucult endeavor and further pulling upon the history of science, antecedotal does not support this ideology. A rigid scientific method by which scientists follow "set" methods without incorporating "non-scientific" thought is an ideal of hardheaded scientific idealists. Feyerabend references the example from the history of Science that when Copernius introduced his view of the universe he did not reference previous scientific theories alone. Rahter, Copernicus consulted "a crazy Pythagoreon such as Philoalaos".
    %p After attacking and showing that (3) does not follow from (1) &amp; (2), Feyerabend asserts that science should be liked to an ideology in lines with mythology or religion. Since there is no determined method for which science strictly prescribes to, it is not science that is responsible for results independntly but science is merely an ideology rather than an methodology for epistemological disovery. Understanding the science is just an ideology (an ideolpoy <i>of</i> methodology), science is not in sole repsonsible for epistemology progress. Rather, a number of different thoughts and ideologies may feed into the epistemological results and knowledge thought to be produced by science. What we conclude froms this is that science, epistemologically speaking, is an anarchistic practice.

    %h2 II. Methodological Pluralism and Progarmming
    %p Computer programming is a field which <i>can</i> be thought of as scientific. A field of study known as computer science seeks to understand the <i>science</i> behind the way computers works. In this field, methodology is employed in the development of algorithms such as [] . While the field of prograaming has been advanced by traditonal scientific practice, more interesting in an exploration of epistemological anarchism is progressions to the field of programming that have been advanced by practinoners outside of science. While these practiniors are not traditional scientists, in that they did not follow strict scientific methodology, if we assume a wider context of "science", free of methodology, in lines with epistemological anarchism these practiniors are just as much scientists as traditoinal scientists writing papers and following strict methodology.
    %h2 II.I 

    %h2 II.<sub>I</sub> Widing the Context of Science
    %h2 II.<sub>II</sub> Lessening the Divisions of Institutions
    %h2 III. Formalized Argument
    %p The Internet provides a medium for scientific thought without the rigidness of traditional science.

    %h2 III. Argument: The Internet is a More Transparent Epistemological Medium than Science
    %p With Feyerabend's epistemological anarchy and my own conception of the Internet presented, I will now proceed to argue that the Internet provides a wider context than science for epistemological progress by providing a full realization of the potential of epistemological anarchy.
    %ol
      %li Science, as an empirical practice, is a fundamentally epistemologically anarchistic enterprise.
      %li Science as a institution and ideology is governed by methodology and process.
      %li From 1-2: The communication of emperical scientific practice is limited by science as an ideology.
      %li The Internet provides an methodlogical and process free enviroment for epistemological anarchy. 
      %li Thus: The Internet provides a wider context for epistemological progress by providing a full realization of the potentional of epistemological anarchy.
    %h2 The Internet Subsumes 

    %h2 IV. Potential Counter-Arguments
    %p Proceeding, I will introduce a number of potential refutations that may be argued in response to my argument

    %h2 IV.<sub>I</sub> Denial of (1): Science empirically is not a anarchistic enterprise
    %p At face value, an intuitive point that might be made is that science is empirically not an anarchistic practice. 


    #works-cited
      .citation Lycan, William. "Sartwell's Minimalist Analysis of Knowledge." <i>Philosophical Studies</i>. 73. (1994): 1-3. Print.
      .citation Lycan, William. "Sartwell's Minimalist Analysis of Knowledge." <i>Philosophical Studies</i>. 73. (1994): 1-3. Print.
      .citation Lycan, William. "Sartwell's Minimalist Analysis of Knowledge." <i>Philosophical Studies</i>. 73. (1994): 1-3. Print.
