/* Page Layout for MLA */
@page { 
  margin: 72pt 72pt 72pt 72pt;
  font-family: Times New Roman;

  @top {
    text-align: right;
    content: counter(page);
  }
}

/* Double Spaced */
body { line-height: 2em; }
div#title { text-align: center; }

h2 {
  font-size: 12pt; 
  margin-bottom: 0;
  padding-bottom: 0;
}

p { 
  margin: 0;
  text-indent: 0.5in; 
}

ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
li {
  line-height: 1.5em;
  margin-bottom: .5em;
}

span.small {
  margin-left: 1em;
  font-style: italic;
}


/* MLA Style Works-Cited */
#works-cited {
  page-break-before: always;
}

#works-cited .title {
  text-align: center;
  padding-bottom: 1em;
}

#works-cited .citation {
  padding-left: 0.5in;
  text-indent: -0.5in;
}
a {
  color: black;
}
