@page { 
  margin: 1in;
  font-family: Times New Roman;
 /*  font-family: Tymes;*/
  @top-right { content: counter(page); }
}

body {
  line-height: 2em;
  margin: 0;
}

.name { }
.title { text-align: center; }
p { text-indent: 36pt; }


#references {

}
#references .source {
  /* APA Formatted
   * Handing Indent */
  margin-top: -20pt;
  text-indent: -36pt;
  padding-left: 36pt;
}
