@page { 
  margin: 72pt 72pt 72pt 72pt;
  font-family: Times New Roman;
 /*  font-family: Tymes;*/
}

body {
  line-height: 2em;
}

.source {
  /* APA Formatted
   * Handing Indent */
  margin-top: 2em;
  text-indent: -22px;
  padding-left: 22px;
}

.response {
}

.response p {
  padding-left: 22px;
}
